@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Core.Constants
@using Core.Enums
@using LVLgroupApp.Areas.Ocorrencia.Models.Ocorrencia
@model OcorrenciaViewModel

@{
    var dateFormat = localizer["dd/MM/yyyy"].Value;
}


<style>
    .targetContainer {
        min-height: 120px;
        max-height: 150px;
    }

    #targetUsers {
        font-size: 0.8rem;
    }

    #documentsUploaded {
        font-size: 0.8rem;
    }

    .box {
        width: 33%;
        float: left;
    }
    
    .col-list {
        columns: 3;
    }

    .file-container {
    }

    #uploadBtn:hover {
        opacity: 0.7;
    }

    #UploaderDropDown {
        min-width: 500px;
    }

    #LojaDropDown {
        min-width: 500px;
    }

    #ToLojaDropDown {
        min-width: 500px;
    }

    #NotificaDropDown {
        min-width: 500px;
    }

    .tooltip-inner {
        white-space: pre;
        max-width: none;
    }
</style>

<form id="create-form" method="post" asp-area="Ocorrencia" asp-controller="Ocorrencia" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this, event, false);" enctype="multipart/form-data">

    <input type="text" id="EmailAutor" asp-for="EmailAutor" name="EmailAutor" class="form-control" hidden>
    <input type="text" id="DataEntradaSistemaOcorrencia" asp-for="DataEntradaSistemaOcorrencia" name="DataEntradaSistemaOcorrencia" class="form-control" hidden>
    <input type="text" id="TotalFicheiros" asp-for="TotalFicheiros" name="TotalFicheiros" class="form-control" hidden>
    <input type="text" id="OcorrenciaFolder" asp-for="OcorrenciaFolder" name="OcorrenciaFolder" class="form-control" hidden>
    <input type="text" id="CodeId" asp-for="CodeId" name="CodeId" class="form-control" hidden>
    <input type="text" id="TipoOcorrenciaId" asp-for="TipoOcorrenciaId" name="TipoOcorrenciaId" class="form-control" hidden>
    <input type="text" id="Id" asp-for="Id" name="Id" class="form-control" hidden>


    <input type="text" id="MercadoId" name="MercadoId" asp-for="@Model.MercadoId" class="form-control" hidden>
    <input type="text" id="EmpresaId" name="EmpresaId" asp-for="@Model.EmpresaId" class="form-control" hidden>
    <input type="text" id="GrupolojaId" name="GrupolojaId" asp-for="@Model.GrupolojaId" class="form-control" hidden>
    

    <input type="text" id="ToMercadoId" name="ToMercadoId" asp-for="@Model.ToMercadoId" class="form-control" hidden>
    <input type="text" id="ToEmpresaId" name="ToEmpresaId" asp-for="@Model.ToEmpresaId" class="form-control" hidden>
    <input type="text" id="ToGrupolojaId" name="ToGrupolojaId" asp-for="@Model.ToGrupolojaId" class="form-control" hidden>
    



    <!-- logo -->
    <div class="row">
        <div class="col-sm-2">
            @if (Model.Logo != null && Model.Logo.Length > 0)
            {
                <img class="card-img-top img-fluid" src="data:image/*;base64,@(Convert.ToBase64String(Model.Logo))">
            }
        </div>
    </div>
    <!-- logo -->
    <!-- header -->
    <div class="row">
        <div class="col-sm-6">
            @{
                if (Model.Id > 0)
                {
                    <label class="float-lg-start" for="DataOcorrencia">@localizer["Data ocorrência"] : @Model.DataOcorrencia.Date.ToString(dateFormat)</label>
                }
            }
        </div>
        <div class="col-sm-6">
            <label class="float-lg-end" for="CodeId">@localizer["Código"] : @Model.CodeId</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label class="float-lg-start" for="DataEntradaSistemaClaim">@localizer["Data entrada no Portal"] : @Model.DataEntradaSistemaOcorrencia.Date.ToString(dateFormat)</label>
        </div>
        <div class="col-sm-6">
            <label class="float-lg-end" for="EmailResponsável">@localizer["Responsável"] : @Model.EmailAutor</label>
        </div>
    </div>
    <hr />
    <!-- header -->
    <!-- body -->
    <div class="row">
        <div class="col-sm-3 pe-0">
            <div id="files-uploaded" class="file-container w-100 h-100 border border-1 border-secondary rounded overflow-auto">
                <ul id="documentsUploaded" class="w-100 h-100 mb-0 text-start"></ul>
            </div>

            <div class="dropdown">
                <button id="uploadBtn" type="button" class="btn btn-secondary w-100 dropdown-toggle mt-2" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    @localizer["Upload file"]
                </button>
                <div id="UploaderDropDown" class="dropdown-menu dropdown-menu-end p-2">
                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <input type="file" id="fileUpload" name="fileUpload" accept=".jpg, .jpeg, .png, .txt, .pdf, .xlsx, .xlsm, .docx" class="inputfile">
                            <label id="labelfileUpload" for="fileUpload">
                                <i class="fas fa-upload"></i>&nbsp;&nbsp;
                                <span id="spanfileUpload">@localizer["Selecionar documento"]</span>
                            </label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <div class="form-floating mb-3">
                                <textarea id="OcorrenciaDocument_Descrição" name="OcorrenciaDocument.Descrição" type="text" class="form-control" asp-for="@Model.OcorrenciaDocument.Descrição" style="height: 100px;" placeholder="name@example.com"></textarea>
                                <label class="col-form-label" for="Desc">@localizer["Descrição"]</label>
                                @*<span asp-validation-for="Descrição" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 px-6 py-2">
                        @if (!Model.CurrentRole.IsBasic)
                        {
                            <button id="btnUpload" type="button" class="btn btn-danger">@localizer["Upload documento"]</button>
                        }
                        else
                        {
                            <button id="btnUpload" type="button" class="btn btn-danger" disabled>@localizer["Upload documento"]</button>
                        }
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-9">
            <!-- selectores -->
            <div class="row">
                <div class="col-sm-3">
                    <div class="dropdown">
                        <button id="LojaSelector" type="button" class="btn btn-secondary w-100 dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            @localizer["Loja"]
                            <span id="loja-alert" class="invalid-alert" hidden>
                                <i class="bi bi-exclamation-triangle-fill" style="color:red"></i>
                            </span>
                        </button>
                        <input type="text" id="LojaId" name="LojaId" asp-for="@Model.LojaId" class="form-control" hidden>
                        <div id="LojaDropDown" class="dropdown-menu dropdown-menu-end p-2">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-floating mt-3">
                                        @if (Model.EditMode)
                                        {
                                            <select name="SelectMercadoId" class="form-select" id="SelectMercadoId" asp-items="@Model.Mercados" data-placeholder='@localizer["Selecione um mercado"]' disabled>
                                                <option value="0">@localizer["Selecione um mercado"]</option>
                                            </select>
                                        }
                                        else
                                        {
                                            @if (Model.CurrentRole.IsSuperAdmin || Model.CurrentRole.IsAdmin || Model.CurrentRole.IsRevisor)
                                            {
                                                <select name="SelectMercadoId" class="form-select" id="SelectMercadoId" asp-items="@Model.Mercados" data-placeholder='@localizer["Selecione um mercado"]'>
                                                    <option value="0">@localizer["Selecione um mercado"]</option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select name="SelectMercadoId" class="form-select" id="SelectMercadoId" asp-items="@Model.Mercados" data-placeholder='@localizer["Selecione um mercado"]' disabled>
                                                    <option value="0">@localizer["Selecione um mercado"]</option>
                                                </select>
                                            }
                                        }
                                        <label class="col-form-label" for="SelectMercadoId">@localizer["Mercado"]</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating mt-3">
                                        @if (Model.EditMode)
                                        {
                                            <select name="SelectEmpresaId" class="form-select" id="SelectEmpresaId" asp-items="@Model.Empresas" data-placeholder='@localizer["Selecione uma empresa"]' disabled>
                                                <option value="0">@localizer["Selecione uma empresa"]</option>
                                            </select>
                                        }
                                        else
                                        {
                                            @if (Model.CurrentRole.IsSuperAdmin || Model.CurrentRole.IsAdmin || Model.CurrentRole.IsRevisor)
                                            {
                                                <select name="SelectEmpresaId" class="form-select" id="SelectEmpresaId" asp-items="@Model.Empresas" data-placeholder='@localizer["Selecione uma empresa"]'>
                                                    <option value="0">@localizer["Selecione uma empresa"]</option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select name="SelectEmpresaId" class="form-select" id="SelectEmpresaId" asp-items="@Model.Empresas" data-placeholder='@localizer["Selecione uma empresa"]' disabled>
                                                    <option value="0">@localizer["Selecione uma empresa"]</option>
                                                </select>
                                            }
                                        }
                                        <label class="col-form-label" for="SelectEmpresaId">@localizer["Empresa"]</label>
                                        @*<span asp-validation-for="EmpresaId" class="text-danger"></span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-floating mt-3">
                                        @if (Model.EditMode)
                                        {
                                            <select name="SelectGrupolojaId" class="form-select" id="SelectGrupolojaId" asp-items="@Model.GruposLojas" data-placeholder='@localizer["Selecione um agrupamento"]' disabled>
                                                <option></option>
                                            </select>
                                        }
                                        else
                                        {
                                            @if (Model.CurrentRole.IsSuperAdmin || Model.CurrentRole.IsAdmin || Model.CurrentRole.IsRevisor)
                                            {
                                                <select name="SelectGrupolojaId" class="form-select" id="SelectGrupolojaId" asp-items="@Model.GruposLojas" data-placeholder='@localizer["Selecione um agrupamento"]'>
                                                    <option></option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select name="SelectGrupolojaId" class="form-select" id="SelectGrupolojaId" asp-items="@Model.GruposLojas" data-placeholder='@localizer["Selecione um agrupamento"]' disabled>
                                                    <option></option>
                                                </select>
                                            }
                                        }
                                        <label class="col-form-label" for="SelectGrupolojaId">@localizer["Agrupamento"]</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating mt-3">
                                        @if (Model.EditMode)
                                        {
                                            <select name="SelectLojaId" class="form-select" id="SelectLojaId" asp-items="@Model.Lojas" data-placeholder='@localizer["Selecione uma loja"]' disabled>
                                                <option></option>
                                            </select>
                                        }
                                        else
                                        {
                                            @if (Model.CurrentRole.IsSuperAdmin || Model.CurrentRole.IsAdmin || Model.CurrentRole.IsRevisor || Model.CurrentRole.IsSupervisor)
                                            {
                                                <select name="SelectLojaId" class="form-select" id="SelectLojaId" asp-items="@Model.Lojas" data-placeholder='@localizer["Selecione uma loja"]'>
                                                    <option></option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select name="SelectLojaId" class="form-select" id="SelectLojaId" asp-items="@Model.Lojas" data-placeholder='@localizer["Selecione uma loja"]' disabled>
                                                    <option></option>
                                                </select>
                                            }
                                        }
                                        <label class="col-form-label" for="LojaId">@localizer["Loja"]</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="dropdown">
                        <button id="ToLojaSelector" type="button" class="btn btn-secondary w-100 dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" disabled>
                            @localizer[" Para a Loja"]
                            <span id="to-loja-alert" class="invalid-alert" hidden>
                                <i class="bi bi-exclamation-triangle-fill" style="color:red"></i>
                            </span>
                        </button>
                        <input type="text" id="ToLojaId" name="ToLojaId" asp-for="@Model.ToLojaId" class="form-control" hidden>
                        <div id="ToLojaDropDown" class="dropdown-menu dropdown-menu-end p-2">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-floating mt-3">
                                        @if (Model.EditMode)
                                        {
                                            <select name="ToSelectMercadoId" class="form-select" id="ToSelectMercadoId" asp-items="@Model.Mercados" data-placeholder='@localizer["Selecione um mercado"]' disabled>
                                                <option value="0">@localizer["Selecione um mercado"]</option>
                                            </select>
                                        }
                                        else
                                        {
                                            @if (Model.CurrentRole.IsSuperAdmin || Model.CurrentRole.IsAdmin || Model.CurrentRole.IsRevisor)
                                            {
                                                <select name="ToSelectMercadoId" class="form-select" id="ToSelectMercadoId" asp-items="@Model.Mercados" data-placeholder='@localizer["Selecione um mercado"]'>
                                                    <option value="0">@localizer["Selecione um mercado"]</option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select name="ToSelectMercadoId" class="form-select" id="ToSelectMercadoId" asp-items="@Model.Mercados" data-placeholder='@localizer["Selecione um mercado"]' disabled>
                                                    <option value="0">@localizer["Selecione um mercado"]</option>
                                                </select>
                                            }
                                        }
                                        <label class="col-form-label" for="ToSelectMercadoId">@localizer["Mercado"]</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating mt-3">
                                        @if (Model.EditMode)
                                        {
                                            <select name="ToSelectEmpresaId" class="form-select" id="ToSelectEmpresaId" asp-items="@Model.Empresas" data-placeholder='@localizer["Selecione uma empresa"]' disabled>
                                                <option value="0">@localizer["Selecione uma empresa"]</option>
                                            </select>
                                        }
                                        else
                                        {
                                            @if (Model.CurrentRole.IsSuperAdmin || Model.CurrentRole.IsAdmin || Model.CurrentRole.IsRevisor)
                                            {
                                                <select name="ToSelectEmpresaId" class="form-select" id="ToSelectEmpresaId" asp-items="@Model.Empresas" data-placeholder='@localizer["Selecione uma empresa"]'>
                                                    <option value="0">@localizer["Selecione uma empresa"]</option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select name="ToSelectEmpresaId" class="form-select" id="ToSelectEmpresaId" asp-items="@Model.Empresas" data-placeholder='@localizer["Selecione uma empresa"]' disabled>
                                                    <option value="0">@localizer["Selecione uma empresa"]</option>
                                                </select>
                                            }
                                        }
                                        <label class="col-form-label" for="ToSelectEmpresaId">@localizer["Empresa"]</label>
                                        @*<span asp-validation-for="EmpresaId" class="text-danger"></span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-floating mt-3">
                                        @if (Model.EditMode)
                                        {
                                            <select name="ToSelectGrupolojaId" class="form-select" id="ToSelectGrupolojaId" asp-items="@Model.GruposLojas" data-placeholder='@localizer["Selecione um agrupamento"]' disabled>
                                                <option></option>
                                            </select>
                                        }
                                        else
                                        {
                                            @if (Model.CurrentRole.IsSuperAdmin || Model.CurrentRole.IsAdmin || Model.CurrentRole.IsRevisor)
                                            {
                                                <select name="ToSelectGrupolojaId" class="form-select" id="ToSelectGrupolojaId" asp-items="@Model.GruposLojas" data-placeholder='@localizer["Selecione um agrupamento"]'>
                                                    <option></option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select name="ToSelectGrupolojaId" class="form-select" id="ToSelectGrupolojaId" asp-items="@Model.GruposLojas" data-placeholder='@localizer["Selecione um agrupamento"]' disabled>
                                                    <option></option>
                                                </select>
                                            }
                                        }
                                        <label class="col-form-label" for="ToSelectGrupolojaId">@localizer["Agrupamento"]</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating mt-3">
                                        @if (Model.EditMode)
                                        {
                                            <select name="ToSelectLojaId" class="form-select" id="ToSelectLojaId" asp-items="@Model.Lojas" data-placeholder='@localizer["Selecione uma loja"]' disabled>
                                                <option></option>
                                            </select>
                                        }
                                        else
                                        {
                                            @if (Model.CurrentRole.IsSuperAdmin || Model.CurrentRole.IsAdmin || Model.CurrentRole.IsRevisor || Model.CurrentRole.IsSupervisor)
                                            {
                                                <select name="ToSelectLojaId" class="form-select" id="ToSelectLojaId" asp-items="@Model.Lojas" data-placeholder='@localizer["Selecione uma loja"]'>
                                                    <option></option>
                                                </select>
                                            }
                                            else
                                            {
                                                <select name="ToSelectLojaId" class="form-select" id="ToSelectLojaId" asp-items="@Model.Lojas" data-placeholder='@localizer["Selecione uma loja"]' disabled>
                                                    <option></option>
                                                </select>
                                            }
                                        }
                                        <label class="col-form-label" for="ToSelectLojaId">@localizer["Loja"]</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="dropdown">
                        <button id="NotificaSelector" type="button" class="btn btn-secondary w-100 dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            @localizer["Notificações"]
                        </button>
                        <div id="NotificaDropDown" class="dropdown-menu dropdown-menu-end p-2">
                            <div class="mb-0">
                                @localizer["Notificar:"]
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between col-sm-12">
                                    <div class="targetContainer w-100 h-100 border border-1 border-secondary rounded overflow-auto">
                                        <ul id="targetUsers" class="col-list w-100 h-100 mb-0 text-start"></ul>
                                    </div>
                                </div>
                                <input id="ToUserGroups" name="ToUserGroups" type="text" class="form-control" hidden>
                                <input id="ToUserIds" name="ToUserIds" type="text" class="form-control" hidden />
                                <input id="ToUserEmails" name="ToUserEmails" type="text" class="form-control" hidden />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-floating mb-3">
                        <input id="DataOcorrencia" name="DataOcorrencia" type="text" class="form-control" asp-for="DataOcorrencia" value="@Model.DataOcorrencia.ToShortDateString()" placeholder="name@example.com">
                        <label class="col-form-label" for="DataOcorrencia">@localizer["Data da ocorrência"]</label>
                    </div>
                </div>
            </div>
            <!-- selectores -->

            <!-- ocorrencia -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mt-3">
                        <!-- Edit or Create Mode -->
                        @if (Model.EditMode)
                        {
                            <select name="CategoriaId" class="form-select" id="CategoriaId" asp-for="@Model.CategoriaId" asp-items="@Model.Categorias" data-placeholder='@localizer["Selecione uma categoria"]' disabled>
                            </select>
                        }
                        else
                        {
                            <select name="CategoriaId" class="form-select" id="CategoriaId" asp-for="@Model.CategoriaId" asp-items="@Model.Categorias" data-placeholder='@localizer["Selecione uma categoria"]'>
                            </select>
                        }
                        <label class="col-form-label" for="CategoriaId">@localizer["Categoria"]</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mt-3">
                        <!-- Edit or Create Mode -->
                        @if (Model.EditMode)
                        {
                            <select name="StatusId" class="form-select" id="StatusId" asp-for="@Model.StatusId" asp-items="@Model.Status" data-placeholder='@localizer["Selecione o status da ocorrência"]' disabled>
                            </select>
                        }
                        else
                        {
                            <select name="StatusId" class="form-select" id="StatusId" asp-for="@Model.StatusId" asp-items="@Model.Status" data-placeholder='@localizer["Selecione o status da ocorrência"]'>
                            </select>
                        }
                        <label class="col-form-label" for="StatusId">@localizer["Status"]</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-floating mt-3">
                        <!-- Edit or Create Mode -->
                        @if (Model.EditMode)
                        {
                            <select name="SelectTipoOcorrenciaId" class="form-select" id="SelectTipoOcorrenciaId" asp-items="@Model.Tipos" data-placeholder='@localizer["Selecione um tipo de ocorrência"]' disabled>
                            </select>
                        }
                        else
                        {
                            <select name="SelectTipoOcorrenciaId" class="form-select" id="SelectTipoOcorrenciaId" asp-items="@Model.Tipos" data-placeholder='@localizer["Selecione um tipo de ocorrência"]'>
                            </select>
                        }
                        <label class="col-form-label" for="SelectTipoOcorrenciaId">@localizer["Tipo de Ocorrência"]</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-floating mt-3">
                        <input id="OcorrenciaNome" name="OcorrenciaNome" type="text" class="form-control" asp-for="OcorrenciaNome" value="@Model.OcorrenciaNome" placeholder="name@example.com">
                        <label class="col-form-label" for="OcorrenciaNome">@localizer["Ocorrência"]</label>
                    </div>
                </div>
            </div>
            <!-- ocorrencia -->

            <!-- Descrição e Comentário -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mt-3">
                        <textarea id="Descrição" name="Descrição" type="text" class="form-control" asp-for="Descrição" style="height: 100px;" placeholder="name@example.com"></textarea>
                        <label class="col-form-label" for="Descrição">@localizer["Descrição"]</label>
                        @*<span asp-validation-for="MotivoClaim" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating mt-3">
                        <textarea id="Comentário" name="Comentário" type="text" class="form-control" asp-for="Comentário" style="height: 100px;" placeholder="name@example.com"></textarea>
                        <label class="col-form-label" for="Comentário">@localizer["Comentário"]</label>
                        @*<span asp-validation-for="MotivoClaim" class="text-danger"></span>*@
                    </div>
                </div>
            </div>
            <!-- Descrição e Comentário -->
        </div>
    </div>
    <!-- body -->


    <div class="row">
        <div class="col-sm-12 mt-6">
            <div class="form-group justify-content-between">
                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Ocorrencias.Edit)).Result.Succeeded)
                {
                    <button type="submit" id="btnSubmit" class="btn btn-success">@localizer["Salvar ocorrência"]</button>
                }
                <button type="button" id="btnCancel" class="btn btn-secondary close-button" data-bs-dismiss="modal">@localizer["Cancelar"]</button>
            </div>
        </div>
    </div>
</form>

<!-- jquery-validation translated messages -->
@{
    string messageFile = @localizer["messages_pt.js"].Value;
    string url = "/lib/jquery-validation/" + messageFile;
}
<script type="text/javascript" src=@url></script>



<script type="text/javascript" language=javascript>



    // form validation ---------------------------------------------------



    $("#create-form").removeData("validator");

    jQuery.validator.addMethod("loja", function (value, element) {
        //loja selecionada
        console.log("validator loja : value = " + value);
        if(value > 0) return true;
        return false;
    });

    jQuery.validator.addMethod("maiorque", function (value, element, param) {
        console.log("validator maiorque : value = " + value);
        console.log("validator maiorque : param = " + param);
        if(value > param) return true;
        return false;
    });

    $("#create-form").validate({
        rules: {
            LojaId: {
                loja: true
            },
            ToLojaId: {
                loja: function(element) {
                    if ($("#CategoriaId").val() == 2) {
                        return true; 
                    } else {
                        return false;
                    }
                }
            },
            DataOcorrencia: {
                required: true
            },
            CategoriaId: {
                maiorque: 0
            },
            TipoOcorrênciaId: {
                maiorque: 0
            },
            OcorrenciaNome: {
                required: true
            },
            Descrição: {
                required: true
            }
        },
        errorElement: "div",
        errorPlacement: function (error, element) {
            error.addClass("invalid-feedback");
            if ($(element).attr('id') === 'ToLojaId') {
                if ($("#CategoriaId").val() != 2)
                {
                    return;
                }
            }
            if ($(element).hasClass("form-select")) {
                error.insertAfter($(element).parent());
            }
            else
            {
                error.insertAfter(element);
            }
        },
        highlight: function (element) {
            $(element).removeClass('is-valid').addClass('is-invalid');
            if ($(element).attr('id') === 'LojaId') {
                console.log('highlight => LojaId');
                $("#loja-alert").attr('hidden', false)
            }
            if ($(element).attr('id') === 'ToLojaId') {
                console.log('highlight => ToLojaId');
                let catId = $("#CategoriaId").val();
                if (catId == 2)
                {
                    $("#to-loja-alert").attr('hidden', false)
                }                
            }
        },
        unhighlight: function (element) {
            $(element).removeClass('is-invalid').addClass('is-valid');
            if ($(element).attr('id') === 'LojaId') {
                console.log('unhighlight => LojaId');
                $("#loja-alert").attr('hidden', true)
            }
            if ($(element).attr('id') === 'ToLojaId') {
                console.log('unhighlight => ToLojaId');
                $("#to-loja-alert").attr('hidden', true)
            }
        }
    });


    // functions ---------------------------------------------------------



    function LoadLojaSelect_coe(grupoId) {
        //alert("Grupoloja changed = " + grupoId);

        var _grupolojaId = grupoId;
        var _url = "/Business/Loja/LoadLojasInGrupoloja?grupolojaId=" + _grupolojaId;
        var formData = new FormData();
        formData.append("grupolojaId", _grupolojaId);

        $.ajax(
            {
                type: "POST",
                url: _url,
                processData: false,
                contentType: false,
                data: formData,
                dataType: 'json',
                success: function (data) {
                    var _list = JSON.parse(data);
                    // $("#LojaId").val(0);
                    $('#SelectLojaId').find('option').remove();
                    $(_list.lojasList).each(function () {
                        let option = document.createElement('option');
                        $(option).val(this.Value).text(this.Text);
                        $(option).appendTo("#SelectLojaId");
                    });
                    $("#LojaId").val($("#SelectLojaId").val());
                    $('#LojaId').valid();
                    console.log("lojaId foi atualizada = " + $("#LojaId").val());
                },
                error: function () {
                    alert("Error occurs");
                }
            }
        );

    };

    function LoadLojaSelectFromMercado_coe(mercadoId) {

        var _mercadoId = mercadoId;
        var _url = "/Business/Loja/LoadLojasInMercado?mercadoId=" + _mercadoId;
        var formData = new FormData();

        formData.append("mercadoId", _mercadoId);

        $.ajax(
            {
                type: "POST",
                url: _url,
                processData: false,
                contentType: false,
                data: formData,
                dataType: 'json',
                success: function (data) {
                    var _list = JSON.parse(data);
                    // $("#LojaId").val(0);
                    $('#SelectLojaId').find('option').remove();
                    $(_list.lojasList).each(function () {
                        let option = document.createElement('option');
                        $(option).val(this.Value).text(this.Text);
                        $(option).appendTo("#SelectLojaId");
                    });
                    $("#LojaId").val($("#SelectLojaId").val());
                    $('#LojaId').valid();
                    console.log("lojaId foi atualizada = " + $("#LojaId").val());
                },
                error: function () {
                    alert("Error occurs");
                }
            }
        );

    };

    function LoadGrupolojaSelect_coe(empId) {
        //alert("Empresa changed = " + empId);

        var _empresaId = empId;
        var _url = "/Business/Grupoloja/LoadGruposlojas?empresaId=" + _empresaId;
        var formData = new FormData();
        formData.append("empresaId", _empresaId);

        $.ajax(
            {
                type: "POST",
                url: _url,
                processData: false,
                contentType: false,
                data: formData,
                dataType: 'json',
                success: function (data) {
                    var _list = JSON.parse(data);
                    //$("#GrupolojaId").val(0);
                    $('#SelectGrupolojaId').find('option').remove();
                    $(_list.gruposlojasList).each(function () {
                        let option = document.createElement('option');
                        $(option).val(this.Value).text(this.Text);
                        $(option).appendTo("#SelectGrupolojaId");
                    });
                    $("#GrupolojaId").val($("#SelectGrupolojaId").val());
                    LoadLojaSelect_coe($("#SelectGrupolojaId").val());
                },
                error: function () {
                    alert("Error occurs");
                }
            }
        );
    };


    function LoadToLojaSelect_coe(grupoId) {
        //alert("ToGrupoloja changed = " + grupoId);

        var _grupolojaId = grupoId;
        var _url = "/Business/Loja/LoadLojasInGrupoloja?grupolojaId=" + _grupolojaId;
        var formData = new FormData();
        formData.append("grupolojaId", _grupolojaId);

        $.ajax(
            {
                type: "POST",
                url: _url,
                processData: false,
                contentType: false,
                data: formData,
                dataType: 'json',
                success: function (data) {
                    var _list = JSON.parse(data);
                    $("#ToLojaId").val(0);
                    $('#ToSelectLojaId').find('option').remove();
                    $(_list.lojasList).each(function () {
                        let option = document.createElement('option');
                        $(option).val(this.Value).text(this.Text);
                        $(option).appendTo("#ToSelectLojaId");
                    });
                    $("#ToLojaId").val($("#ToSelectLojaId").val());
                    $('#ToLojaId').valid();
                    console.log("TolojaId foi atualizada = " + $("#ToLojaId").val());
                },
                error: function () {
                    alert("Error occurs");
                }
            }
        );

    };

    function LoadToLojaSelectFromMercado_coe(mercadoId) {

        var _mercadoId = mercadoId;
        var _url = "/Business/Loja/LoadLojasInMercado?mercadoId=" + _mercadoId;
        var formData = new FormData();

        formData.append("mercadoId", _mercadoId);

        $.ajax(
            {
                type: "POST",
                url: _url,
                processData: false,
                contentType: false,
                data: formData,
                dataType: 'json',
                success: function (data) {
                    var _list = JSON.parse(data);
                    // $("#ToLojaId").val(0);
                    $('#ToSelectLojaId').find('option').remove();
                    $(_list.lojasList).each(function () {
                        let option = document.createElement('option');
                        $(option).val(this.Value).text(this.Text);
                        $(option).appendTo("#ToSelectLojaId");
                    });
                    $("#ToLojaId").val($("#ToSelectLojaId").val());
                    $('#ToLojaId').valid();
                    console.log("TolojaId foi atualizada = " + $("#ToLojaId").val());
                },
                error: function () {
                    alert("Error occurs");
                }
            }
        );

    };

    function LoadToGrupolojaSelect_coe(empId) {
        //alert("ToEmpresa changed = " + empId);

        var _empresaId = empId;
        var _url = "/Business/Grupoloja/LoadGruposlojas?empresaId=" + _empresaId;
        var formData = new FormData();
        formData.append("empresaId", _empresaId);

        $.ajax(
            {
                type: "POST",
                url: _url,
                processData: false,
                contentType: false,
                data: formData,
                dataType: 'json',
                success: function (data) {
                    var _list = JSON.parse(data);
                    //$("#ToGrupolojaId").val(0);
                    $('#ToSelectGrupolojaId').find('option').remove();
                    $(_list.gruposlojasList).each(function () {
                        let option = document.createElement('option');
                        $(option).val(this.Value).text(this.Text);
                        $(option).appendTo("#ToSelectGrupolojaId");
                    });
                    $("#ToGrupolojaId").val($("#ToSelectGrupolojaId").val());
                    LoadToLojaSelect_coe($("#ToSelectGrupolojaId").val());
                },
                error: function () {
                    alert("Error occurs");
                }
            }
        );
    };


    function DeleteDocumentUploaded(documentId) {
    
        if (documentId == null || documentId == 0) return false;
        let _documentId = documentId;
        let _url = "/Ocorrencia/Ocorrencia/DeleteOcorrenciaDocument?documentId=" + _documentId;
        console.log("LoadViewDocuments: documentId = " + _documentId)

        let formData = new FormData();
        formData.append("documentId", _documentId);

        $.ajax(
            {
                type: "POST",
                url: _url,
                processData: false,
                contentType: false,
                data: formData,
                dataType: 'json',
                success: function (data) {
                    console.log("document deleted: " + data.status);
                },
                error: function (data) {
                    console.log("Error occurs");
                }
            }
        );
    };

    function AddDocumentUploadedLi(objDocument) {

        console.log("document path: " + objDocument.FilePath + " || document fileName: " + objDocument.FileName + " || document desc: " + objDocument.Descrição);
        let _folder =$('#OcorrenciaFolder').val();

        let ul = document.getElementById("documentsUploaded");
        let li = document.createElement('li');
        li.setAttribute("class", "liDocument");

        //<a href="#" data-bs-toggle="tooltip" data-bs-title="Another tooltip" data-bs-placement="right">real text</a>
        let anchor = document.createElement("a");
        anchor.setAttribute("class", "document-link");
        anchor.setAttribute("href", "/Ocorrencia/Ocorrencia/DownloadFile?fileName=" + objDocument.FileName + "&ocorrenciaFolder=" + _folder);
        anchor.setAttribute("data-bs-toggle", "tooltipDocument");
        anchor.setAttribute("data-bs-placement", "right");
        anchor.setAttribute("data-documentId", objDocument.Id);
        anchor.setAttribute("target", "_blank");

        let uplDate = (new Date(objDocument.UploadDate)).toLocaleDateString('@localizer["pt-PT"]');
        let strTitle = objDocument.Descrição + '\n' + '[' + uplDate + ']';
        anchor.setAttribute("data-bs-title", strTitle);

        let text = document.createTextNode(objDocument.FileName + ';');
        anchor.appendChild(text);

        let deleteBtn = document.createElement('button');
        deleteBtn.setAttribute("class", "btn btndelete py-0");

        let deleteIcon = document.createElement("i");
        deleteIcon.setAttribute("class", "fa fa-times");
        deleteIcon.setAttribute("style", "font-size: 1em; color: red;");

        deleteBtn.appendChild(deleteIcon);
        deleteBtn.addEventListener('click', function () {
            let liElement = this.parentElement;
            let anchorElement = liElement.children[0];
            let documentId = anchorElement.getAttribute("data-documentId");
            liElement.remove();
            // remover document no server
            DeleteDocumentUploaded(documentId);
            // atualizar TotalFicheiros
            let totalFicheiros = parseInt($('#TotalFicheiros').val(), 10);
            totalFicheiros = totalFicheiros - 1;
            $('#TotalFicheiros').val(totalFicheiros);
        })

        //append to form
        li.appendChild(anchor);
        li.appendChild(deleteBtn);
        ul.appendChild(li);

        //tooltip init
        let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltipDocument"]'))
        let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        // atualizar TotalFicheiros
        let totalFicheiros = parseInt($('#TotalFicheiros').val(), 10);
        totalFicheiros = totalFicheiros + 1;
        $('#TotalFicheiros').val(totalFicheiros)

    };

    function LoadViewDocuments() {

        let _ocorrenciaId = $('#Id').val();
        let _folder =$('#OcorrenciaFolder').val();
        let _url = "/Ocorrencia/Ocorrencia/OnGetViewDocuments?ocorrenciaId=" + _ocorrenciaId + "&ocorrenciaFolder=" + _folder;
        console.log("LoadViewDocuments: ocorrenciaId=" + _ocorrenciaId + ", folder=" + _folder);

        let formData = new FormData();
        formData.append("ocorrenciaId", _ocorrenciaId);
        formData.append("ocorrenciaFolder", _folder);

        $.ajax(
            {
                type: "POST",
                url: _url,
                processData: false,
                contentType: false,
                data: formData,
                dataType: 'json',
                success: function (data) {
                    str2 = JSON.stringify(data, null, 4); // (Optional) beautiful indented output.
                    console.log("documents list: " + str2); // Logs output to dev tools console.
                    let _list = JSON.parse(data);
                    $('#documentsUploaded').find('li').remove();
                    $(_list.documentList).each(function () {
                        console.log("document path: " + this.FilePath + " || document fileName: " + this.FileName);
                        AddDocumentUploadedLi(this);
                    });
                },
                error: function (data) {
                    console.log("Error occurs");
                }
            }
        );
    };

    function InitFileUpload() {

        var input = document.getElementById("fileUpload"),
            label = document.getElementById("labelfileUpload"),
            span = document.getElementById("spanfileUpload"),
            spanVal = span.innerHTML;

        input.addEventListener('change', function (e) {
            //alert("files to upload: " + this.files.length);
            var fileName = '';

            if (this.files && this.files.length > 1) {
                //multiple files to upload
                spanVal = this.files.length + '@localizer["ficheiros selecionados."]';
            }
            else {
                //single file to upload
                fileName = e.target.value.split('\\').pop();
            }

            if (fileName) {
                span.innerHTML = fileName;
            }
            else {
                span.innerHTML = spanVal;
            }
        });
    };

    function UpdateTiposOcorrencias() {

        let _categoriaId = $("#CategoriaId").val();
        let _url = "/Ocorrencia/TipoOcorrencia/LoadTiposInCategoria?categoriaId=" + _categoriaId;
        console.log("UpdateTiposOcorrencias: categoriaId=" + _categoriaId);

        let formData = new FormData();
        formData.append("categoriaId", _categoriaId);

        $.ajax(
            {
                type: "POST",
                url: _url,
                processData: false,
                contentType: false,
                data: formData,
                dataType: 'json',
                success: function (data) {
                    var _list = JSON.parse(data);
                    $('#SelectTipoOcorrenciaId').find('option').remove();
                    $("#SelectTipoOcorrenciaId").val(0);
                    $(_list.tiposList).each(function () {
                        let option = document.createElement('option');
                        $(option).val(this.Value).text(this.Text);
                        $(option).appendTo("#SelectTipoOcorrenciaId");
                    });
                    $("#TipoOcorrenciaId").val($('#SelectTipoOcorrenciaId').val());
                    console.log("TipoOcorrenciaId = " + $("#TipoOcorrenciaId").val());
                },
                error: function () {
                    alert("Error occurs");
                }
            }
        );
    };

    function UpdateOcorrenciasStatus() {
    
        let _categoriaId = $("#CategoriaId").val();
        let _url = "/Ocorrencia/Ocorrencia/LoadStatusInCategoria?categoriaId=" + _categoriaId;
        console.log("UpdateOcorrenciasStatus: categoriaId=" + _categoriaId);

        let formData = new FormData();
        formData.append("categoriaId", _categoriaId);

        $.ajax(
            {
                type: "POST",
                url: _url,
                processData: false,
                contentType: false,
                data: formData,
                dataType: 'json',
                success: function (data) {
                    var _list = JSON.parse(data);
                    $('#StatusId').find('option').remove();
                    $(_list.statusList).each(function () {
                        let option = document.createElement('option');
                        $(option).val(this.Value).text(this.Text);
                        $(option).appendTo("#StatusId");
                    });
                },
                error: function () {
                    alert("Error occurs");
                }
            }
        );
    };



    // inicializar plugin select2 ----------------------------------------



    $('#SelectTipoOcorrenciaId').select2({
        theme: 'bootstrap-5',
        width: '100%',
        escapeMarkup: function (m) {
            return m;
        },
        dropdownParent: $('#form-modal')
    });

    $('#SelectMercadoId').select2({
        theme: 'bootstrap-5',
        width: '100%',
        escapeMarkup: function (m) {
            return m;
        },
        dropdownParent: $('#form-modal')
    });

    $('#SelectEmpresaId').select2({
        theme: 'bootstrap-5',
        width: '100%',
        escapeMarkup: function (m) {
            return m;
        },
        dropdownParent: $('#form-modal')
    });

    $('#SelectGrupolojaId').select2({
        theme: 'bootstrap-5',
        width: '100%',
        escapeMarkup: function (m) {
            return m;
        },
        dropdownParent: $('#form-modal')
    });

    $('#SelectLojaId').select2({
        theme: 'bootstrap-5',
        width: '100%',
        escapeMarkup: function (m) {
            return m;
        },
        dropdownParent: $('#form-modal')
    });

    $('#ToSelectMercadoId').select2({
        theme: 'bootstrap-5',
        width: '100%',
        escapeMarkup: function (m) {
            return m;
        },
        dropdownParent: $('#form-modal')
    });

    $('#ToSelectEmpresaId').select2({
        theme: 'bootstrap-5',
        width: '100%',
        escapeMarkup: function (m) {
            return m;
        },
        dropdownParent: $('#form-modal')
    });

    $('#ToSelectGrupolojaId').select2({
        theme: 'bootstrap-5',
        width: '100%',
        escapeMarkup: function (m) {
            return m;
        },
        dropdownParent: $('#form-modal')
    });

    $('#ToSelectLojaId').select2({
        theme: 'bootstrap-5',
        width: '100%',
        escapeMarkup: function (m) {
            return m;
        },
        dropdownParent: $('#form-modal')
    });



    // event handlers ----------------------------------------------------



    $("#btnUpload").on('click', function () {

        console.log("EventListener : #btnUpload clicked.");

        $("#uploadBtn").dropdown('toggle');

        var _ocorrId = $('#Id').val();
        var _folder = $('#OcorrenciaFolder').val();
        var _desc = $('#OcorrenciaDocument_Descrição').val();
        var _files = $('#fileUpload').prop("files");

        if (_files.length == 0) return false;

        var _url = "/Ocorrencia/Ocorrencia/UploadToFolder?handler=fileDocument&ocorrenciaId=" + _ocorrId + "&ocorrenciaFolder=" + _folder + "&descrição=" + _desc;
        var formData = new FormData();

        formData.append("ocorrenciaId", _ocorrId);
        formData.append("ocorrenciaFolder", _folder);
        formData.append("descrição", _desc);
        formData.append("fileDocument", _files[0]);

        $.ajax(
            {
                type: "POST",
                url: _url,
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    if (data.status == "success") {
                        $('#OcorrenciaDocument_Descrição').val('');
                        var $el = $('#fileUpload');
                        $el.wrap('<form>').closest('form').get(0).reset();
                        $el.unwrap();
                        $('#spanfileUpload').html('@localizer["Selecionar documento"]');
                        alert('@localizer["O documento foi carregado com sucesso"]');
                        LoadViewDocuments();
                    }
                },
                error: function () {
                    alert("Error occurs");
                }
            }
        );

    });


    $("#SelectEmpresaId").on("change", function () {

        $("#EmpresaId").val(this.value);
        console.log("EmpresaId changed to " +  $("#EmpresaId").val());

        if (this.value > 0)
        {
            // selecionar loja atraves da Empresa
            $('#SelectMercadoId').prop('disabled', true);
            LoadGrupolojaSelect_coe(this.value);
        }
        else
        {
            // selecionar loja atraves do Mercado
            $('#SelectEmpresaId').val(0);
            $('#SelectGrupolojaId').find('option').remove();
            $('#SelectLojaId').find('option').remove();
            $('#SelectMercadoId').prop('disabled', false);
            //LoadLojaSelect_coe(this.value);
        }
    });


    $("#SelectMercadoId").on("change", function () {

        $("#MercadoId").val(this.value);

        if (this.value > 0)
        {
            // selecionar loja atraves do Mercado
            $('#SelectEmpresaId').val(0);
            $('#SelectGrupolojaId').find('option').remove();
            $('#SelectLojaId').find('option').remove();
            $('#SelectEmpresaId').prop('disabled', true);
            $('#SelectGrupolojaId').prop('disabled', true);
            LoadLojaSelectFromMercado_coe(this.value);
        }
        else
        {
            // selecionar loja atraves da Empresa
            $('#SelectEmpresaId').prop('disabled', false);
            $('#SelectGrupolojaId').prop('disabled', false);
            console.log("MercadoId=0, selecionar loja atravez da Empresa, #EmpresaId=" + $('#EmpresaId').val());
            LoadGrupolojaSelect_coe($('#EmpresaId').val());
        }
    });


    $("#SelectGrupolojaId").on("change", function () {
        $("#GrupolojaId").val(this.value);
        LoadLojaSelect_coe(this.value);
    });

    $("#SelectLojaId").on("change", function () {
        $("#LojaId").val(this.value);
        $('#LojaId').valid();
        console.log("lojaId foi atualizada = " + $("#LojaId").val());
    });

    $("#ToSelectMercadoId").on("change", function () {

        $("#ToMercadoId").val(this.value);

        if (this.value > 0)
        {
            // selecionar loja atraves do Mercado
            $('#ToSelectEmpresaId').val(0);
            $('#ToSelectGrupolojaId').find('option').remove();
            $('#ToSelectLojaId').find('option').remove();
            $('#ToSelectEmpresaId').prop('disabled', true);
            $('#ToSelectGrupolojaId').prop('disabled', true);
            LoadToLojaSelectFromMercado_coe(this.value);
        }
        else
        {
            // selecionar loja atraves da Empresa
            $('#ToSelectEmpresaId').prop('disabled', false);
            $('#ToSelectGrupolojaId').prop('disabled', false);
            console.log("ToMercadoId=0, selecionar loja atravez da Empresa, #ToEmpresaId=" + $('#ToEmpresaId').val());
            LoadToGrupolojaSelect_coe($('#ToEmpresaId').val());
        }
    });

    $("#ToSelectEmpresaId").on("change", function () {

        $("#ToEmpresaId").val(this.value);

        if (this.value > 0)
        {
            // selecionar loja atraves da Empresa
            $('#ToSelectMercadoId').prop('disabled', true);
            LoadToGrupolojaSelect_coe(this.value);
        }
        else
        {
            // selecionar loja atraves do Mercado
            $('#ToSelectEmpresaId').val(0);
            $('#ToSelectGrupolojaId').find('option').remove();
            $('#ToSelectLojaId').find('option').remove();
            $('#ToSelectMercadoId').prop('disabled', false);
            //LoadToLojaSelect_coe(this.value);
        }
    });

    $("#ToSelectGrupolojaId").on("change", function () {
        $("#ToGrupolojaId").val(this.value);
        LoadToLojaSelect_coe(this.value);
    });

    $("#ToSelectLojaId").on("change", function () {
        $("#ToLojaId").val(this.value);
        $('#ToLojaId').valid();
        console.log("TolojaId foi atualizada = " + $("#ToLojaId").val());
    });

    $("#SelectTipoOcorrenciaId").on("change", function () {
        $("#TipoOcorrenciaId").val(this.value);
        console.log("TipoOcorrenciaId foi atualizada = " + $("#TipoOcorrenciaId").val());
    });

    $("#CategoriaId").on("change", function () {

        $('#CategoriaId').valid();
        console.log("CategoriaId foi atualizada = " + $("#CategoriaId").val());

        UpdateTiposOcorrencias();
        UpdateOcorrenciasStatus();

        if ($("#CategoriaId").val() == 2)
        {
            //categoria = "Interlojas"
            $('#ToLojaSelector').prop('disabled', false);
            $('#ToLojaId').valid();
        }
        else
        {
            //categoria != "Interlojas"
            $('#ToLojaSelector').prop('disabled', true);
            $("#to-loja-alert").attr('hidden', true);
            if($('#ToLojaSelector').next().next().hasClass('error')){
                $('#ToLojaSelector').next().next().remove();
            }
        }

    });



    // DataOcorrencia ----------------------------------------------------



    $("#DataOcorrencia").flatpickr({
        dateFormat: '@localizer["d-m-Y"]',
        maxDate: 'today',
        locale: '@localizer["pt"]'
    });

    console.log("DataOcorrencia flatpicker started");

    $('#DataOcorrencia').on("change", function () {
        console.log("DataOcorrencia changed to " + this.value);
    });



    // inicializar FileUploader ------------------------------------------



    LoadViewDocuments();
    InitFileUpload();
    UpdateTiposOcorrencias();


</script>