@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Core.Constants




<!--Tabela de QuestionTemplate-->
<div id="QuestionTemplateContainer" class="mt-3">
    <div class="row pt-lg-6">
        <div class="col-12">

            <table id="questionTemplateTable" class="table table-striped dt-responsive nowrap display hover" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@localizer["Id"]</th>
                        <th>@localizer["Pergunta"]</th>
                        <th>@localizer["Tipo"]</th>
                        <th>@localizer["Data"]</th>
                        <th>@localizer["Relatórios"]</th>
                        <th>@localizer["Ações"]</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
</div>









<script>

    $(document).ajaxStop(function () {
        $.busyLoadFull("hide");
    });


    $(document).ready(function () {

        $.busyLoadSetup({ fontawesome: "fa fa-spinner fa-spin fa-3x fa-fw" });


        var options = {
            isEnabled: true,
            saveState: true
        };

        var languagePath = '@Url.Content("~/lib/datatables/localizer/")';
        var languageFile = '@localizer["Portuguese.json"]';
        var _language = languagePath + languageFile;

        if ($.fn.dataTable.isDataTable('#questionTemplateTable')) {
            $('#questionTemplateTable').DataTable().clear();
            $('#questionTemplateTable').DataTable().destroy();
        }

        var table = $("#questionTemplateTable").DataTable({
            dom: "<'row'<'col-sm-12 col-md-4'B><'col-sm-12 col-md-4 mt-1'l><'col-sm-12 col-md-4 mt-1'f>>" +
                "<'row'<'col-sm-12't>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 mt-3'p>>",
            serverSide: true,
            stateSave: true,
            //scrollX: true,
            //scrollY: true,
            responsive: false,
            destroy: true,
            fixedHeader: {
                header: true,
                headerOffset: $('#navigationBar').height()
            },
            language: {
                url: _language
            },
            lengthMenu: [
                [20, 50, 100, 500, 1000, -1],
                [20, 50, 100, 500, 1000, '@localizer["Todos"]'],
            ],
            ajax: {
                url: "/Report/questionTemplate/GetQuestionTemplates",
                type: "POST",
                datatype: "json",
                data: function (d) {

                    $.busyLoadFull("show");

                    d.questionType = $('#QuestionType').val();
                    d.version = $('#VersionIndex').val();
                    d.isActive = $('#ActiveIndex').is(':checked');

                    //str = JSON.stringify(d, null, 4); // (Optional) beautiful indented output.
                    //console.log(str); // Logs output to dev tools console.
                }
            },
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="fas fa-copy"></i>',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    },
                    title: '@localizer["Lista de Modelos de Pergunta"]'
                },
                {
                    extend: 'pdf',
                    text: '<i class="fas fa-file-pdf"></i>',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    },
                    title: '@localizer["Lista de Modelos de Pergunta"]',
                    customize: function (doc) {
                        doc.content.splice(1, 0, {
                            margin: [0, 0, 0, 12],
                            alignment: 'center',
                            image: 'data: image/*;base64,' + logo,
                            fit: [100, 100]
                        });
                    }
                },
                {
                    extend: 'excel',
                    text: '<i class="fas fa-file-excel"></i>',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    },
                    title: '@localizer["Lista de Modelos de Pergunta"]'
                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i>',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    },
                    title: '@localizer["Lista de Modelos de Pergunta"]',
                    customize: function (doc) {
                        doc.content.splice(1, 0, {
                            margin: [0, 0, 0, 12],
                            alignment: 'center',
                            image: 'data: image/*;base64,' + logo,
                            fit: [100, 100]
                        });
                    }
                },
                {
                    extend: 'colvis',
                    text: '<i class="fas fa-eye-slash"></i>'
                }
            ],
            columnDefs: [

                {
                    orderable: false, targets: [2, 3, 4, 5]
                },
                {
                    orderData: [0, 1], targets: [0]
                },
                {
                    orderData: [1, 0], targets: [1]
                }
            ],
            // order: [[0, 'desc']],
            columns: [
                { data: "id", name: "Id", autoWidth: true },
                {
                    data: "questionText",
                    name: "QuestionText",
                    render: function (data) {
                        //str = JSON.stringify(data, null, 4); // (Optional) beautiful indented output.
                        //console.log(str); // Logs output to dev tools console.
                        return "<div class='text-wrap text-break' style='width: 400px'>" + data + "</div>";
                    }
                },
                { data: "questionTypeName", name: "QuestionTypeName", autoWidth: true },
                {
                    data: null,
                    name: "CreatedAt",
                    render: function (data, type, row) {
                        //str = JSON.stringify(data, null, 4); // (Optional) beautiful indented output.
                        //console.log("createdAt data:" + str); // Logs output to dev tools console.
                        var questionDate = new Date(data.createdAt);
                        var strDate = questionDate.toLocaleDateString('@localizer["pt-PT"]');

                        var active = `<span class="badge text-bg-success" style="padding-top: 5px;">@localizer["Ativa"]</span>
                                      <span class="badge text-bg-success" style="padding-top: 5px;">@localizer["Versão:"] ${data.version}</span>`
                        var noactive = `<span class="badge text-bg-warning" style="padding-top: 5px;">@localizer["Inativa"]</span>
                                        <span class="badge text-bg-warning" style="padding-top: 5px;">@localizer["Versão:"] ${data.version}</span>`
                        var strCreated = `<span class="badge text-bg-secondary" style="padding-top: 5px;">${strDate}</span>`
                        //console.log("contacted=" + JSON.stringify(contacted)); // Logs output to dev tools console.

                        if (data.isActive) return strCreated  + '<br>' + active;
                        return strCreated  + '<br>' + noactive;
                    }
                },
                {
                    data: null,
                    name: "UsedInReports",
                    render: function (data) {
                        return `<span class="badge text-bg-info" style="padding-top: 5px;">${data.usedInReports}</span>`;
                    }
                },
                {
                    "data": "id",
                    "render": function (data) {
                        return `<div class="btn-group dropend">
                                        <button id="dropdown_${data}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @localizer["Ação"]
                                        </button>
                                            <div class="dropdown-menu dropdown-menu-table shadow animated--grow-in" aria-labelledby="dropdown_${data}">
                                            <a class="dropdown-item" onclick="jQueryModalGet('/Report/questionTemplate/OnGetCreateOrEdit?id=${data}', '@localizer["Editar Modelo de Pergunta"]', event, 'modal-xl')"><i class="fas fa-pencil-alt"></i> @localizer["Editar"]</a>
                                            <form id="form_delete_${data}" action="/Report/questionTemplate/OnPostDelete?id=${data}" onsubmit="return jQueryModalDelete(this, event, '@localizer["Tem a certeza que pretende remover este modelo de Pergunta?"]')">
                                                <a class="dropdown-item" href="javascript:$('#form_delete_${data}').submit();"><i class="fas fa-trash-alt"></i> @localizer["Remover"]</a>
                                            </form>
                                        </div>
                                    </div>`;
                    }
                }
            ]
        });




        $('#questionTemplateTable').on('show.bs.dropdown', function () {
            $('.dataTables_scrollBody').addClass('dropdown-visible');
            $('.dataTables_scrollHead').addClass('dropdown-visible');
        })
        .on('hide.bs.dropdown', function () {
            $('.dataTables_scrollBody').removeClass('dropdown-visible');
            $('.dataTables_scrollHead').removeClass('dropdown-visible');
        });

        $('#questionTemplateTable tbody').on('click', 'tr', function () {

            var data = table.row( $(this) ).data();
            str = JSON.stringify(data, null, 4);        // (Optional) beautiful indented output.
            console.log("row clicked: " + str);         // Logs output to dev tools console.
            
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            } else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        $('#questionTemplateTable tbody').on('dblclick', 'tr', function () {
            $(this).addClass('selected');
            var data = table.row(this).data();

            str = JSON.stringify(data, null, 4);        // (Optional) beautiful indented output.
            console.log("row dblclicked: " + str);         // Logs output to dev tools console.

            jQueryModalGet('/report/questiontemplate/OnGetCreateOrEdit?id=' + data.id, '@localizer["Editar modelo de pergunta"]', event, 'modal-xl')
        });

        function getLVLlogo(logoName) {

            let _logoName = logoName;
            let _url = "/Claim/Foto/GetLVLlogo?logoName=_logoName";
            let formData = new FormData();
            formData.append("logoName", _logoName);

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        if (data.status == "success") {
                            logo = data.logoBase64;
                            //alert(logo);
                        }
                    },
                    error: function () {
                        alert("getLVLlogo: Error occurs");
                    }
                }
            );

        };

    });

</script>
