@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Core.Constants
@using LVLgroupApp.Areas.Cliente.Models.Cliente
@using LVLgroupApp.Areas.Artigo.Models.Artigo
@model TabArtigoViewModel
@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "Artigo";
}

<div id="ViewTabArtigo" class="col-md-12">
    <input type="text" id="Artigo_Referencia" asp-for="@Model.Referencia" name="Artigo.Referencia" class="form-control" hidden>
    <div class="row pb-lg-3">
        <div class="col-md-4">
            <div class="form-floating mt-3">
                <select name="Artigo.ArtigoId" class="form-select" id="Artigo_ArtigoId" data-placeholder='@localizer["Selecione um artigo"]' asp-for="@Model.ArtigoId" value="@Model.ArtigoId">
                    @if (Model.ArtigoId > 0)
                    {
                        <option value="@Model.ArtigoId" selected="selected">@Model.Referencia</option>
                    }
                </select>
                <label class="col-form-label" for="Artigo_ArtigoId">@localizer["Artigo"]</label>
                @*<small><span asp-validation-for="@Model.ArtigoId" class="text-danger"></span></small>*@
            </div>
        </div>
        <div class="col-md-8">
            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Artigos.Create)).Result.Succeeded)
            {
                <a onclick="jQueryModalGet('/Artigo/Artigo/OnGetCreateArtigo','@localizer["Criar artigo"]', event, 'modal-xl')" class="btn btn-success float-lg-end mt-3">
                    <i class="fa fa-plus-square"></i> @localizer["Criar artigo"]
                </a>
            }
        </div>
    </div>

    <div class="row pb-lg-3">
        <div class="col-md-4">
            <div class="form-floating mt-3">
                <input id="Artigo_Empresa" name="Artigo.Empresa" asp-for="@Model.Empresa" type="text" class="form-control" placeholder="name@example.com" readonly>
                <label class="col-form-label" for="Artigo_Empresa">@localizer["Empresa"]</label>
                @*<small><span asp-validation-for="@Model.Empresa" class="text-danger"></span></small>*@
            </div>
            <input type="text" id="Artigo_EmpresaId" asp-for="@Model.EmpresaId" name="Artigo.EmpresaId" class="form-control" hidden>
        </div>
        <div class="col-md-4">
            <div class="form-floating mt-3">
                <input id="Artigo_Cor" name="Artigo.Cor" asp-for="@Model.Cor" type="text" class="form-control" placeholder="name@example.com" readonly>
                <label class="col-form-label" for="Artigo_Cor">@localizer["Cor"]</label>
                @*<small><span asp-validation-for="@Model.Cor" class="text-danger"></span></small>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mt-3">
                <input id="Artigo_Pele" name="Artigo.Pele" asp-for="@Model.Pele" type="text" class="form-control" placeholder="name@example.com" readonly>
                <label class="col-form-label" for="Artigo_Pele">@localizer["Pele"]</label>
                @*<small><span asp-validation-for="@Model.Pele" class="text-danger"></span></small>*@
            </div>
        </div>
    </div>

    <div class="row pb-lg-3">
        <div class="col-md-4">
            <input type="text" id="Artigo_GenderId" asp-for="@Model.GenderId" name="Artigo.GenderId" class="form-control" hidden>
            <div class="form-floating mt-3">
                <input id="Artigo_Gender" name="Artigo.Gender" asp-for="@Model.Gender" type="text" class="form-control" placeholder="name@example.com" readonly>
                <label class="col-form-label" for="Artigo_Gender">@localizer["Género"]</label>
                @*<small><span asp-validation-for="@Model.Gender" class="text-danger"></span></small>*@
            </div>
        </div>
        <div class="col-md-4">
            <input type="text" id="Artigo_Tamanho" asp-for="@Model.Tamanho" name="Artigo.Tamanho" class="form-control" hidden>
            <div class="form-floating mt-3">
                <select name="Artigo.TamanhoId" class="form-select" id="Artigo_TamanhoId" data-placeholder='@localizer["Selecione um tamanho"]' asp-for="@Model.TamanhoId" value="@Model.Tamanhos">
                </select>
                <label class="col-form-label" for="Artigo_TamanhoId">@localizer["Tamanho"]</label>
                @*<small><span asp-validation-for="@Model.TamanhoId" class="text-danger"></span></small>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mt-3">
                <input id="Artigo_DataCompra" name="Artigo.DataCompra" asp-for="@Model.DataCompra" type="text" class="form-control" value="@Model.DataCompra.ToShortDateString()"  placeholder="name@example.com">
                <label class="col-form-label" for="Artigo_DataCompra">@localizer["Data da compra"]</label>
                @*<small><span asp-validation-for="@Model.DataCompra" class="text-danger"></span></small>*@
            </div>
        </div>
    </div>

    <div class="row pb-lg-3">
        <div class="col-md-8">
            <div class="form-floating mt-3">
                <textarea id="Artigo_DefeitoDoArtigo" name="Artigo.DefeitoDoArtigo" asp-for="@Model.DefeitoDoArtigo" class="form-control" placeholder="name@example.com" wrap="soft" style="height: 100px;"></textarea>
                <label class="col-form-label" for="Artigo_DefeitoDoArtigo">@localizer["Defeito do artigo"]</label>
                @*<small><span asp-validation-for="@Model.DefeitoDoArtigo" class="text-danger"></span></small>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 mx-auto text-center" style="padding-top: 35px;">
                    <strong><span class="text-center" id="DiasTempoCompra"></span></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mx-auto text-center" style="padding-top: 15px;">
                    <strong><span class="text-center" id="MesesTempoCompra"></span></strong>
                </div>
            </div>
        </div>
    </div>
</div>



