@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Core.Constants
@using LVLgroupApp.Areas.Artigo.Models.Artigo
@model ArtigoViewModel

<form id="create-form" method="post" asp-area="Artigo" asp-controller="Artigo" asp-action="OnPostCreateArtigo" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this, event, true);" enctype="multipart/form-data">

    <div class="row pb-3">
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input id="Referencia" name="Referencia" asp-for="@Model.Referencia" type="text" class="form-control" placeholder="name@example.com">
                <label class="col-form-label" for="Referencia">@localizer["Referencia"]</label>
                <small><span asp-validation-for="@Model.Referencia" class="text-danger"></span></small>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <select name="EmpresaId" class="form-select" id="EmpresaId" data-placeholder='@localizer["Selecione uma empresa"]' asp-for="@Model.EmpresaId" asp-items="@Model.Empresas">
                </select>
                <input type="number" asp-for="@Model.EmpresaId" name="EmpresaId" class="form-control" hidden>
                <label class="col-form-label" for="EmpresaId">@localizer["Empresa"]</label>
                <small><span asp-validation-for="@Model.EmpresaId" class="text-danger"></span></small>
            </div>
        </div>
    </div>

    <div class="row pb-3">
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <select name="GenderId" class="form-select" id="GenderId" data-placeholder='@localizer["Selecione uma empresa"]' asp-for="@Model.GenderId" asp-items="@Model.Genders">
                </select>
                <input type="number" asp-for="@Model.GenderId" name="GenderId" class="form-control" hidden>
                <label class="col-form-label" for="GenderId">@localizer["Género"]</label>
                <small><span asp-validation-for="@Model.GenderId" class="text-danger"></span></small>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input id="Pele" name="Pele" asp-for="@Model.Pele" type="text" class="form-control" placeholder="name@example.com">
                <label class="col-form-label" for="Pele">@localizer["Pele"]</label>
                <small><span asp-validation-for="@Model.Pele" class="text-danger"></span></small>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mb-3">
                <input id="Cor" name="Cor" asp-for="@Model.Cor" type="text" class="form-control" placeholder="name@example.com">
                <label class="col-form-label" for="Cor">@localizer["Cor"]</label>
                <small><span asp-validation-for="@Model.Cor" class="text-danger"></span></small>
            </div>
        </div>
    </div>

    <br />

    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Artigos.Create)).Result.Succeeded)
        {
            <button id="submitBtn" class="btn btn-success">@localizer["Adicionar artigo"]</button>
        }
        <button type="button" class="btn btn-secondary close-button" data-bs-dismiss="modal">@localizer["Cancelar"]</button>
    </div>
</form>


<!-- jquery-validation translated messages -->
@{
    string messageFile = @localizer["messages_pt.js"].Value;
    string url = "/lib/jquery-validation/" + messageFile;
}
<script type="text/javascript" src=@url></script>


<script type="text/javascript" language=javascript>

    $("#create-form").removeData("validator");

    $("#create-form").validate({
        rules: {
            Referencia: {
                required: true
            },
            EmpresaId: {
                required: true
            },
            GenderId: {
                required: true
            }
        },
        errorElement: "div",
        errorPlacement: function (error, element) {
            error.addClass("invalid-feedback");
            error.insertAfter(element);
        },
        highlight: function (element) {
            $(element).removeClass('is-valid').addClass('is-invalid');
        },
        unhighlight: function (element) {
            $(element).removeClass('is-invalid').addClass('is-valid');
        }
    });

    $('#EmpresaId').select2({
        theme: 'bootstrap-5',
        dropdownParent: $('#form-modal')
    });

    $('#GenderId').select2({
        theme: 'bootstrap-5',
        dropdownParent: $('#form-modal')
    });

</script>
