@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Artigos"];
    ViewData["Caption"] = localizer["Configure aqui os seus artigos."];
}
@using Core.Constants
@using LVLgroupApp.Areas.Artigo.Models.Artigo
@model ArtigoViewModel

<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <div class="row">
            <div class="col-sm-4">
                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Empresas.Create)).Result.Succeeded)
                {
                    <a onclick="jQueryModalGet('/artigo/artigo/OnGetCreateOrEdit','@localizer["Criar artigo"]', event, 'modal-xl')" class="btn btn-success mb-5">
                        <i class="fa fa-plus-square"></i> @localizer["Criar"]
                    </a>
                    <a onclick="jQueryModalGet('/artigo/artigo/OnGetLoadFromExcel','@localizer["Carregar do excel"]', event)" class="btn btn-success mb-5">
                        <i class="fa fa-plus-square"></i> @localizer["Carregar do excel"]
                    </a>
                }

                <a id="reload" class="btn btn-primary text-white mb-5">
                    <i class="fa fas fa-bolt"></i>
                    @localizer["Recarregar"]
                </a>
            </div>
            <div class="col-sm-8">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-floating mb-3">
                    <select name="EmpresaFilterId" class="form-select" id="EmpresaFilterId" data-placeholder='@localizer["Selecione uma empresa"]'>
                    </select>
                    <label class="col-form-label" for="EmpresaFilterId">@localizer["Empresa"]</label>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-floating mb-3">
                    <select name="GenderFilterId" class="form-select" id="GenderFilterId" data-placeholder='@localizer["Selecione um género"]'>
                    </select>
                    <label class="col-form-label" for="GenderFilterId">@localizer["Gender"]</label>
                </div>
            </div>
        </div>
    </div>

    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>

@section Scripts
{

    <script>

        function loadData() {
            $('#viewAll').load('/artigo/artigo/LoadAll');
        }

        $(document).ready(function () {

            $('#EmpresaFilterId').select2({
                theme: 'bootstrap-5',
                //dropdownParent: $('#form-modal'),
                ajax: {
                    type: 'get',
                    url: '/Business/Empresa/OnGetListAllEmpresas',
                    contentType: "application/json; charset=utf-8",
                    data: function (params) {
                        var query =
                        {
                            term: params.term,
                        };
                        return query;
                    },
                    processResults: function (result) {
                        return {
                            results: $.map(result, function (item) {
                                return {
                                    id: item.id,
                                    text: item.text,
                                    selected: item.selected
                                };
                            }),
                        };
                    }
                },
                escapeMarkup: function (m) {
                    return m;
                }
            });

            $("#GenderFilterId").select2({
                theme: 'bootstrap-5',
                //dropdownParent: $('#form-modal'),
                ajax: {
                    type: 'get',
                    url: '/Artigo/Gender/OnGetListAllGenders',
                    contentType: "application/json; charset=utf-8",
                    data: function (params) {
                        var query =
                        {
                            term: params.term,
                        };
                        return query;
                    },
                    processResults: function (result) {
                        return {
                            results: $.map(result, function (item) {
                                return {
                                    id: item.id,
                                    text: item.text,
                                    selected: item.selected
                                };
                            }),
                        };
                    }
                },
                escapeMarkup: function (m) {
                    return m;
                }
            });

            $("#GenderFilterId").on("change", function () {
                $('#artigoTable').DataTable().draw();
            });

            $("#EmpresaFilterId").on("change", function () {
                $('#artigoTable').DataTable().draw();
            });

            $("#artigoTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });

    </script>
}