@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Core.Constants
@using LVLgroupApp.Areas.Cliente.Models.Cliente
@using LVLgroupApp.Areas.Claim.Models.ParecerTécnico
@model TabPareceresViewModel


@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "Pareceres";
}


<style>
    .accordion-header-button::after {
        position: absolute;
        z-index: 100;
        right: 20px;
        top: 20px;
    }
</style>


<div class="accordion" id="accordionPareceres">

    <div class="accordion-item">
        <h5 class="accordion-header" id="headingParecerResponsavel">
            @if (!string.IsNullOrEmpty(Model.ParecerResponsavel.Email))
            {
                <button class="accordion-button accordion-header-button d-block text-lg-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParecerResponsavel" aria-expanded="true" aria-controls="collapseParecerResponsavel">
                    <span class="float-start mt-2">@localizer["Parecer do responsável"]</span>
                    <h6><span class="badge badge-parecer bg-secondary me-lg-5 mt-2">@Model.ParecerResponsavel.Data.ToShortDateString() - @Model.ParecerResponsavel.Email - <i>@Model.RoleNameResponsável</i></span></h6>
                </button>  
            }
            else
            {
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParecerResponsavel" aria-expanded="true" aria-controls="collapseParecerResponsavel">
                    <span class="float-start mt-2">@localizer["Parecer do responsável"]</span>
                </button> 
            }
        </h5>
        <div id="collapseParecerResponsavel" class="accordion-collapse collapse show" aria-labelledby="headingParecerResponsavel" data-bs-parent="#accordionPareceres">
            <div class="accordion-body p-0">
                <div class="form-group">
                    @if (Model.IsResponsável || Model.IsSuperAdmin)
                    {
                        <textarea id="Pareceres_ParecerResponsavel_Opinião" name="Pareceres.ParecerResponsavel.Opinião" asp-for="ParecerResponsavel.Opinião" class="form-control" text-wrap:normal" type="text" style="height: 100px;"></textarea>
                    }
                    else
                    {
                        <textarea id="Pareceres_ParecerResponsavel_Opinião" name="Pareceres.ParecerResponsavel.Opinião" asp-for="ParecerResponsavel.Opinião" class="form-control" text-wrap:normal" type="text" style="height: 100px;" readonly></textarea>
                    }
                </div>
            </div>
        </div>
        <input type="text" id="Pareceres_ParecerResponsavel_Id" asp-for="ParecerResponsavel.Id" name="Pareceres.ParecerResponsavel.Id" class="form-control" hidden>
        <input type="text" id="Pareceres_ParecerResponsavel_Email" asp-for="ParecerResponsavel.Email" name="Pareceres.ParecerResponsavel.Email" class="form-control" hidden>
        <input type="text" id="Pareceres_ParecerResponsavel_Data" asp-for="ParecerResponsavel.Data" name="Pareceres.ParecerResponsavel.Data" class="form-control" hidden>
    </div>

    <div class="accordion-item">
        <h5 class="accordion-header" id="headingParecerColaborador">
            @if (!string.IsNullOrEmpty(Model.ParecerColaborador.Email))
            {
                <button class="accordion-button accordion-header-button d-block text-lg-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParecerColaborador" aria-expanded="true" aria-controls="collapseParecerColaborador">
                    <span class="float-start mt-2">@localizer["Parecer de colaborador"]</span>
                    <h6><span class="badge badge-parecer bg-secondary me-lg-5 mt-2">@Model.ParecerColaborador.Data.ToShortDateString() - @Model.ParecerColaborador.Email - <i>@Model.RoleNameResponsável</i></span></h6>
                </button>  
            }
            else
            {
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParecerColaborador" aria-expanded="true" aria-controls="collapseParecerColaborador">
                    <span class="float-start mt-2">@localizer["Parecer de colaborador"]</span>
                </button> 
            }
        </h5>
        <div id="collapseParecerColaborador" class="accordion-collapse collapse" aria-labelledby="headingParecerColaborador" data-bs-parent="#accordionPareceres">
            <div class="accordion-body p-0">
                <div class="form-group">
                    @if (Model.IsColaborador || Model.IsSuperAdmin)
                    {
                        <textarea id="Pareceres_ParecerColaborador_Opinião" name="Pareceres.ParecerColaborador.Opinião" asp-for="ParecerColaborador.Opinião" class="form-control" text-wrap:normal" type="text" style="height: 100px;"></textarea>
                    }
                    else
                    {
                        <textarea id="Pareceres_ParecerColaborador_Opinião" name="Pareceres.ParecerColaborador.Opinião" asp-for="ParecerColaborador.Opinião" class="form-control" text-wrap:normal" type="text" style="height: 100px;" readonly></textarea>
                    }
                </div>
            </div>
        </div>
        <input type="text" id="Pareceres_ParecerColaborador_Id" asp-for="ParecerColaborador.Id" name="Pareceres.ParecerColaborador.Id" class="form-control" hidden>
        <input type="text" id="Pareceres_ParecerColaborador_Email" asp-for="ParecerColaborador.Email" name="Pareceres.ParecerColaborador.Email" class="form-control" hidden>
        <input type="text" id="Pareceres_ParecerColaborador_Data" asp-for="ParecerColaborador.Data" name="Pareceres.ParecerColaborador.Data" class="form-control" hidden>
    </div>

    <div class="accordion-item">
        <h5 class="accordion-header" id="headingParecerGerenteLoja">
            @if (!string.IsNullOrEmpty(Model.ParecerGerenteLoja.Email))
            {
                <button class="accordion-button collapsed accordion-header-button d-block text-lg-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParecerGerenteLoja" aria-expanded="true" aria-controls="collapseParecerGerenteLoja">
                    <span class="float-start mt-2">@localizer["Parecer de gerente de loja"]</span>
                    <h6><span class="badge badge-parecer bg-secondary me-lg-5 mt-2">@Model.ParecerGerenteLoja.Data.ToShortDateString() - @Model.ParecerGerenteLoja.Email</span></h6>
                </button>
            }
            else
            {
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParecerGerenteLoja" aria-expanded="true" aria-controls="collapseParecerGerenteLoja">
                    <span class="float-start mt-2">@localizer["Parecer de gerente de loja"]</span>
                </button>
            }
        </h5>
        <div id="collapseParecerGerenteLoja" class="accordion-collapse collapse" aria-labelledby="headingParecerGerenteLoja" data-bs-parent="#accordionPareceres">
            <div class="accordion-body p-0">
                <div class="form-group">
                    @if (Model.IsSuperAdmin || Model.IsGerenteLoja)
                    {
                        <textarea id="Pareceres_ParecerGerenteLoja_Opinião" name="Pareceres.ParecerGerenteLoja.Opinião" asp-for="ParecerGerenteLoja.Opinião" class="form-control" text-wrap:normal" type="text" style="height: 100px;"></textarea>
                    }
                    else
                    {
                        <textarea id="Pareceres_ParecerGerenteLoja_Opinião" name="Pareceres.ParecerGerenteLoja.Opinião" asp-for="ParecerGerenteLoja.Opinião" class="form-control" text-wrap:normal" type="text" style="height: 100px;" readonly></textarea>
                    }
                </div>
            </div>
        </div>
        <input type="text" id="Pareceres_ParecerGerenteLoja_Id" asp-for="ParecerGerenteLoja.Id" name="Pareceres.ParecerGerenteLoja.Id" class="form-control" hidden>
        <input type="text" id="Pareceres_ParecerGerenteLoja_Email" asp-for="ParecerGerenteLoja.Email" name="Pareceres.ParecerGerenteLoja.Email" class="form-control" hidden>
        <input type="text" id="Pareceres_ParecerGerenteLoja_Data" asp-for="ParecerGerenteLoja.Data" name="Pareceres.ParecerGerenteLoja.Data" class="form-control" hidden>
    </div>

    <div class="accordion-item">
        <h5 class="accordion-header" id="headingParecerSupervisor">
            @if (!string.IsNullOrEmpty(Model.ParecerSupervisor.Email))
            {
                <button class="accordion-button collapsed accordion-header-button d-block text-lg-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParecerSupervisor" aria-expanded="false" aria-controls="collapseParecerSupervisor">
                    <span class="float-start mt-2">@localizer["Parecer de supervisor"]</span>
                    <h6><span class="badge badge-parecer bg-secondary me-lg-5 mt-2">@Model.ParecerSupervisor.Data.ToShortDateString() - @Model.ParecerSupervisor.Email</span></h6>
                </button>
            }
            else
            {
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParecerSupervisor" aria-expanded="true" aria-controls="collapseParecerSupervisor">
                    <span class="float-start mt-2">@localizer["Parecer de supervisor"]</span>
                </button>
            }
        </h5>
        <div id="collapseParecerSupervisor" class="accordion-collapse collapse" aria-labelledby="headingParecerSupervisor" data-bs-parent="#accordionPareceres">
            <div class="accordion-body p-0">
                <div class="form-group">
                    @if (Model.IsSuperAdmin || Model.IsSupervisor)
                    {
                        <textarea id="Pareceres_ParecerSupervisor_Opinião" name="Pareceres.ParecerSupervisor.Opinião" asp-for="ParecerSupervisor.Opinião" class="form-control" text-wrap:normal" type="text" style="height: 100px;"></textarea>
                    }
                    else
                    {
                        <textarea id="Pareceres_ParecerSupervisor_Opinião" name="Pareceres.ParecerSupervisor.Opinião" asp-for="ParecerSupervisor.Opinião" class="form-control" text-wrap:normal" type="text" style="height: 100px;" readonly></textarea>
                    }          
                </div>
            </div>
        </div>
        <input type="text" id="Pareceres_ParecerSupervisor_Id" asp-for="ParecerSupervisor.Id" name="Pareceres.ParecerSupervisor.Id" class="form-control" hidden>
        <input type="text" id="Pareceres_ParecerSupervisor_Email" asp-for="ParecerSupervisor.Email" name="Pareceres.ParecerSupervisor.Email" class="form-control" hidden>
        <input type="text" id="Pareceres_ParecerSupervisor_Data" asp-for="ParecerSupervisor.Data" name="Pareceres.ParecerSupervisor.Data" class="form-control" hidden>
    </div>

    <div class="accordion-item">
        <h5 class="accordion-header" id="headingParecerRevisor">
            @if (!string.IsNullOrEmpty(Model.ParecerRevisor.Email))
            {
                <button class="accordion-button collapsed accordion-header-button d-block text-lg-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParecerRevisor" aria-expanded="false" aria-controls="collapseParecerRevisor">
                    <span class="float-start mt-2">@localizer["Parecer de revisor"]</span>
                    <h6><span class="badge badge-parecer bg-secondary me-lg-5 mt2">@Model.ParecerRevisor.Data.ToShortDateString() - @Model.ParecerRevisor.Email</span></h6>
                </button>
            }
            else
            {
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParecerRevisor" aria-expanded="false" aria-controls="collapseParecerRevisor">
                    <span class="float-start mt-2">@localizer["Parecer de revisor"]</span>
                </button>
            }
        </h5>
        <div id="collapseParecerRevisor" class="accordion-collapse collapse" aria-labelledby="headingParecerRevisor" data-bs-parent="#accordionPareceres">
            <div class="accordion-body p-0">
                <div class="form-group">
                    @if (Model.IsSuperAdmin || Model.IsRevisor)
                    {
                        <textarea id="Pareceres_ParecerRevisor_Opinião" name="Pareceres.ParecerRevisor.Opinião" asp-for="ParecerRevisor.Opinião" class="form-control" text-wrap:normal" type="text" style="height: 100px;"></textarea>
                    }
                    else
                    {
                        <textarea id="Pareceres_ParecerRevisor_Opinião" name="Pareceres.ParecerRevisor.Opinião" asp-for="ParecerRevisor.Opinião" class="form-control" text-wrap:normal" type="text" style="height: 100px;" readonly></textarea>
                    }
                </div>
            </div>
        </div>
        <input type="text" id="Pareceres_ParecerRevisor_Id" asp-for="ParecerRevisor.Id" name="Pareceres.ParecerRevisor.Id" class="form-control" hidden>
        <input type="text" id="Pareceres_ParecerRevisor_Email" asp-for="ParecerRevisor.Email" name="Pareceres.ParecerRevisor.Email" class="form-control" hidden>
        <input type="text" id="Pareceres_ParecerRevisor_Data" asp-for="ParecerRevisor.Data" name="Pareceres.ParecerRevisor.Data" class="form-control" hidden>
    </div>

    <div class="accordion-item">
        <h5 class="accordion-header" id="headingParecerAdmin">
            @if (!string.IsNullOrEmpty(Model.ParecerAdministração.Email))
            {
                <button class="accordion-button collapsed accordion-header-button d-block text-lg-end" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParecerAdmin" aria-expanded="false" aria-controls="collapseParecerAdmin">
                    <span class="float-start mt-2">@localizer["Parecer de administrador"]</span>
                    <h6><span class="badge badge-parecer bg-secondary me-lg-5 mt-2">@Model.ParecerAdministração.Data.ToShortDateString() - @Model.ParecerAdministração.Email</span></h6>
                </button>
            }
            else
            {
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParecerAdmin" aria-expanded="false" aria-controls="collapseParecerAdmin">
                    <span class="float-start mt-2">@localizer["Parecer de administrador"]</span>
                </button>
            }
        </h5>
        <div id="collapseParecerAdmin" class="accordion-collapse collapse" aria-labelledby="headingParecerAdmin" data-bs-parent="#accordionPareceres">
            <div class="accordion-body p-0">
                <div class="form-group">
                    @if (Model.IsSuperAdmin || Model.IsAdmin)
                    {
                        <textarea id="Pareceres_ParecerAdministração_Opinião" name="Pareceres.ParecerAdministração.Opinião" asp-for="ParecerAdministração.Opinião" class="form-control" text-wrap:normal" type="text" style="height: 100px;"></textarea>
                    }
                    else
                    {
                        <textarea id="Pareceres_ParecerAdministração_Opinião" name="Pareceres.ParecerAdministração.Opinião" asp-for="ParecerAdministração.Opinião" class="form-control" text-wrap:normal" type="text" style="height: 100px;" readonly></textarea>
                    }
                </div>
            </div>
        </div>
        <input type="text" id="Pareceres_ParecerAdministração_Id" asp-for="ParecerAdministração.Id" name="Pareceres.ParecerAdministração.Id" class="form-control" hidden>
        <input type="text" id="Pareceres_ParecerAdministração_Email" asp-for="ParecerAdministração.Email" name="Pareceres.ParecerAdministração.Email" class="form-control" hidden>
        <input type="text" id="Pareceres_ParecerAdministração_Data" asp-for="ParecerAdministração.Data" name="Pareceres.ParecerAdministração.Data" class="form-control" hidden>
    </div>

</div>




