@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject UserManager<ApplicationUser> UserManager
@using Core.Enums
@using Core.Constants
@using Core.Entities.Identity;
@using LVLgroupApp.Areas.Claim.Models.Foto
@model FotoUploaderViewModel
@Html.AntiForgeryToken()


@{
    var userId = UserManager.GetUserId(User);
    var currentUser = await UserManager.FindByIdAsync(userId);
    var isBasic = await UserManager.IsInRoleAsync(currentUser, Roles.Basic.ToString());
}


<input id="ClaimId" asp-for="ClaimId" type="hidden" value="@Model.ClaimId">
<input id="ClaimFolder" asp-for="ClaimFolder" type="hidden" value="@Model.ClaimFolder">



<div class="accordion" id="accordionFotos">
    <div class="accordion-item">
        <h5 class="accordion-header" id="headingFotoGallery">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFotoGallery" aria-expanded="true" aria-controls="collapseFotoGallery">
                @localizer["Galeria de fotos"]
            </button>
        </h5>
        <div id="collapseFotoGallery" class="accordion-collapse collapse show" aria-labelledby="headingFotoGallery" data-bs-parent="#accordionFotos">
            <div class="accordion-body p-0">
                <div class="col-md-12">
                    <div id="viewGallery">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h5 class="accordion-header" id="headingFotoUploader">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFotoUploader" aria-expanded="false" aria-controls="collapseFotoUploader">
                @localizer["Upload de fotos"]
            </button>
        </h5>
        <div id="collapseFotoUploader" class="accordion-collapse collapse" aria-labelledby="headingFotoUploader" data-bs-parent="#accordionFotos">
            <div class="accordion-body p-3">

                <div class="row p-3">
                    <div class="col-md-12 col-sm-12 custom-file" style="text-align: center; padding:40px;">
                        <input type="file" id="fileUpload" name="fileUpload" asp-for="FilePhoto" accept=".jpg, .jpeg, .png" class="inputfile">
                        <label id="labelfileUpload" for="fileUpload">
                            <i class="fas fa-upload"></i>&nbsp;&nbsp;
                            <span id="spanfileUpload">@localizer["Selecionar foto"]</span>
                        </label>
                    </div>
                </div>

                <div class="row p-3">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <select name="FototagId" class="form-select" id="FototagId" asp-for="FototagId" asp-items="@Model.Fototags" data-placeholder='@localizer["Selecione uma etiqueta"]'>
                                        @*<option></option>*@
                                    </select>
                                    <label class="col-form-label" for="FototagId">@localizer["Etiqueta"]</label>
                                    @*<span asp-validation-for="FototagId" class="text-danger"></span>*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="float-lg-start py-3">
                                @if (!isBasic)
                                {
                                    <button id="btnUpload" type="button" class="btn btn-danger">@localizer["Upload foto"]</button>
                                }
                                else
                                {
                                    <button id="btnUpload" type="button" class="btn btn-danger" disabled>@localizer["Upload foto"]</button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <textarea id="Desc" name="Desc" type="text" class="form-control" asp-for="Descrição" style="height: 100px;" placeholder="name@example.com"></textarea>
                            <label class="col-form-label" for="Desc">@localizer["Descrição"]</label>
                            @*<span asp-validation-for="Descrição" class="text-danger"></span>*@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>







