@page

@using LVLgroupApp.Views.Shared.Components.HeaderPage;
@using LVLgroupApp.Views.Shared.Components.Footer;
@using LVLgroupApp.Views.Shared.Components.Theme;

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = @localizer["Resend email confirmation"];
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"]</title>
    <partial name="_Styles" />
</head>

<body>

    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section"></div>
    </div>

    <div class="wrapper d-flex flex-column min-vh-100">
        @(await Component.InvokeAsync<HeaderPageViewComponent>())
        <div class="container">
            <div class="row justify-content-center">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mt-5">@localizer["Resend email confirmation"]</h1>
                </div>
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card border-0">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-1 d-lg-block text-center">
                                </div>
                                <div class="col-lg-10 d-lg-block text-center">
                                    <div style="padding-top:3rem !important;">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">@localizer["Enter your email."]</h1>
                                        </div>
                                        <form id="account" method="post">

                                            <small><div asp-validation-summary="All" class="text-danger"></div></small>

                                            <div class="form-group row">
                                                <div class="col-sm-12 mb-3 mb-sm-0">
                                                    <div class="form-floating mb-3">
                                                        <input id="floatingInputEmail" asp-for="Input.Email" type="email" class="form-control" placeholder="name@example.com">
                                                        <label for="floatingInputEmail">@localizer["Email"]</label>
                                                        <small><span asp-validation-for="Input.Email" class="text-danger"></span></small>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary bg-gradient-primary w-20 my-4 mb-2">@localizer["Resend"]</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-1 d-lg-block text-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @(await Component.InvokeAsync<ThemeViewComponent>())
        @(await Component.InvokeAsync<FooterViewComponent>())
    </div>

    <partial name="_Scripts" />
    @await Component.InvokeAsync("Notyf")
</body>
</html>