@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Core.Constants
@using LVLgroupApp.Areas.Business.Models.Mercado
@model MercadoViewModel

<form id="create-form" method="post" asp-area="Business" asp-controller="Mercado" asp-action="OnPostCreateOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this, event, false);" enctype="multipart/form-data">

    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <div class="row pb-3">
                <div class="col-md-12">
                    <div class="form-floating mb-3">
                        <input id="Nome" name="Nome" asp-for="Nome" type="text" class="form-control" placeholder="name@example.com">
                        <label class="col-form-label" for="Nome">@localizer["Nome"]</label>
                        <small><span asp-validation-for="Nome" class="text-danger"></span></small>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-md-12">
                    <div class="form-floating mb-3">
                        <input id="NomeCurto" asp-for="NomeCurto" type="text" class="form-control" onkeyup="this.value = this.value.toUpperCase();" placeholder="name@example.com">
                        <label class="col-form-label" for="NomeCurto">@localizer["NomeCurto"]</label>
                        <small><span asp-validation-for="NomeCurto" class="text-danger"></span></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="custom-file col-md-6">

        </div>
    </div>

    <br />

    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Mercados.Edit)).Result.Succeeded)
        {
            <button type="submit" class="btn btn-success">@localizer["Salvar"]</button>
        }
        <button type="button" class="btn btn-secondary close-button" data-bs-dismiss="modal">@localizer["Cancelar"]</button>
    </div>
</form>


<!-- jquery-validation translated messages -->
@{
    string messageFile = @localizer["messages_pt.js"].Value;
    string url = "/lib/jquery-validation/" + messageFile;
}
<script type="text/javascript" src=@url></script>


<script type="text/javascript" language=javascript>

    $("#create-form").removeData("validator");

    jQuery.validator.addMethod("uppercaseonly", function (value, element) {
        return this.optional(element) || /^[A-Z]*$/.test(value);
    });

    $("#create-form").validate({
        rules: {
            Nome: {
                required: true
            },
            NomeCurto: {
                required: true,
                uppercaseonly: true,
                minlength: 2,
                maxlength: 3
            }
        },
        errorElement: "div",
        errorPlacement: function (error, element) {
            error.addClass("invalid-feedback");
            error.insertAfter(element);
        },
        highlight: function (element) {
            $(element).removeClass('is-valid').addClass('is-invalid');
        },
        unhighlight: function (element) {
            $(element).removeClass('is-invalid').addClass('is-valid');
        }
    });

</script>