@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Modelos de Relatório"];
    ViewData["Caption"] = localizer["Configure aqui os seus modelos de relatórios."];
}
@using Core.Constants
@using LVLgroupApp.Areas.Report.Models.ReportTemplate
@model ReportTemplateViewModel



<div class="card">

    <!--create / reload-->
    <div class="row mt-2">
        <!--create button-->
        <div class="col-lg-3 col-6">
            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.ReportTemplate.Create)).Result.Succeeded)
            {
                <a onclick="jQueryModalGet('/report/QuestionTemplate/OnGetCreateOrEdit','@localizer["Criar Modelo de Relatório"]', event, 'modal-lg')" class="btn btn-success mb-3">
                    <i class="fa fa-plus-square"></i> @localizer["Criar"]
                </a>
            }
        </div>
        <!--reload button-->
        <div class="col-lg-3 col-6">
            <a id="reload" class="btn btn-primary text-white w-100 mb-3">
                <i class="fa fas fa-bolt"></i>
                @localizer["Recarregar"]
            </a>
        </div>
    </div>

    <!--type-->
    <div class="row mt-2">
        <!--report type-->
        <div class="col-lg-3 col-6">
            <div class="form-floating mt-3">
                <select name="ReportTypes" class="form-select" id="ReportTypes" asp-items="@Model.ReportTypes" data-placeholder='@localizer["Selecione uma categoria"]'></select>
                <label class="col-form-label" for="ReportType">@localizer["Tipo de Relatório"]</label>
            </div>
        </div>
    </div>

    <!--active only selector-->
    <div class="row mt-2">
        <div class="col-lg-3 col-6">
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" role="switch" id="Active" name="Active" onchange="toggleActive()" />
                <label class="form-check-label" for="Active">@localizer["Apenas Modelos ativos"]</label>
            </div>
        </div>
    </div>



    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>







@section Scripts
{
    <script>
        $(document).ready(function () {


           $("#ReportTypes").on("change", function () {

                console.log("ReportTypes foi atualizado = " + $("#ReportTypes").val());
                loadData();
            });


            function toggleActive() {
                var _active = $('#Active').is(':checked');
                if (_active) {
                    $('#Active').val('true');
                    $('#Active').prop("checked", true);
                    console.log("Active foi marcado");
                } else {
                    $('#Active').val('false');
                    $('#Active').prop("checked", false);
                    console.log("Active foi desmarcado");
                }
                loadData();
            }

            loadData();

            $('#reload').on('click', function () {
                loadData();
            });
        });

        function loadData() {
            $('#viewAll').load('/report/ReportTemplate/LoadAll');
        }

    </script>
}