@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ChangePasswordModel
@{
    ViewData["Title"] = @localizer["Change password"];
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    ViewData["Caption"] = @localizer["Gerir perfil e dados pessoais."];
}

<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" asp-route-userId="Input.Id" method="post">
            <div class="card">
                <div class="card-header">
                    <h4>@ViewData["Title"]</h4>
                    <partial name="_StatusMessage" for="StatusMessage" />
                </div>
                <div class="card-body">
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@
                    <input asp-for="Input.Id" class="form-control" hidden />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <input id="OldPassword" name="OldPassword" asp-for="Input.OldPassword" type="password" class="form-control" placeholder="name@example.com">
                                <label class="col-form-label" for="OldPassword">@localizer["OldPassword"]</label>
                                @*<span asp-validation-for="Input.OldPassword" class="text-danger"></span>*@
                            </div>
                            <div class="form-floating mb-3">
                                <input id="NewPassword" name="NewPassword" asp-for="Input.NewPassword" type="password" class="form-control" placeholder="name@example.com">
                                <label class="col-form-label" for="NewPassword">@localizer["NewPassword"]</label>
                                @*<span asp-validation-for="Input.NewPassword" class="text-danger"></span>*@
                            </div>
                            <div class="form-floating mb-3">
                                <input id="ConfirmPassword" name="ConfirmPassword" asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="name@example.com">
                                <label class="col-form-label" for="ConfirmPassword">@localizer["ConfirmPassword"]</label>
                                @*<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">
                        @localizer["Update password"]
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@

    <!-- jquery-validation translated messages -->
    @{
        string messageFile = @localizer["messages_pt.js"].Value;
        string url = "/lib/jquery-validation/" + messageFile;
    }
    <script type="text/javascript" src=@url></script>

    <script>
        $(document).ready(function () {

            $("#change-password-form").removeData("validator");
            $("#change-password-form").removeData("unobtrusiveValidation");
            console.log("('#change-password-form').validate()");

            $.validator.addMethod("oneDigit",
                function (value, element) {
                    return this.optional(element) || /^(?=.*[0-9])/.test(value);
            });
            $.validator.addMethod("oneUpperCase",
                function (value, element) {
                    return this.optional(element) || /^(?=.*[A-Z])/.test(value);
            });
            $.validator.addMethod("oneLowerCase",
                function(value, element) {
                    return this.optional(element) || /^(?=.*[a-z])/.test(value);
            });
            $.validator.addMethod("oneSpecialChar",
                function (value, element) {
                    return this.optional(element) || /^(?=.*[a-z])/.test(value);
            });

            $("#change-password-form").validate({
                rules: {
                    OldPassword: {
                        required: true
                    },
                    NewPassword: {
                        minlength: 8,
                        required: true,
                        oneDigit: true,
                        oneLowerCase: true,
                        oneUpperCase: true,
                        oneSpecialChar: true
                    },
                    ConfirmPassword: {
                        required: true,
                        equalTo: "#NewPassword"
                    }
                },
                errorElement: "div",
                errorPlacement: function (error, element) {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                },
                highlight: function (element) {
                    $(element).removeClass('is-valid').addClass('is-invalid');
                },
                unhighlight: function (element) {
                    $(element).removeClass('is-invalid').addClass('is-valid');
                }
            });
        });
    </script>

}