@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model EmailModel
@{
    ViewData["Title"] = @localizer["Manage email"];
    ViewData["ActivePage"] = ManageNavPages.Email;
    ViewData["Caption"] = @localizer["Gerir perfil e dados pessoais."];
}

<div class="row">
    <div class="col-md-8">
        <form id="email-form" asp-route-userId="Input.Id" method="post">
            <div class="card">
                <div class="card-header">
                    <h4>@localizer["Email address change"]</h4>
                    <partial name="_StatusMessage" model="Model.StatusMessage" />
                </div>
                <div class="card-body">
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@
                    <input asp-for="Input.Id" class="form-control" hidden/>

                    
                    @if (Model.IsEmailConfirmed)
                    {
                        <div class="input-group mb-3">
                            <div class="form-floating">
                                <input id="Email" name="Email" asp-for="Email" type="email" class="form-control" placeholder="Username" disabled>
                                <label class="col-form-label" for="Email">@localizer["Email"]</label>
                            </div>
                            <span class="input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    }
                    else
                    {
                        <div class="input-group mb-3">
                            <div class="form-floating">
                                <input id="Email" name="Email" asp-for="Email" class="form-control" placeholder="name@example.com" disabled />
                                <label class="col-form-label" for="Email">@localizer["Email"]</label>
                            </div>
                            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-secondary">
                                @localizer["Send verification email"]
                            </button>
                        </div>
                    }

                    <div class="form-floating mb-3">
                        <input id="NewEmail" name="NewEmail" asp-for="Input.NewEmail" type="email" class="form-control" placeholder="name@example.com" />
                        <label class="col-form-label" for="NewEmail">@localizer["NewEmail"]</label>
                        @*<span asp-validation-for="Input.NewEmail" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="card-footer">
                    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-success">
                        @localizer["Change email"]
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@

    <!-- jquery-validation translated messages -->
    @{
        string messageFile = @localizer["messages_pt.js"].Value;
        string url = "/lib/jquery-validation/" + messageFile;
    }
    <script type="text/javascript" src=@url></script>

    <script>
        $(document).ready(function () {

            $("#email-form").removeData("validator");
            $("#email-form").removeData("unobtrusiveValidation");
            console.log("('#email-form').validate()");

            $("#email-form").validate({
                rules: {
                    Email: {
                        required: true,
                        email: true
                    },
                    NewEmail: {
                        required: true,
                        email: true
                    }
                },
                errorElement: "div",
                errorPlacement: function (error, element) {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                },
                highlight: function (element) {
                    $(element).removeClass('is-valid').addClass('is-invalid');
                },
                unhighlight: function (element) {
                    $(element).removeClass('is-invalid').addClass('is-valid');
                }
            });
        });
    </script>

    <script>
        $("#email-verification").on('click', function () {
            console.log("EventListener : #email-verification clicked.");

            //var _folder = $('#ClaimFolder_recl').val();
            //var _id = $('#id').val();

            //var _url = "/identity/account/manage/SendVerificationEmail?id=" + _id + '&claimFolder=' + _folder;
            //var formData = new FormData();
            //formData.append("id", _id);
            //formData.append("claimFolder", _folder);

            //$.ajax(
            //    {
            //        type: "POST",
            //        url: _url,
            //        processData: false,
            //        contentType: false,
            //        data: formData,
            //        success: function (response) {
            //            // Redirect to the specified URL
            //            window.location.href = response.redirectToUrl;
            //        },
            //        error: function () {
            //            alert("Error occurs");
            //        }
            //    }
            //);
        });
    </script>

}