@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ManageProfileModel
@{
    ViewData["Title"] = @localizer["Perfil de"].Value + Model.Input.FirstName + " " + Model.Input.LastName;
    ViewData["ActivePage"] = ManageNavPages.Index;
    ViewData["Caption"] = @localizer["Gerir perfil e dados pessoais."];
}

<style>
    #imgContainer {
        position: relative;
    }

    .imageClose:before {
        content: '✕';
    }

    .imageClose {
        position: absolute;
        top: 5px;
        right: 0;
        text-decoration:none;
        color: red;
        opacity: 0.8;
        cursor: pointer;
    }

    .imageClose:hover {
        opacity: 1;
    }

</style>


<div class="row">
    <div class="col-md-9">
        <form id="profile-form" method="post" asp-route="@Model.Input.Id" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                    <h4>@localizer["Personal data"]</h4>
                    <partial name="_StatusMessage" model="Model.StatusMessage" />
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="text" asp-for="Input.Id" name="Id" hidden>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-floating mb-3">
                                        <input id="FirstName" name="FirstName" asp-for="Input.FirstName" type="text" class="form-control" placeholder="name@example.com">
                                        <label class="col-form-label" for="FirstName">@localizer["Nome"]</label>
                                        @*<span asp-validation-for="Input.FirstName" class="text-danger"></span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-floating mb-3">
                                        <input id="LastName" name="LastName" asp-for="Input.LastName" type="text" class="form-control" placeholder="name@example.com">
                                        <label class="col-form-label" for="LastName">@localizer["Apelido"]</label>
                                        @*<span asp-validation-for="Input.LastName" class="text-danger"></span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-floating mb-3">
                                        <input id="UserName" name="UserName" asp-for="Input.UserName" type="text" class="form-control" placeholder="name@example.com">
                                        <label class="col-form-label" for="UserName">@localizer["Nome utilizador"]</label>
                                        @*<span asp-validation-for="Input.Username" class="text-danger"></span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-floating mb-3">
                                        <input id="PhoneNumber" name="PhoneNumber" asp-for="Input.PhoneNumber" type="text" class="form-control" placeholder="name@example.com">
                                        <label class="col-form-label" for="PhoneNumber">@localizer["Numero telefone"]</label>
                                        @*<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" id="imgContainer">
                                        <input id="RemoveProfilePicture" name="RemoveProfilePicture" asp-for="Input.RemoveProfilePicture" type="text" hidden>
                                        <label class="col-form-label">@localizer["Foto de perfil"]</label>
                                        @if (Model.Input.ProfilePicture != null)
                                        {
                                            <img id="profilePicture" class="img-fluid mb-2" style="width: 100%;padding-bottom: 10px;" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))">
                                            @*<a id="deletePicture" style="cursor:pointer; float:right; margin-top:-15px;">@localizer["remover"]</a>*@
                                            <h4><a id="deletePicture" class="imageClose"></a></h4>
                                        }
                                        else
                                        {
                                            <img id="profilePicture" class="img-fluid mb-2" style="width: 100%;padding-bottom: 10px;" src="~/images/default-user.png">
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="custom-file" style="text-align: center;">
                                        <input type="file" id="fileUpload" name="fileUpload"
                                               asp-for="Input.ProfilePicture"
                                               accept=".png,.jpg,.jpeg,.gif,.tif"
                                               class="inputfile">
                                        <label id="labelfileUpload" for="fileUpload">
                                            <i class="fas fa-upload"></i>&nbsp;&nbsp;
                                            <span id="spanfileUpload">@localizer["Selecionar ficheiro"]</span>
                                        </label>
                                    </div>
                                    @*<span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>*@
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <button id="update-profile-button" type="submit" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text">@localizer["Salvar"]</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@

    <!-- jquery-validation translated messages -->
    @{
        string messageFile = @localizer["messages_pt.js"].Value;
        string url = "/lib/jquery-validation/" + messageFile;
    }
    <script type="text/javascript" src=@url></script>

    <script>
        $(document).ready(function () {

            $("#profile-form").removeData("validator");
            $("#profile-form").removeData("unobtrusiveValidation");
            console.log("('#profile-form').validate()");

            $("#profile-form").validate({
                rules: {
                    FirstName: {
                        required: true
                    },
                    LastName: {
                        required: true
                    },
                    UserName: {
                        required: true
                    }
                },
                errorElement: "div",
                errorPlacement: function (error, element) {
                    error.addClass("invalid-feedback");
                    error.insertAfter(element);
                },
                highlight: function (element) {
                    $(element).removeClass('is-valid').addClass('is-invalid');
                },
                unhighlight: function (element) {
                    $(element).removeClass('is-invalid').addClass('is-valid');
                }
            });


            var input = document.getElementById("fileUpload"),
                label = document.getElementById("labelfileUpload"),
                span = document.getElementById("spanfileUpload"),
                spanVal = span.innerHTML;

            input.addEventListener('change', function (e) {
                //alert("files to upload: " + this.files.length);
                var fileName = '';

                if (this.files && this.files.length > 1) {
                    //multiple files to upload
                    spanVal = this.files.length + '@localizer["ficheiros selecionados."]';
                }
                else {
                    //single file to upload
                    fileName = e.target.value.split('\\').pop();
                }

                if (fileName) {
                    span.innerHTML = fileName;
                }
                else {
                    span.innerHTML = spanVal;
                }

                document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0]);

            });
        });
    </script>

    <script>
        $('#profilePicture').click(function () { $('#customFile').trigger('click'); });
    </script>

    <script>
        $("#deletePicture").on("click", function () {
            //alert("delete profile picture! : not implemented");
            document.getElementById("profilePicture").src = "/images/default-user.png";
            document.getElementById("deletePicture").remove();
            document.getElementById("RemoveProfilePicture").value = 1;
        });
    </script>

}