@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model PersonalDataModel
@{
    ViewData["Title"] = @localizer["Personal Data"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    ViewData["Caption"] = @localizer["Gerir perfil e dados pessoais."];
}

<div class="row">
    <div class="col-md-6">
        <form id="download-data" asp-page="DownloadPersonalData" asp-route-userId="@Model.Input.Id" method="post" class="form-group">
            <div class="card">
                <div class="card-header">
                    <h4>@ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    <input asp-for=@Model.Input.Id class="form-control" hidden />

                    <p>@localizer["Your account contains personal data that you have given us. This page allows you to download or delete that data."]</p>
                    <p><strong>@localizer["Deleting this data will permanently remove your account, and this cannot be recovered."]</strong></p>
                </div>
                <div class="card-footer">
                    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
                        <button type="submit" id="btnDownload" class="btn btn-success">@localizer["Download"]</button>
                        <a id="delete" asp-page="DeletePersonalData" asp-route-userId="@Model.Input.Id" class="btn btn-secondary">
                            @localizer["Delete"]
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}