@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Core.Constants
@using LVLgroupApp.Areas.Dashboard.Models.DashboardVendasTops
@model Table_GL_SemanaViewModel


<link href="~/css/dashboard.css" rel="stylesheet">


<style>
    .nostrech {
        width: 1%;
        white-space: nowrap;
    }
</style>



<!--card de suporte da tabele Vendas da Semana-->
<div class="card card-table my-4">
    <div class="card-header p-0 position-relative mt-4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="table-title text-black ps-3">@Model.Label</h6>
        </div>
    </div>
    <div class="card-body p-0 pb-2">
        <div class="table-responsive p-2">
            <table id="@Model.DivId" class="table align-items-center dt-responsive nowrap display hover mb-0" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-start text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-3">@localizer["Loja"]</th>
                        <th class="text-end text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">@localizer["Qtd."] <span class="table-last-year"></span></th>
                        <th class="text-end text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">@localizer["Valor"] <span class="table-last-year"></span></th>
                        <th class="text-end text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">@localizer["Qtd."] <span class="table-year"></span></th>
                        <th class="text-end text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">@localizer["Valor"] <span class="table-year"></span></th>
                        <th class="text-end text-uppercase text-secondary text-xs font-weight-bolder opacity-7">@localizer["Obj."]</th>
                        <th class="text-end text-uppercase text-secondary text-xs font-weight-bolder opacity-7">@localizer["%"]</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>



<script>

    $(document).ajaxStop(function () {
        $.busyLoadFull("hide");
    });


    $(document).ready(function () {

        $.busyLoadSetup({ fontawesome: "fa fa-spinner fa-spin fa-3x fa-fw" });

        var languagePath = '@Url.Content("~/lib/datatables/localizer/")';
        var languageFile = '@localizer["Portuguese.json"]';
        var _language = languagePath + languageFile;

        let tableId = '@Model.DivId';

        $("#" + tableId).DataTable({
            lengthChange: false,
            searching: false,
            bInfo: false,
            paging: false,
            ordering: false,
            serverSide: true,
            stateSave: true,
            language: {
                url: _language
            },
            ajax: {
                url: "/dashboard/dashboardvendastops/GetVendas_GL_PorSemana",
                type: "POST",
                datatype: "json",
                data: function (d) {

                    $.busyLoadFull("show");

                    let yNumber = document.querySelector("#RangeSemana")._flatpickr.currentYear;
                    let wNumber = document.querySelector("#RangeSemana")._flatpickr.config.getWeek(document.querySelector("#RangeSemana")._flatpickr.selectedDates[0])



                    d.mercadofilter = GetMercadoFilterValue();
                    d.empresafilter = GetEmpresaFilterValue();
                    d.grupolojafilter = @Model.GrupoLojasId
                    d.lojafilter = GetLojaFilterValue();
                    d.semanafilter = wNumber;
                    d.anofilter = yNumber;



                    $(".table-year").text(yNumber);
                    $(".table-last-year").text(yNumber - 1);
                    //let lbltxt = $('#lbl_lojaSelector').text();
                    //$(".table-title").text('@localizer["Vendas de"]' + " " + lbltxt);
                }
            },
            columnDefs: [
                {
                    orderable: false, targets: [0, 1, 2, 3, 4, 5, 6]
                },
                {
                    className: 'dt-body-right', targets: [1, 2, 3, 4, 5, 6]
                }
            ],
            columns: [
                {
                    data: "lojaNome",
                    name: "LojaNome",
                    render: function (data, type, full) {
                        return `<span class="badge badge-col-1 text-xxs text-bg-warning" style="padding-top: 5px;">${data}</span>`;
                    }
                },
                { data: "aA_Quantidade", name: "AA_Quantidade", autoWidth: true },
                { data: "aA_Valor", name: "AA_Valor", autoWidth: true },
                { data: "quantidade", name: "Quantidade", autoWidth: true },
                { data: "valor", name: "Valor", autoWidth: true },
                { data: "objetivo", name: "Objetivo", autoWidth: true },
                {
                    data: "variacao",
                    name: "Variacao",
                    render: function (data, type, full) {
                        if (data >= 0) return data;
                        return `<span class="badge text-xxs text-bg-danger" style="padding-top: 5px;">${data}</span>`;
                    }
                },
            ]
        }).on('draw', function() {
            let allTbody = document.getElementById(tableId).querySelectorAll('tbody');
            console.log('draw = ' + allTbody.length);
            let allSpan = allTbody[0].querySelectorAll(".badge-col-1");
            if (allSpan.length) {
                let lastSpan = allSpan[allSpan.length - 1];
                lastSpan.classList.remove('text-bg-warning');
                lastSpan.classList.add('text-bg-success');
                console.log("lastSpan = " + lastSpan.className);
            }
        });
    });

</script>
