@using Core.Constants
@using LVLgroupApp.Areas.Dashboard.Models.DashboardVendasTops
@using LVLgroupApp.Areas.Vendas.Models.VendaMensal
@using LVLgroupApp.Areas.Vendas.Models.VendaSemanal
@using LVLgroupApp.Views.Shared.Components.FiltroCalendario
@using LVLgroupApp.Views.Shared.Components.FiltroCalendario.Models
@using LVLgroupApp.Views.Shared.Components.FiltroLoja
@using LVLgroupApp.Views.Shared.Components.FiltroLoja.Models
@using System.Globalization

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model DashboardVendasTopsViewModel



@{
    ViewData["Title"] = localizer["Dashboard Vendas da Semana"];
    ViewData["Caption"] = localizer["Métricas de Vendas"];
}

<link href="~/css/dashboard.css" rel="stylesheet">

<style>
    .wrap {
        position: relative;
    }
        .wrap #reload {
            position: absolute;
            top: -70px;
            right: 15px;
        }
    #LojaDropDown {
        min-width: 600px;
    }
</style>



<!--invokeRequests-->
@{
    var cultureInfo = new CultureInfo("en-US");
    cultureInfo.NumberFormat.NumberDecimalSeparator = ".";
    CultureInfo.DefaultThreadCurrentCulture = cultureInfo;
    CultureInfo.DefaultThreadCurrentUICulture = cultureInfo;

    var invokeRequestFiltroLoja = new FiltroLojaViewModel()
    {
        CurrentRole = Model.CurrentRole,
        Empresas = Model.Empresas,
        Mercados = Model.Mercados,
        GruposLojas = Model.GruposLojas,
        Lojas = Model.Lojas,
        ApplyFiltroLoja_Function = "loadData",
    };
}



<!--Data Dashboard / dropdown lojafilter / reload-->
<div class="row mt-3">
    <!--Data Dashboard Semana selector-->
    <div class="col-sm-3">
        <div class="form-floating mb-3">
            <input id="RangeSemana" name="RangeSemana" type="text" class="form-control" value="@Model.DataInicialDaSemana.ToShortDateString()">
            <label class="col-form-label" for="RangeSemana">@localizer["Semana"]</label>
        </div>
    </div>
    <div class="col-sm-3">
        <!--Data Dashboard Ano/Semana selector-->
        <div class="input-group">
            <span class="input-group-text font-weight-bold"><i class="nav-icon ion ion-ios-calendar" style="font-size: 20px;"></i></span>
            <div class="form-floating">
                <input id="AnoDashboard" name="AnoDashboard" type="number" step="1" min="2021" max="2030" class="form-control" value="@Model.AnoDashboard" onchange="AnoChanged()">
                <label class="col-form-label" for="AnoDashboard">@localizer["Ano"]</label>
            </div>
            <div class="form-floating">
                <input id="SemanaDashboard" name="SemanaDashboard" type="number" step="1" min="1" max="53" class="form-control" value="@Model.SemanaDashboard" onchange="SemanaChanged()">
                <label class="col-form-label" for="SemanaDashboard">@localizer["Semana"]</label>
            </div>
        </div>
    </div>
    <!--dropdown lojafilter-->
    <div class="col-sm-3">
        <div class="dropdown dropdown-lojafilter mb-3" hidden>
            <button id="LojaFilter" type="button" class="btn btn-secondary w-100 dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                <i class="fas fa-house-user"></i> @localizer["Loja"]
            </button>
            <div id="LojaDropDown" class="dropdown-menu dropdown-menu-end p-3">
                <div id="FiltroLoja-container" class="col-md-12">
                    @(await Component.InvokeAsync<FiltroLojaViewComponent>(invokeRequestFiltroLoja))
                </div>
            </div>
        </div>
    </div>
    <!--reload button-->
    <div class="col-sm-3">
        <a id="reload" class="btn btn-primary text-white w-100 mb-3">
            <i class="fa fas fa-bolt"></i>
            @localizer["Recarregar"]
        </a>
    </div>
</div>



<!--label loja selector-->
<div class="d-flex mt-3">
    <div class="badge rounded-pill text-bg-success">
        <label id="lbl_lojaSelector" class="fst-italic fw-semibold fs-6"></label>
    </div>
</div>



<!--box contadores-->
<div class="row mt-3">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="h3_lvl_totalVendasSemana">@Model.LVL_TotalVendasSemana €</h3>
                <p><h6 id="p_lvl_totalVendasSemana">@localizer["LVL group - Semana"] @Model.SemanaDashboard/@Model.AnoDashboard</h6></p>
            </div>
            <div class="icon">
                <i class="fas fa-euro-sign"></i>
            </div>
            @if (AuthorizationService.AuthorizeAsync(User, Permissions.Vendas.Delete).Result.Succeeded)
            {
                <a class="small-box-footer" asp-area="Vendas" asp-controller="VendaSemanal" asp-action="Index">
                    @localizer["Mais informações"]&nbsp;
                    <i class="fas fa-arrow-circle-right"></i>
                </a>
            }
            else
            {
                <a class="small-box-footer" href="#">
                    @localizer["Mais informações"]&nbsp;
                    <i class="fas fa-arrow-circle-right"></i>
                </a>
            }
        
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="h3_pt_totalVendasSemana">@Model.PT_TotalVendasSemana €</h3>
                <p><h6 id="p_pt_totalVendasSemana">@localizer["PORTUGAL - Semana"] @Model.SemanaDashboard/@Model.AnoDashboard</h6></p>
            </div>
            <div class="icon">
                <i class="fas fa-euro-sign"></i>
            </div>
            @if (AuthorizationService.AuthorizeAsync(User, Permissions.Vendas.Delete).Result.Succeeded)
            {
                <a class="small-box-footer" asp-area="Vendas" asp-controller="VendaSemanal" asp-action="Index">
                    @localizer["Mais informações"]&nbsp;
                    <i class="fas fa-arrow-circle-right"></i>
                </a>
            }
            else
            {
                <a class="small-box-footer" href="#">
                    @localizer["Mais informações"]&nbsp;
                    <i class="fas fa-arrow-circle-right"></i>
                </a>
            }
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="h3_es_totalVendasSemana">@Model.ES_TotalVendasSemana €</h3>
                <p><h6 id="p_es_totalVendasSemana">@localizer["ESPANHA - Semana"] @Model.SemanaDashboard/@Model.AnoDashboard</h6></p>
            </div>
            <div class="icon">
                <i class="fas fa-euro-sign"></i>
            </div>
            @if (AuthorizationService.AuthorizeAsync(User, Permissions.Vendas.Delete).Result.Succeeded)
            {
                <a class="small-box-footer" asp-area="Vendas" asp-controller="VendaSemanal" asp-action="Index">
                    @localizer["Mais informações"]&nbsp;
                    <i class="fas fa-arrow-circle-right"></i>
                </a>
            }
            else
            {
                <a class="small-box-footer" href="#">
                    @localizer["Mais informações"]&nbsp;
                    <i class="fas fa-arrow-circle-right"></i>
                </a>
            }
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="h3_can_totalVendasSemana">@Model.CAN_TotalVendasSemana €</h3>
                <p><h6 id="p_can_totalVendasSemana">@localizer["CANÁRIAS - Semana"] @Model.SemanaDashboard/@Model.AnoDashboard</h6></p>
            </div>
            <div class="icon">
                <i class="fas fa-euro-sign"></i>
            </div>
            @if (AuthorizationService.AuthorizeAsync(User, Permissions.Vendas.Delete).Result.Succeeded)
            {
                <a class="small-box-footer" asp-area="Vendas" asp-controller="VendaSemanal" asp-action="Index">
                    @localizer["Mais informações"]&nbsp;
                    <i class="fas fa-arrow-circle-right"></i>
                </a>
            }
            else
            {
                <a class="small-box-footer" href="#">
                    @localizer["Mais informações"]&nbsp;
                    <i class="fas fa-arrow-circle-right"></i>
                </a>
            }
        </div>
    </div>
</div>



<!--Chart MEG Vendas Da Semana-->
<div class="card mt-3">
    <div id="Chart_MEG_VendasDaSemana" class="card-body"></div>
</div>



<!--Chart GL Mercados Vendas Da Semana-->
<div id="Chart_Mercados_Container" class="card mt-3"></div>



<!--Chart GL GruposLojas Vendas Da Semana-->
<div id="Chart_GruposLojas_Container" class="card mt-3"></div>




<script>
    var mercados = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(
        Model.Mercados.Select(m => new { Value = m.Value, Text = m.Text })
    ));
    var gruposLojas = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(
        Model.AllGruposLojas.Select(m => new { Value = m.Value, Text = m.Text })
    ))
</script>



<!--Functions dropdown lojafilter-->
<script type="text/javascript">

    function GetMercadoFilterValue() {
        let mercId = 0;
        if ($('#SelectMercadoId_filter').length) {
            mercId = parseInt($('#SelectMercadoId_filter').val());
        }
        if ($('#SelectMercadoId_filter_fix').length) {
            mercId = parseInt($('#SelectMercadoId_filter_fix').val());
        }
        if (mercId !== mercId) {
            //NaN
            return 0;
        }
        return mercId;
    };

    function GetEmpresaFilterValue() {
        let empId = 0;
        if ($('#SelectEmpresaId_filter').length) {
            empId = parseInt($('#SelectEmpresaId_filter').val());
        }
        if ($('#SelectEmpresaId_filter_fix').length) {
            empId = parseInt($('#SelectEmpresaId_filter_fix').val());
        }
        if (empId !== empId) {
            //NaN
            return 0;
        }
        return empId;
    };

    function GetGrupolojaFilterValue() {
        let grpId = 0;
        if ($('#SelectGrupolojaId_filter').length) {
            grpId = parseInt($('#SelectGrupolojaId_filter').val());
        }
        if ($('#SelectGrupolojaId_filter_fix').length) {
            grpId = parseInt($('#SelectGrupolojaId_filter_fix').val());
        }
        if (grpId !== grpId) {
            //NaN
            return 0;
        }
        return grpId;
    };

    function GetLojaFilterValue() {
        let ljId = 0;
        if ($('#SelectLojaId_filter').length) {
            ljId = parseInt($('#SelectLojaId_filter').val());
        }
        if ($('#SelectLojaId_filter_fix').length) {
            ljId = parseInt($('#SelectLojaId_filter_fix').val());
        }
        if (ljId !== ljId) {
            //NaN
            return 0;
        }
        return ljId;
    };

</script>




<!--Functions index-->
@section Scripts {
    <script type="text/javascript">

        function refreshData() {

            console.log('refreshData');

            let wNumber = document.querySelector("#RangeSemana")._flatpickr.config.getWeek(document.querySelector("#RangeSemana")._flatpickr.selectedDates[0])
            let yNumber = document.querySelector("#RangeSemana")._flatpickr.currentYear;

            // update contadores, boxsemanal e mensal
            console.log("sequência refreshData arrancou!! para semana = " + wNumber + " | ano = " + yNumber);
            

            // refresh contadores
            loadTotaisSemanais(wNumber, yNumber);


            // load chart MEG sa semana
            LoadChart_MEG_Semanal(wNumber, yNumber);



            // load chart de Mercado da semana
            PopulateChartsMercado(wNumber, yNumber);



            // load chart GL da semana
            PopulateChartsGrupolojas(wNumber, yNumber);
        }

        function loadTotaisSemanais(semana, ano) {

            console.log("loadTotaisSemanais: load contadores de vendas semanais");
            $.busyLoadFull("show");


            let _url = "/Dashboard/DashboardVendasTops/loadTotaisSemanais";

            let formData = new FormData();
            formData.append("mercadofilter", GetMercadoFilterValue());
            formData.append("empresafilter", GetEmpresaFilterValue());
            formData.append("grupolojafilter", GetGrupolojaFilterValue());
            formData.append("lojafilter", GetLojaFilterValue());
            formData.append("semanafilter", semana);
            formData.append("anofilter", ano);

            // alert("Load contadores da semana = " + semana);

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        console.log("loadTotaisSemanais: success");
                        var viewModel = JSON.parse(data);
                        str = JSON.stringify(data, null, 4); // (Optional) beautiful indented output.
                        console.log(str); // Logs output to dev tools console.

                        // atualizar contadores
                        let semanaDash = new Date(viewModel.data.SemanaDashboard);


                        $('#h3_lvl_totalVendasSemana').text(viewModel.data.LVL_TotalVendasSemana);
                        $('#p_lvl_totalVendasSemana').text('@localizer["LVL group - Semana"]' + " " + viewModel.data.SemanaDashboard + "/" + viewModel.data.AnoDashboard);

                        $('#h3_pt_totalVendasSemana').text(viewModel.data.PT_TotalVendasSemana);
                        $('#p_pt_totalVendasSemana').text('@localizer["PORTUGAL - Semana"]' + " " + viewModel.data.SemanaDashboard + "/" + viewModel.data.AnoDashboard);

                        $('#h3_es_totalVendasSemana').text(viewModel.data.ES_TotalVendasSemana);
                        $('#p_es_totalVendasSemana').text('@localizer["ESPANHA - Semana"]' + " " + viewModel.data.SemanaDashboard + "/" + viewModel.data.AnoDashboard);

                        $('#h3_can_totalVendasSemana').text(viewModel.data.CAN_TotalVendasSemana);
                        $('#p_can_totalVendasSemana').text('@localizer["CANÁRIAS - Semana"]' + " " + viewModel.data.SemanaDashboard + "/" + viewModel.data.AnoDashboard);

                        $.busyLoadFull("hide");
                        console.log("loadTotaisSemanais: contadores de vendas da semana foram carregados");
                    },
                    error: function () {
                        $.busyLoadFull("hide");
                        alert("loadTotaisSemanais: Error occurs");
                    }
                }
            );
        }

        function LoadChart_MEG_Semanal(semana, ano) {

            console.log("LoadChart_MEG_SemanalViewModel: load partialview de vendas da semana");
            $.busyLoadFull("show");



            let _url = "/Dashboard/DashboardVendasTops/LoadChart_MEG_Semanal";

            let formData = new FormData();
            formData.append("mercadofilter", GetMercadoFilterValue());
            formData.append("empresafilter", GetEmpresaFilterValue());
            formData.append("grupolojafilter", GetGrupolojaFilterValue());
            formData.append("lojafilter", GetLojaFilterValue());
            formData.append("semanafilter", semana);
            formData.append("anofilter", ano);



            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'html',
                    success: function (html) {

                        $('#Chart_MEG_VendasDaSemana').html("");
                        $('#Chart_MEG_VendasDaSemana').html(html);

                        $.busyLoadFull("hide");
                        console.log("Chart_MEG_VendasDaSemana: charts de vendas por dia foram carregados");
                        //console.log("Chart_MEG_VendasDaSemana: sequência   $(#DataDashboard).on(change) terminou!!");
                    },
                    error: function () {
                        $.busyLoadFull("hide");
                        alert("Error occurs");
                    }
                }
            );
        }

        function LoadChart_M_Semanal(semana, ano, mercadoId, divId, title) {

            console.log("LoadChart_M_SemanalViewModel: load partialview de vendas da semana");
            $.busyLoadFull("show");



            let _url = "/Dashboard/DashboardVendasTops/LoadChart_M_Semanal";

            let empresaId = GetEmpresaFilterValue();
            let grupolojaId = GetGrupolojaFilterValue();
            let lojaId = GetLojaFilterValue();


            // criar formData
            let formData = new FormData();
            formData.append("mercadofilter", mercadoId);
            formData.append("empresafilter", empresaId);
            formData.append("grupolojafilter", grupolojaId);
            formData.append("lojafilter", lojaId);
            formData.append("semanafilter", semana);
            formData.append("anofilter", ano);
            formData.append("divfilter", divId);
            formData.append("title", title);

            $.ajax(
            {
                type: "POST",
                url: _url,
                processData: false,
                contentType: false,
                data: formData,
                dataType: 'html',
                success: function (html) {

                    $('#' + divId).html("");
                    $('#' + divId).html(html);

                    $.busyLoadFull("hide");
                    console.log(divId + " : charts de vendas por dia foram carregados");
                },
                error: function () {
                    $.busyLoadFull("hide");
                    alert("Error occurs");
                }
            });
        }

        function PopulateChartsMercado(semana, ano) {
            
            // load charts M da semana
            let mIdUser = GetMercadoFilterValue();
            //if (mId == 0) {



            // Limpar o conteúdo do container antes de adicionar as novas divs
            $("#Chart_Mercados_Container").html("");

            for (var i = 0; i < mercados.length; i++) { //mercados.length


                if (mIdUser > 0 && mercados[i].Value != mIdUser) {
                    continue;
                }

                let mId = mercados[i].Value;

                // Criar row e 2 col para cada mercado
                let divRow = document.createElement("div");
                divRow.className = "row pt-lg-5";
                let divCol1 = document.createElement("div");
                divCol1.className = "col-lg-5 col-12";
                divRow.appendChild(divCol1);
                let divCol2 = document.createElement("div");
                divCol2.className = "col-lg-7 col-12";
                divRow.appendChild(divCol2);


                // Criar uma div para o chart do mercado
                let div1 = document.createElement("div");
                let divId1 = "Chart_GL_M" + mId + "_VendasDaSemana";
                div1.setAttribute("id", divId1);
                div1.className = "mt-4";
                divCol1.appendChild(div1);


                // Criar uma div para a tabela do mercado
                let div2 = document.createElement("div");
                let divId2 = "Table_GL_M" + mId + "_VendasDaSemana";
                div2.setAttribute("id", divId2);
                divCol2.appendChild(div2);


                //await new Promise(r => setTimeout(r, 2000));
                document.getElementById("Chart_Mercados_Container").appendChild(divRow);


                // Chama o AJAX para preencher a div criada
                LoadChart_M_Semanal(semana, ano, mId, divId1, mercados[i].Text);


                // load tabelas vendas por semana
                $('#' + divId2).load('/dashboard/dashboardvendastops/LoadTable_M_PorSemana?id=' + mId + '&label=' + mercados[i].Text + '&div=' + divId2 + '_tbl');



                console.log("PopulateChartsMercado Mercados Valor:", mercados[i].Value, "Texto:", mercados[i].Text);
            }
            //}
        }

        function LoadChart_GL_Semanal(semana, ano, grupolojaId, divId, title) {

            console.log("LoadChart_GL_SemanalViewModel: load partialview de vendas da semana");
            $.busyLoadFull("show");



            let _url = "/Dashboard/DashboardVendasTops/LoadChart_GL_Semanal";

            let empresaId = GetEmpresaFilterValue();
            let mercadoId = GetMercadoFilterValue();
            let lojaId = GetLojaFilterValue();


            // criar formData
            let formData = new FormData();
            formData.append("mercadofilter", mercadoId);
            formData.append("empresafilter", empresaId);
            formData.append("grupolojafilter", grupolojaId);
            formData.append("lojafilter", lojaId);
            formData.append("semanafilter", semana);
            formData.append("anofilter", ano);
            formData.append("divfilter", divId);
            formData.append("title", title);

            $.ajax(
            {
                type: "POST",
                url: _url,
                processData: false,
                contentType: false,
                data: formData,
                dataType: 'html',
                success: function (html) {

                    $('#' + divId).html("");
                    $('#' + divId).html(html);

                    $.busyLoadFull("hide");
                    console.log(divId + " : charts de vendas por dia foram carregados");
                },
                error: function () {
                    $.busyLoadFull("hide");
                    alert("Error occurs");
                }
            });
        }

        function PopulateChartsGrupolojas(semana, ano) {
            
            // load charts GL do Grupoloja
            let glIdUser = GetGrupolojaFilterValue();


            //if (glId == 0) {

            // mostrar charts dos Grupolojas

            // Limpar o conteúdo do container antes de adicionar as novas divs
            $("#Chart_GruposLojas_Container").html("");

            for (var i = 0; i < gruposLojas.length; i++) { //gruposLojas.length


                if (glIdUser > 0 && gruposLojas[i].Value != glIdUser) {
                    continue;
                }

                let glId = gruposLojas[i].Value;

                // Criar row e 2 col para cada grupoLoja
                let divRow = document.createElement("div");
                divRow.className = "row pt-lg-5";
                let divCol1 = document.createElement("div");
                divCol1.className = "col-lg-5 col-12";
                divRow.appendChild(divCol1);
                let divCol2 = document.createElement("div");
                divCol2.className = "col-lg-7 col-12";
                divRow.appendChild(divCol2);


                // Criar uma div para o chart do grupoLoja
                let div1 = document.createElement("div");
                let divId1 = "Chart_GL" + glId + "_M_VendasDaSemana";
                div1.setAttribute("id", divId1);
                div1.className = "mt-4";
                divCol1.appendChild(div1);


                // Criar uma div para a tabela do mercado
                let div2 = document.createElement("div");
                let divId2 = "Table_GL" + glId + "_M_VendasDaSemana";
                div2.setAttribute("id", divId2);
                divCol2.appendChild(div2);


                //await new Promise(r => setTimeout(r, 2000));
                document.getElementById("Chart_GruposLojas_Container").appendChild(divRow);


                // Chama o AJAX para preencher a div criada
                LoadChart_GL_Semanal(semana, ano, glId, divId1, gruposLojas[i].Text);


                // load tabelas vendas por semana
                $('#' + divId2).load('/dashboard/dashboardvendastops/LoadTable_GL_PorSemana?id=' + glId + '&label=' + encodeURIComponent(gruposLojas[i].Text) + '&div=' + divId2 + '_tbl');



                console.log("PopulateChartsMercado Mercados Valor:", gruposLojas[i].Value, "Texto:", encodeURIComponent(gruposLojas[i].Text));
            }
            //}
        }

        function UpdateFilterLabel() {
            console.log("loja = hide.bs.dropdown");

            let str = [];

            let merc = "";
            let mercId = 0;
            if ($('#SelectMercadoId_filter').length) {
                merc = $('#SelectMercadoId_filter :selected').text();
                mercId = parseInt($('#SelectMercadoId_filter').val());
            }
            if ($('#SelectMercadoId_filter_fix').length) {
                merc = $('#SelectMercadoId_filter_fix :selected').text();
                mercId = parseInt($('#SelectMercadoId_filter_fix').val());
            }

            let emp = "";
            let empId = 0;
            if ($('#SelectEmpresaId_filter').length) {
                emp = $('#SelectEmpresaId_filter :selected').text();
                empId = parseInt($('#SelectEmpresaId_filter').val());
            }
            if ($('#SelectEmpresaId_filter_fix').length) {
                emp = $('#SelectEmpresaId_filter_fix :selected').text();
                empId = parseInt($('#SelectEmpresaId_filter_fix').val());
            }

            let grp = "";
            let grpId = 0;
            if ($('#SelectGrupolojaId_filter').length) {
                grp = $('#SelectGrupolojaId_filter :selected').text();
                grpId = parseInt($('#SelectGrupolojaId_filter').val());
            }
            if ($('#SelectGrupolojaId_filter_fix').length) {
                grp = $('#SelectGrupolojaId_filter_fix :selected').text();
                grpId = parseInt($('#SelectGrupolojaId_filter_fix').val());
            }

            let lj = "";
            let ljId = 0;
            if ($('#SelectLojaId_filter').length) {
                lj = $('#SelectLojaId_filter :selected').text();
                ljId = parseInt($('#SelectLojaId_filter').val());
            }
            if ($('#SelectLojaId_filter_fix').length) {
                lj = $('#SelectLojaId_filter_fix :selected').text();
                ljId = parseInt($('#SelectLojaId_filter_fix').val());
            }


            if (mercId > 0) str.push(merc);
            if (empId > 0) str.push(emp);
            if (grpId > 0) str.push(grp);
            if (ljId > 0) str.push(lj);

            let lblFilter = str.join(" / ");
            $('#lbl_lojaSelector').html("");
            console.log(lblFilter);
            if (lblFilter.length > 0) {
                $('#lbl_lojaSelector').append(lblFilter);
            }
            else {
                $('#lbl_lojaSelector').append('@localizer["Todo o LVL group"]');
            }
        };

        function LoadGrupolojaSelect_filter(empId) {
            //alert("Empresa changed = " + empId);

            var _empresaId = empId;
            var _url = "/Business/Grupoloja/LoadGruposlojas?empresaId=" + _empresaId;
            var formData = new FormData();
            formData.append("empresaId", _empresaId);

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        let _list = JSON.parse(data);
                        //$("#GrupolojaId_filter").val(0);
                        $('#SelectGrupolojaId_filter').find('option').remove();
                        let option = document.createElement('option');
                        $(option).val(0).text('@localizer["Selecione um agrupamento"]');
                        $(option).appendTo("#SelectGrupolojaId_filter");
                        $(_list.gruposlojasList).each(function () {
                            let option = document.createElement('option');
                            $(option).val(this.Value).text(this.Text);
                            $(option).appendTo("#SelectGrupolojaId_filter");
                        });
                        $("#GrupolojaId_filter").val($("#SelectGrupolojaId_filter").val());
                        LoadLojaSelect_filter($("#SelectGrupolojaId_filter").val());
                    },
                    error: function () {
                        alert("Error occurs");
                    }
                }
            );
        };

        function LoadLojaSelect_filter(grupoId) {
            //alert("Grupoloja changed = " + grupoId);

            var _grupolojaId = grupoId;
            var _url = "/Business/Loja/LoadLojasInGrupoloja?grupolojaId=" + _grupolojaId;
            var formData = new FormData();
            formData.append("grupolojaId", _grupolojaId);

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        let _list = JSON.parse(data);
                        // $("#LojaId_filter").val(0);
                        $('#SelectLojaId_filter').find('option').remove();
                        let option = document.createElement('option');
                        $(option).val(0).text('@localizer["Selecione uma loja"]');
                        $(option).appendTo("#SelectLojaId_filter");
                        $(_list.lojasList).each(function () {
                            let option = document.createElement('option');
                            $(option).val(this.Value).text(this.Text);
                            $(option).appendTo("#SelectLojaId_filter");
                        });
                        $("#LojaId_filter").val($("#SelectLojaId_filter").val());
                    },
                    error: function () {
                        alert("Error occurs");
                    }
                }
            );
        };

        function LoadLojaSelectFromMercado_filter(mercadoId) {
            //alert("Mercado changed = " + mercadoId);

            var _mercadoId = mercadoId;
            var _url = "/Business/Loja/LoadLojasInMercado?mercadoId=" + _mercadoId;
            var formData = new FormData();
            formData.append("mercadoId", _mercadoId);

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        let _list = JSON.parse(data);
                        // $("#LojaId_filter").val(0);
                        $('#SelectLojaId_filter').find('option').remove();
                        let option = document.createElement('option');
                        $(option).val(0).text('@localizer["Selecione uma loja"]');
                        $(option).appendTo("#SelectLojaId_filter");
                        $(_list.lojasList).each(function () {
                            let option = document.createElement('option');
                            $(option).val(this.Value).text(this.Text);
                            $(option).appendTo("#SelectLojaId_filter");
                        });
                        $("#LojaId_filter").val($("#SelectLojaId_filter").val());
                    },
                    error: function () {
                        alert("Error occurs");
                    }
                }
            );
        };

        function LoadAllEmpresas_filter() {
            //alert("Empresas inicializados");

            var _url = "/Business/Empresa/LoadAllEmpresas";
            var formData = new FormData();

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        let _list = JSON.parse(data);
                        // $("#EmpresaId_filter").val(0);
                        $('#SelectEmpresaId_filter').find('option').remove();
                        let option = document.createElement('option');
                        $(option).val(0).text('@localizer["Selecione uma empresa"]');
                        $(option).appendTo("#SelectEmpresaId_filter");
                        $(_list.empresasList).each(function () {
                            let option = document.createElement('option');
                            $(option).val(this.Value).text(this.Text);
                            $(option).appendTo("#SelectEmpresaId_filter");
                        });
                        $("#EmpresaId_filter").val($("#SelectEmpresaId_filter").val());
                    },
                    error: function () {
                        alert("Error occurs");
                    }
                }
            );
        };

        function LoadAllMercados_filter() {
            //alert("Mercados inicializados");

            var _url = "/Business/Mercado/LoadAllMercados";
            var formData = new FormData();

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        let _list = JSON.parse(data);
                        // $("#MercadoId_filter").val(0);
                        $('#SelectMercadoId_filter').find('option').remove();
                        let option = document.createElement('option');
                        $(option).val(0).text('@localizer["Selecione um mercado"]');
                        $(option).appendTo("#SelectMercadoId_filter");
                        $(_list.mercadosList).each(function () {
                            let option = document.createElement('option');
                            $(option).val(this.Value).text(this.Text);
                            $(option).appendTo("#SelectMercadoId_filter");
                        });
                        $("#MercadoId_filter").val($("#SelectMercadoId_filter").val());
                    },
                    error: function () {
                        alert("Error occurs");
                    }
                }
            );
        };

        function updateRangeSemana() {

                const _ano = $("#AnoDashboard").val();
                const _semana = $("#SemanaDashboard").val();

                var _url = '/Vendas/VendaSemanal/GetMondayDate?ano=' + _ano + '&semana=' + _semana;
                var formData = new FormData();
                formData.append("ano", _ano);
                formData.append("semana", _semana);

                $.ajax(
                    {
                        type: "POST",
                        url: _url,
                        processData: false,
                        contentType: false,
                        data: formData,
                        dataType: 'json',
                        success: function (data) {
                            let vt = JSON.parse(data);
                            console.log("updateRangeSemana vt.weekStartDate = " + vt.weekStartDate);

                            // Split the string into day, month, and year parts
                            const partsNovaData = vt.weekStartDate.split("/");

                            const isEng = ('@localizer["pt"]' == 'en');

                            // Create a new Date object by passing the year, month (0-based), and day as arguments
                            const novaData = isEng ? new Date(partsNovaData[2], partsNovaData[0] - 1, partsNovaData[1]) : new Date(partsNovaData[2], partsNovaData[1] - 1, partsNovaData[0]);
                            console.log("updateRangeSemana novaData = " + novaData);

                            let fpInstance = document.querySelector("#RangeSemana")._flatpickr;
                            //let oldWeek = fpInstance.config.getWeek(fpInstance.selectedDates[0]);
                            //console.log("updateRangeSemana old semana = " + oldWeek);

                            fpInstance.setDate(novaData, true, '@localizer["d-m-Y"]');
                            fpInstance.input.value = [fpInstance.weekStartDay, fpInstance.weekEndDay]
                                .map(d => fpInstance.formatDate(d, '@localizer["d-m-Y"]'))
                                .join('    ->    ');
                        },
                        error: function () {
                            alert("Error occurs");
                        }
                    }
                );
            }

        function AnoChanged() {
            console.log("Ano changed. " + $("#AnoDashboard").val());
            updateRangeSemana();
            refreshData();
        }

        function SemanaChanged() {
            console.log("Semana changed " + $("#SemanaDashboard").val());
            updateRangeSemana();
            refreshData()
        }




        $(document).ready(function () {


            console.log("loading......");
            $.busyLoadSetup({ fontawesome: "fa fa-spinner fa-spin fa-3x fa-fw" });


            //------------------------- Inicializar plugin select2 FiltroLoja ----------------------------

            $('#SelectMercadoId_filter').select2({
                theme: 'bootstrap-5',
                width: '100%',
                escapeMarkup: function (m) {
                    return m;
                }
            });

            $('#SelectEmpresaId_filter').select2({
                theme: 'bootstrap-5',
                width: '100%',
                escapeMarkup: function (m) {
                    return m;
                }
            });

            $('#SelectGrupolojaId_filter').select2({
                theme: 'bootstrap-5',
                width: '100%',
                escapeMarkup: function (m) {
                    return m;
                }
            });

            $('#SelectLojaId_filter').select2({
                theme: 'bootstrap-5',
                width: '100%',
                escapeMarkup: function (m) {
                    return m;
                }
            });



            // Semana Dashboard ----------------------------------------------------

            flatpickr.l10ns.default.firstDayOfWeek = 1; // Monday

            var rangeSemana = $('#RangeSemana').flatpickr({
                "plugins": [new weekSelect({})],
                onClose(date, dateStr, instance) {
                    instance.input.value = [
                        instance.weekStartDay,
                        instance.weekEndDay,
                    ]
                        .map(d => instance.formatDate(d, '@localizer["d-m-Y"]'))
                        .join('    ->    ');
                },
                onChange(date, dateStr, instance) {
                    let year = parseFloat(this.currentYear === "" ? 0 : this.currentYear);
                    console.log("onChange flatpicker year = " + year);
                    const weekNumber = this.selectedDates[0]
                        ? this.config.getWeek(this.selectedDates[0])
                        : null;
                    console.log("onChange flatpicker weekNumber = " + weekNumber);
                    updateAnoSemana(year, weekNumber);
                },
                weekNumbers: true,
                dateFormat: '@localizer["d-m-Y"]',
                locale: '@localizer["pt"]'
            });


            let yNumber = document.querySelector("#RangeSemana")._flatpickr.currentYear;
            let wNumber = document.querySelector("#RangeSemana")._flatpickr.config.getWeek(document.querySelector("#RangeSemana")._flatpickr.selectedDates[0])
            
            
            $('#SemanaDashboard').val(wNumber);
            document.querySelector("#RangeSemana")._flatpickr.input.value = [
                document.querySelector("#RangeSemana")._flatpickr.weekStartDay,
                document.querySelector("#RangeSemana")._flatpickr.weekEndDay,
            ].map(d => document.querySelector("#RangeSemana")._flatpickr.formatDate(d, '@localizer["d-m-Y"]'))
                .join('    ->    ');

            console.log("Numero da Semana = " + $('#SemanaDashboard').val());

            function updateAnoSemana(ano, semana) {
                $('#AnoDashboard').val(ano);
                $('#SemanaDashboard').val(semana);
                console.log("Update Ano = " + $('#AnoDashboard').val() + " | Semana = " + $('#SemanaDashboard').val());
            
                refreshData();
            }



            //------------------------- Event Listeners ----------------------------

            $("#SelectMercadoId_filter").on("change", function () {
                $("#MercadoId_filter").val(this.value);

                console.log("Mercado changed:");
                // console.log("Mercado = " + parseInt($("#MercadoId_filter").val(), 10));
                // console.log("Empresa = " + parseInt($("#EmpresaId_filter").val(), 10));
                // console.log("Grupoloja = " + parseInt($("#GrupolojaId_filter").val(), 10));
                // console.log("Loja = " + parseInt($("#LojaId_filter").val(), 10));

                if (this.value > 0) {
                    // selecionar loja atraves do Mercado
                    $('#SelectEmpresaId_filter').val(0);
                    $('#SelectGrupolojaId_filter').find('option').remove();
                    $('#SelectLojaId_filter').find('option').remove();
                    $('#SelectEmpresaId_filter').prop('disabled', true);
                    $('#SelectGrupolojaId_filter').prop('disabled', true);
                    LoadLojaSelectFromMercado_filter(this.value);
                }
                else {
                    // selecionar loja atraves da Empresa
                    $('#SelectEmpresaId_filter').prop('disabled', false);
                    $('#SelectGrupolojaId_filter').prop('disabled', false);
                    console.log("MercadoId=0, selecionar loja atraves da Empresa, #EmpresaId_filter=" + $('#EmpresaId_filter').val());
                    LoadGrupolojaSelect_filter($('#EmpresaId_filter').val());
                }
            });

            $("#SelectEmpresaId_filter").on("change", function () {
                $("#EmpresaId_filter").val(this.value);

                console.log("Empresa changed:");
                // console.log("Mercado = " + parseInt($("#MercadoId_filter").val(), 10));
                // console.log("Empresa = " + parseInt($("#EmpresaId_filter").val(), 10));
                // console.log("Grupoloja = " + parseInt($("#GrupolojaId_filter").val(), 10));
                // console.log("Loja = " + parseInt($("#LojaId_filter").val(), 10));

                if (this.value > 0) {
                    // selecionar loja atraves da Empresa
                    $('#SelectMercadoId_filter').prop('disabled', true);
                    LoadGrupolojaSelect_filter(this.value);
                }
                else {
                    // selecionar loja atraves do Mercado
                    $('#SelectEmpresaId_filter').val(0);
                    $('#SelectGrupolojaId_filter').find('option').remove();
                    $('#SelectLojaId_filter').find('option').remove();
                    $('#SelectMercadoId_filter').prop('disabled', false);
                    //LoadLojaSelect_filter(this.value);
                }
            });

            $("#SelectGrupolojaId_filter").on("change", function () {
                $("#GrupolojaId_filter").val(this.value);

                console.log("Grupoloja changed:");
                // console.log("Mercado = " + parseInt($("#MercadoId_filter").val(), 10));
                // console.log("Empresa = " + parseInt($("#EmpresaId_filter").val(), 10));
                // console.log("Grupoloja = " + parseInt($("#GrupolojaId_filter").val(), 10));
                // console.log("Loja = " + parseInt($("#LojaId_filter").val(), 10));

                LoadLojaSelect_filter(this.value);
            });

            $("#SelectLojaId_filter").on("change", function () {
                $("#LojaId_filter").val(this.value);

                console.log("Loja changed:");
                // console.log("Mercado = " + parseInt($("#MercadoId_filter").val(), 10));
                // console.log("Empresa = " + parseInt($("#EmpresaId_filter").val(), 10));
                // console.log("Grupoloja = " + parseInt($("#GrupolojaId_filter").val(), 10));
                // console.log("Loja = " + parseInt($("#LojaId_filter").val(), 10));
            });

            $(".dropdown-lojafilter").on("hide.bs.dropdown", function () {

                console.log("dropdown-lojafilter changed.");

                UpdateFilterLabel();
                refreshData(); 
            });

            $('#reload').on('click', function () {

                console.log("reload.onclick");
                refreshData();
            });




            //------------------------- Inicializar filtros ----------------------------

            LoadAllEmpresas_filter();
            LoadAllMercados_filter();


            if ($("#SelectMercadoId_filter_fix").length) $("#MercadoId_filter").val($("#SelectMercadoId_filter_fix").val());
            if ($("#SelectEmpresaId_filter_fix").length) $("#EmpresaId_filter").val($("#SelectEmpresaId_filter_fix").val());
            if ($("#SelectGrupolojaId_filter_fix").length) $("#GrupolojaId_filter").val($("#SelectGrupolojaId_filter_fix").val());
            if ($("#SelectLojaId_filter_fix").length) $("#LojaId_filter").val($("#SelectLojaId_filter_fix").val());


            UpdateFilterLabel();



            // load chart MEG da semana
            LoadChart_MEG_Semanal(wNumber, yNumber);



            // load chart GL de Mercado da semana
            PopulateChartsMercado(wNumber, yNumber);



            // load chart GL de Grupolojas da semana
            PopulateChartsGrupolojas(wNumber, yNumber);

        });

    </script>
}
