@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Core.Constants
@using LVLgroupApp.Areas.Claim.Models.Fototag
@model IEnumerable<FototagViewModel>

<table id="fototagTable" class="table table-striped dt-responsive nowrap display hover" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>@localizer["Id"]</th>
            <th>@localizer["Etiqueta"]</th>
            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Fototags.Delete)).Result.Succeeded
               || (AuthorizationService.AuthorizeAsync(User, Permissions.Fototags.Edit)).Result.Succeeded)
            {
                <th>@localizer["Ações"]</th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var fototag in Model)
        {
        <tr>
            <td>
                @fototag.Id
            </td>
            <td>
                @fototag.Tag
            </td>
            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Fototags.Delete)).Result.Succeeded
                ||    (AuthorizationService.AuthorizeAsync(User, Permissions.Fototags.Edit)).Result.Succeeded)
            {
                <td text-right">
                    <div class="btn-group">
                        <button id="dropdown_@fototag.Id" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @localizer["Ação"]
                        </button>
                            <ul class="dropdown-menu dropdown-menu-table shadow animated--grow-in" aria-labelledby="dropdown_@fototag.Id">
                            <li>
                                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Fototags.Edit)).Result.Succeeded)
                                {
                                    <a onclick="jQueryModalGet('/claim/fototag/OnGetCreateOrEdit?id=@fototag.Id','@localizer["Editar etiqueta"]', event, 'modal-md')" class="dropdown-item"><i class="fas fa-pencil-alt"></i>  @localizer["Editar"]</a>
                                }
                            </li>
                            <li>
                                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Fototags.Delete)).Result.Succeeded)
                                {
                                        <form id="form_delete_@fototag.Id" asp-area="Claim" asp-controller="Fototag" method="post" asp-action="OnPostDelete" asp-route-id="@fototag.Id" onsubmit="return jQueryModalDelete(this, event, '@localizer["Tem a certeza que pretende remover esta etiqueta?"]')">
                                        <a href="javascript:$('#form_delete_@fototag.Id').submit();" class="dropdown-item"><i class="fas fa-trash-alt"></i>  @localizer["Remover"]</a>
                                    </form>
                                }
                            </li>
                        </ul>
                    </div>
                </td>
            }
        </tr>
        }
    </tbody>
</table>

<script>

    $(document).ready(function () {

        var logo = getLVLlogo('logo-lvl-dark.png');

        var options = {
            isEnabled: true,
            saveState: false
        };

        var languagePath = '@Url.Content("~/lib/datatables/localizer/")';
        var languageFile = '@localizer["Portuguese.json"]';
        var _language = languagePath + languageFile;

        var table = $("#fototagTable").DataTable({
            dom: "<'row'<'col-sm-12 col-md-4'B><'col-sm-12 col-md-4 mt-1'l><'col-sm-12 col-md-4 mt-1'f>>" +
                "<'row'<'col-sm-12't>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 mt-3'p>>",
            stateSave: true,
            //scrollX: true,
            //scrollY: true,
            responsive: false,
            fixedHeader: {
                header: true,
                headerOffset: $('#navigationBar').height()
            },
            language: {
                url: _language
            },
            buttons: [
                {
                    extend: 'copy',
                    text: '<i class="fas fa-copy"></i>',
                    orientation: 'portrait',
                    exportOptions: {
                        columns: ':visible'
                    },
                    title: '@localizer["Lista de etiquetas"]'
                },
                {
                    extend: 'pdf',
                    text: '<i class="fas fa-file-pdf"></i>',
                    orientation: 'portrait',
                    exportOptions: {
                        columns: ':visible'
                    },
                    title: '@localizer["Lista de etiquetas"]',
                    customize: function (doc) {
                        doc.content.splice(1, 0, {
                            margin: [0, 0, 0, 12],
                            alignment: 'center',
                            image: 'data: image/*;base64,' + logo,
                            fit: [100, 100]
                        });
                    }
                },
                {
                    extend: 'excel',
                    text: '<i class="fas fa-file-excel"></i>',
                    orientation: 'portrait',
                    exportOptions: {
                        columns: ':visible'
                    },
                    title: '@localizer["Lista de etiquetas"]'
                },
                {
                    extend: 'print',
                    text: '<i class="fas fa-print"></i>',
                    orientation: 'portrait',
                    exportOptions: {
                        columns: ':visible'
                    },
                    title: '@localizer["Lista de etiquetas"]'
                },
                {
                    extend: 'colvis',
                    text: '<i class="fas fa-eye-slash"></i>',
                }
            ],
            order: [[0, "desc"]],
            columnDefs: [
                { visible: false, targets: [0] }
            ]
        });

        $('#fototagTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            } else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        $('#fototagTable tbody').on('dblclick', 'tr', function () {
            $(this).addClass('selected');
            var data = table.row(this).data();
            //alert('You clicked on ' + data[0] + '\'s row');
            jQueryModalGet('/claim/fototag/OnGetCreateOrEdit?id=' + data[0], '@localizer["Editar etiqueta"]', event, 'modal-md')
        });

        $('#fototagTable').on('show.bs.dropdown', function () {
            $('.dataTables_scrollBody').addClass('dropdown-visible');
            $('.dataTables_scrollHead').addClass('dropdown-visible');
        })
        .on('hide.bs.dropdown', function () {
            $('.dataTables_scrollBody').removeClass('dropdown-visible');
            $('.dataTables_scrollHead').removeClass('dropdown-visible');
        });

        function getLVLlogo(logoName) {

            let _logoName = logoName;
            let _url = "/Claim/Foto/GetLVLlogo?logoName=_logoName";
            let formData = new FormData();
            formData.append("logoName", _logoName);

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        if (data.status == "success") {
                            logo = data.logoBase64;
                            //alert(logo);
                        }
                    },
                    error: function () {
                        alert("getLVLlogo: Error occurs");
                    }
                }
            );

        };

    });

</script>