@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Dashboard Tops"];
    ViewData["Caption"] = localizer["Ranking de reclamações"];
}

<style>
    .wrap {
        position: relative;
    }

        .wrap #reload {
            position: absolute;
            top: -70px;
            right: 15px;
        }
</style>

<div class="row wrap">
    <div class="col-lg-4"></div>
    <div class="col-lg-2">
        <div class="form-floating mb-3">
            <select name="EmpresaFilterId" class="form-select" id="EmpresaFilterId" data-placeholder='@localizer["Selecione uma empresa"]'>
            </select>
            <label class="col-form-label" for="EmpresaFilterId">@localizer["Empresa"]</label>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-floating mb-3">
            <input id="startDate" type="text" class="form-control" placeholder="name@example.com">
            <label class="col-form-label" for="startDate">@localizer["Desde"]</label>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-floating mb-3">
            <input id="endDate" type="text" class="form-control" placeholder="name@example.com">
            <label class="col-form-label" for="endDate">@localizer["Até"]</label>
        </div>
    </div>
    <div class="col-lg-2">
        <a id="reload" class="btn btn-primary text-white mb-3">
            <i class="fa fas fa-bolt"></i>
            @localizer["Recarregar"]
        </a>
    </div>
</div>

<div class="card">
    <div id="dashboardTops" class="card-body">
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {

            // inicializar Empresa filter
            $('#EmpresaFilterId').select2({
                theme: 'bootstrap-5',
                //dropdownParent: $('#form-modal'),
                ajax: {
                    type: 'get',
                    url: '/Business/Empresa/OnGetListAllEmpresas',
                    contentType: "application/json; charset=utf-8",
                    data: function (params) {
                        var query =
                        {
                            term: params.term,
                        };
                        return query;
                    },
                    processResults: function (result) {
                        return {
                            results: $.map(result, function (item) {
                                return {
                                    id: item.id,
                                    text: item.text,
                                    selected: item.selected
                                };
                            }),
                        };
                    }
                },
                escapeMarkup: function (m) {
                    return m;
                }
            });
            $("#EmpresaFilterId").on("change", function () {
                $('#top10ArtigosTable').DataTable().draw();
                $('#top10ClientesTable').DataTable().draw();
                $('#top10AberturasTable').DataTable().draw();
                $('#top10FechosTable').DataTable().draw();
                $('#top10LojasTable').DataTable().draw();
                $('#top10TrocasDiretasTable').DataTable().draw();
            });

            // inicializar start date
            $('#startDate').flatpickr({
                dateFormat: '@localizer["d-m-Y"]',
                locale: '@localizer["pt"]'
            });
            var startDate = document.getElementById('startDate');
            var currentStartDateVal = localStorage.getItem("currentStartDateVal");
            if (currentStartDateVal !== null) {

                $('#startDate').val(currentStartDateVal);
                console.log("currentStartDateVal = " + currentStartDateVal);
            };
            startDate.addEventListener('change', (e) => {
                let startDateVal = e.target.value;
                if (startDateVal === null || startDateVal === "") {
                    localStorage.removeItem("currentStartDateVal");
                }
                else {
                    localStorage.setItem("currentStartDateVal", startDateVal);
                }

                $('#top10ArtigosTable').DataTable().draw();
                $('#top10ClientesTable').DataTable().draw();
                $('#top10AberturasTable').DataTable().draw();
                $('#top10FechosTable').DataTable().draw();
                $('#top10LojasTable').DataTable().draw();
                $('#top10TrocasDiretasTable').DataTable().draw();
            })

            // inicializar end date
            $('#endDate').flatpickr({
                dateFormat: '@localizer["d-m-Y"]',
                locale: '@localizer["pt"]'
            });
            var endDate = document.getElementById('endDate');
            var currentEndDateVal = localStorage.getItem("currentEndDateVal");
            if (currentEndDateVal !== null) {

                $('#endDate').val(currentEndDateVal);
                console.log("currentEndDateVal = " + currentEndDateVal);
            };
            endDate.addEventListener('change', (e) => {
                let endDateVal = e.target.value;
                if (endDateVal === null || endDateVal === "") {
                    localStorage.removeItem("currentEndDateVal");
                }
                else {
                    localStorage.setItem("currentEndDateVal", endDateVal);
                }

                $('#top10ArtigosTable').DataTable().draw();
                $('#top10ClientesTable').DataTable().draw();
                $('#top10AberturasTable').DataTable().draw();
                $('#top10FechosTable').DataTable().draw();
                $('#top10LojasTable').DataTable().draw();
                $('#top10TrocasDiretasTable').DataTable().draw();
            })

            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });

        function loadData() {
            $('#dashboardTops').load('/dashboard/dashboardtops/LoadAll');
        }
    </script>
}