@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Core.Constants
@using LVLgroupApp.Areas.Claim.Models.Status
@model ForceStatusViewModel

<form id="reset-status-form" method="post" asp-area="Claim" asp-controller="Claim" asp-action="OnPostForceStatus" asp-route-id="@Model.Id" asp-route-nextstatusId="@Model.NextStatusId" onsubmit="return jQueryModalPost(this, event);" enctype="multipart/form-data">
    
    <input id="claim_Id" name="claim_Id" asp-for=Id type="text" class="form-control" hidden>
    <input id="status_Id" name="status_Id" asp-for=StatusId type="text" class="form-control" hidden>    
    <input id="nextstatusId" name="nextstatusId" asp-for=NextStatusId type="text" class="form-control" hidden>

    <div class="row">
        <div class="col-md-6">
            <div class="form-floating mb-4">
                <input id="floatingCodeId" name="floatingCodeId" asp-for="@Model.CodeId" type="text" class="form-control" placeholder="name@example.com" disabled>
                <label class="col-form-label" for="floatingCodeId">@localizer["Reclamação"]</label>
                @*<small><span asp-validation-for="@Model.CodeId" class="text-danger"></span></small>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-floating mb-4">
                <select name="Status" class="form-select" id="Status" asp-items="@Model.AllStatus" data-placeholder='@localizer["Selecionar um status"]' disabled>
                </select>
                <label class="col-form-label" for="Status">@localizer["Status"]</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-floating mb-4">
                <select name="NewStatus" class="form-select" id="NewStatus" asp-for=NextStatusId asp-items="@Model.GoBackStatus" data-placeholder='@localizer["Selecionar um status"]'>
                </select>
                <label class="col-form-label" for="NewStatus">@localizer["Redefinir status para"]</label>
                @*<small><span asp-validation-for="@Model.NextStatusId" class="text-danger"></span></small>*@
            </div>
        </div>
    </div>

    <br/>

    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Statuss.Edit)).Result.Succeeded)
        {
            <button type="submit" class="btn btn-success">@localizer["Redefinir status"]</button>
        }
        <button type="button" class="btn btn-secondary close-button" data-bs-dismiss="modal">@localizer["Cancelar"]</button>
    </div>
</form>


<!-- jquery-validation translated messages -->
@{
    string messageFile = @localizer["messages_pt.js"].Value;
    string url = "/lib/jquery-validation/" + messageFile;
}
<script type="text/javascript" src=@url></script>


<script type="text/javascript" language=javascript>

    $("#reset-status-form").removeData("validator");

    $("#reset-status-form").validate({
        rules: {
            Status: {
                required: true
            }
        },
        errorElement: "div",
        errorPlacement: function (error, element) {
            error.addClass("invalid-feedback");
            error.insertAfter(element);
        },
        highlight: function (element) {
            $(element).removeClass('is-valid').addClass('is-invalid');
        },
        unhighlight: function (element) {
            $(element).removeClass('is-invalid').addClass('is-valid');
        }
    });

    function formatStatusState(state) {

        if (!state.id) {
            return state.text;
        }
        var $state = $(
            `<h5>
                <span class="badge" style="background-color: ${state.backgroundColor}; color: ${state.textColor}; padding-top: 6px;">
                    ${state.text}
                </span>
            </h5>`
        );
        return $state;
    };

    $('#Status').select2({
        theme: 'bootstrap-5',
        dropdownParent: $('#form-modal')
    });

    $('#NewStatus').select2({
        theme: 'bootstrap-5',
        dropdownParent: $('#form-modal')
    });

    $("#NewStatus").on("change", function () {
        //console.log("EventListener : #NewStatus changed.");
        var data = $('#NewStatus').select2('data');
        //console.log("#NewStatus changed : " + JSON.stringify(data));

        var _Id = data[0].id;
        var _st = data[0].text;

        $('#nextstatusId').val(_Id);
        //alert("NewStatus=" + $('#nextstatusId').val());
    });

</script>