@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Core.Enums
@using Core.Constants
@using LVLgroupApp.Areas.Claim.Models.Claim
@model TabClaimViewModel
@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "Claim";
}

<div id="ViewTabClaim" class="col-md-12">
    <input type="text" id="Claim_NextStatusId" asp-for="@Model.NextStatusId" name="Claim.NextStatusId" class="form-control" value="@Model.NextStatusId" hidden>
    <input type="checkbox" id="Claim_isNewStatusAllowed" asp-for="@Model.isNewStatusAllowed" name="Claim.isNewStatusAllowed" class="form-control" hidden>
    <div class="row pb-lg-3">
        <div class="col-md-8">
            <div class="form-floating mt-3">
                @if (Model.isNewStatusAllowed)
                {
                    <select name="NextStatusId" class="form-select" id="NextStatusId" asp-items="@Model.NextStatus" data-placeholder='@localizer["Selecione um status"]'>
                    </select>
                }
                else
                {
                    <select name="NextStatusId" class="form-select" id="NextStatusId" data-placeholder='@localizer["Selecione um status"]'>
                        <option value="0" selected="selected">@localizer["MANTER STATUS DA RECLAMAÇÃO"]</option>
                    </select>
                }
                <label class="col-form-label" for="NextStatusId">@localizer["Status seguinte"]</label>
                @*<span asp-validation-for="NextStatusId" class="text-danger"></span>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mt-3">
                <input id="Claim_DataClaim" name="Claim.DataClaim" type="text" class="form-control" asp-for="DataClaim" value="@Model.DataClaim.ToShortDateString()" placeholder="name@example.com">
                <label class="col-form-label" for="endDate">@localizer["Data da reclamação"]</label>
                @*<span asp-validation-for="DataClaim" class="text-danger"></span>*@
            </div>
        </div>
    </div>

    <div class="row pb-lg-3">

        <input type="text" id="Claim_EmpresaId" name="Claim.EmpresaId" asp-for="@Model.EmpresaId" class="form-control" hidden>
        <input type="text" id="Claim_GrupolojaId" name="Claim.GrupolojaId" asp-for="@Model.GrupolojaId" class="form-control" hidden>
        <input type="text" id="Claim_LojaId" name="Claim.LojaId" asp-for="@Model.LojaId" class="form-control" hidden>

        <div class="col-md-4">
            <div class="form-floating mt-3">
                @if (Model.EditMode)
                {
                    <select name="EmpresaId" class="form-select" id="EmpresaId" asp-items="@Model.Empresas" data-placeholder='@localizer["Selecione uma empresa"]' disabled>
                        <option></option>
                    </select>
                }
                else
                {
                    @if (Model.isSuperAdmin || Model.isAdmin || Model.isRevisor)
                    {
                        <select name="EmpresaId" class="form-select" id="EmpresaId" asp-items="@Model.Empresas" data-placeholder='@localizer["Selecione uma empresa"]'>
                            <option></option>
                        </select>
                    }
                    else
                    {
                        <select name="EmpresaId" class="form-select" id="EmpresaId" asp-items="@Model.Empresas" data-placeholder='@localizer["Selecione uma empresa"]' disabled>
                            <option></option>
                        </select>
                    }
                }
                <label class="col-form-label" for="EmpresaId">@localizer["Empresa"]</label>
                @*<span asp-validation-for="EmpresaId" class="text-danger"></span>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mt-3">
                @if (Model.EditMode)
                {
                    <select name="GrupolojaId" class="form-select" id="GrupolojaId" asp-items="@Model.Gruposlojas" data-placeholder='@localizer["Selecione um agrupamento"]' disabled>
                        <option></option>
                    </select>
                }
                else
                {
                    @if (Model.isSuperAdmin || Model.isAdmin || Model.isRevisor)
                    {
                        <select name="GrupolojaId" class="form-select" id="GrupolojaId" asp-items="@Model.Gruposlojas" data-placeholder='@localizer["Selecione um agrupamento"]'>
                            <option></option>
                        </select>
                    }
                    else
                    {
                        <select name="GrupolojaId" class="form-select" id="GrupolojaId" asp-items="@Model.Gruposlojas" data-placeholder='@localizer["Selecione um agrupamento"]' disabled>
                            <option></option>
                        </select>
                    }
                }
                <label class="col-form-label" for="GrupolojaId">@localizer["Agrupamento de lojas"]</label>
                @*<span asp-validation-for="GrupolojaId" class="text-danger"></span>*@
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-floating mt-3">
                @if (Model.EditMode)
                {
                    <select name="LojaId" class="form-select" id="LojaId" asp-items="@Model.Lojas" data-placeholder='@localizer["Selecione uma loja"]' disabled>
                        <option></option>
                    </select>
                }
                else
                {
                    @if (Model.isSuperAdmin || Model.isAdmin || Model.isRevisor || Model.isSupervisor)
                    {
                        <select name="LojaId" class="form-select" id="LojaId" asp-items="@Model.Lojas" data-placeholder='@localizer["Selecione uma loja"]'>
                            <option></option>
                        </select>
                    }
                    else
                    {
                        <select name="LojaId" class="form-select" id="LojaId" asp-items="@Model.Lojas" data-placeholder='@localizer["Selecione uma loja"]' disabled>
                            <option></option>
                        </select>
                    }
                }
                <label class="col-form-label" for="LojaId">@localizer["Loja"]</label>
                @*<span asp-validation-for="LojaId" class="text-danger"></span>*@
            </div>
        </div>
    </div>

    <div class="row pb-lg-3">
        <div class="col-md-6">
            <div class="form-floating mt-3">
                <textarea id="Claim_MotivoClaim" name="Claim.MotivoClaim" type="text" class="form-control" asp-for="MotivoClaim" style="height: 100px;" placeholder="name@example.com"></textarea>
                <label class="col-form-label" for="Claim_MotivoClaim">@localizer["Opinião do cliente"]</label>
                @*<span asp-validation-for="MotivoClaim" class="text-danger"></span>*@
            </div>
        </div>
    </div>
</div>



