@{

}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model LVLgroupApp.Areas.Admin.Models.ManageUserRolesViewModel

<div class="card">

    <div id="viewAll" class="card-body table-responsive">
        <form asp-controller="UserRole" method="post" asp-action="Update" asp-route-id="@Model.UserId" class="d-inline">
            <input asp-for="@Model.UserId" type="hidden" />
            <table id="userRolesTable" class="table table-striped dt-responsive nowrap display hover" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @localizer["Função"]
                        </th>
                        <th>
                            @localizer["Status"]
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < Model.UserRoles.Count(); i++)
                    {
                        <tr>
                            <td>
                                <input asp-for="@Model.UserRoles[i].RoleName" type="hidden" />
                                @Model.UserRoles[i].RoleName
                            </td>
                            <td>
                                <div class="form-check m-1">
                                    <input asp-for="@Model.UserRoles[i].Selected" class="form-check-input mut-exc" onclick="MutExChkList(this);" />
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="col-sm-12" style=" padding: 20px 20px 0px 0px">
                <button type="submit" id="save" class="btn btn-success">
                    <i class="fa fa-check"></i> @localizer["Salvar"]
                </button>
            </div>
        </form>
    </div>
</div>


<script>

    function MutExChkList(chk) {
        //alert("MutExChkList");
        var collection = document.getElementsByClassName("mut-exc");
        for (var i = 0; i < collection.length; i++) {
            if (collection[i] != chk && chk.checked) {
                collection[i].checked = false;
            }
        }
    }

</script>



