@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Core.Constants
@using LVLgroupApp.Areas.Notification.Models.Notification
@model ViewNotificationViewModel

<style>
    .email-view {
	    font-size: 14px;
	    font-weight: 600;
	    padding: 10px 0;
    }
    .person-view {
        font-size: 12px;
        margin: 0;
    }
    .designation-view {
        font-size: 10px;
    }
    #card-sendnotification-view {
        position: relative;
        top: -5px;
    }
    #targetUsers-view {
        max-height: 70px;
        overflow-y: auto;
        list-style-type: none;
    }

    #targetUsers-view li {
        font-size: 12px;
    }
</style>

<form id="create-form" method="post" asp-area="Notification" asp-controller="MyNotification" asp-action="OnPostCreate" asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this, event, false);" enctype="multipart/form-data">
    <card id="card-sendnotification-view">
        <card-header>

            <div class="row">
                <div class="col-sm-1 text-left">@localizer["De:"]</div>
                <div class="col-sm-5">
                    <div class="d-inline-flex flex-row border border-2 border-primary rounded">
                        <div class="ps-3">
                            @if (@Model.FromUser.ProfilePicture != null && Model.FromUser.ProfilePicture.Length > 0)
                            {
                                <img class="img-profile rounded-circle my-2" style="height: 60px;width:60px;object-fit: cover;" src="data:image/*;base64,@(Convert.ToBase64String(@Model.FromUser.ProfilePicture))">
                            }
                            else
                            {
                                <img class="img-profile rounded-circle my-2" style="height: 60px;width:60px;object-fit: cover;" src="~/images/default-user.png">
                            }
                        </div>
                        <div>
                            <div class="my-1 px-3">
                                <p class="email-view py-0 m-0">@Model.FromUser.Email</p>
                                <div class="person-view">
                                    <p class="m-0">@Model.FromUser.Name</p>
                                </div>
                                <p class="designation-view m-0">@string.Concat(Model.FromUser.RoleName, " ", Model.FromUser.Local)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 text-left">@localizer["Para:"]</div>
                <div class="col-sm-5">

                    <div class="btn-group w-100 h-100 border border-2 border-primary rounded">
                        <ul id="targetUsers-view" class="w-100 h-100 mb-0 text-start"></ul>
                    </div>

                </div>
                <input id="ToUserIds" name="ToUserIds" type="text" class="form-control" asp-for="ToUserIds" hidden/>
            </div>

        </card-header>
        <card-body>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-floating mt-3">
                        <input id="Subject" name="Subject" type="text" class="form-control" asp-for="Subject" readonly/>
                        <label class="col-form-label" for="Notification_Subject">@localizer["Assunto"]</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-floating mt-3">
                        <textarea id="Text" name="Text" type="Text" class="form-control" asp-for="Text" style="height: 200px;" readonly></textarea>
                        <label class="col-form-label" for="Text">@localizer["Mensagem"]</label>
                    </div>
                </div>
            </div>
            <br />
        </card-body>
        <card-footer>
            <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
                <button type="button" class="btn btn-secondary close-button" data-bs-dismiss="modal">@localizer["Cancelar"]</button>
            </div>
        </card-footer>
    </card>
</form>


<script>
    $(document).ready(function () {

        let toUsers = @Html.Raw(Json.Serialize(Model.ToUsers));
        let ul = document.getElementById("targetUsers-view");

        for (let i = 0; i < toUsers.length; i++) {

            // adicionar <li> ao <ul> em targetUsers-view
            let li = document.createElement('li');
            let text = document.createTextNode(toUsers[i].email);
            li.appendChild(text);
            ul.appendChild(li);
        }
    });
</script>