@using Core.Constants
@using Core.Enums
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model LVLgroupApp.Views.Shared.Components.FiltroLoja.Models.FiltroLojaViewModel


<input type="text" id="MercadoId_filter" name="MercadoId_filter" class="form-control" value="@Model.CurrentRole.MercadoId" hidden>
<input type="text" id="EmpresaId_filter" name="EmpresaId_filter" class="form-control" value="@Model.CurrentRole.EmpresaId" hidden>
<input type="text" id="GrupolojaId_filter" name="GrupolojaId_filter" class="form-control" value="@Model.CurrentRole.GrupolojaId" hidden>
<input type="text" id="LojaId_filter" name="LojaId_filter" class="form-control" value="@Model.CurrentRole.LojaId" hidden>

<input type="text" id="ApplyFiltroLoja_Function" name="ApplyFiltroLoja_Function" class="form-control" value="@Model.ApplyFiltroLoja_Function" hidden>

<div class="row">
    @* filtros Mercado:Empresa:Grupolojas:Loja *@
    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-12">
                @if (Model.CurrentRole.IsSuperAdmin || Model.CurrentRole.IsAdmin || Model.CurrentRole.IsRevisor)
                {
                    <div class="form-floating mb-3">
                        <select name="SelectMercadoId_filter" id="SelectMercadoId_filter" class="form-select" data-placeholder='@localizer["Selecione um mercado"]'>
                            <option value="0">@localizer["Selecione um mercado"]</option>
                        </select>
                        <label class="col-form-label label-select" for="SelectMercadoId_filter">@localizer["Mercado"]</label>
                    </div>
                }
                else
                {
                    <div class="form-floating mb-3">
                        <select name="SelectMercadoId_filter_fix" id="SelectMercadoId_filter_fix" class="form-select" asp-items="Model.Mercados" data-placeholder='@localizer["Selecione um mercado"]' disabled>
                            <option value="0">@localizer["Selecione um mercado"]</option>
                        </select>
                        <label class="col-form-label label-select" for="SelectMercadoId_filter_fix">@localizer["Mercado"]</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (Model.CurrentRole.IsSuperAdmin || Model.CurrentRole.IsAdmin || Model.CurrentRole.IsRevisor)
                {
                    <div class="form-floating mb-3">
                        <select name="SelectEmpresaId_filter" id="SelectEmpresaId_filter" class="form-select" data-placeholder='@localizer["Selecione uma empresa"]'>
                            <option value="0">@localizer["Selecione uma empresa"]</option>
                        </select>
                        <label class="col-form-label label-select" for="EmpresaId_filter">@localizer["Empresa"]</label>
                    </div>
                }
                else
                {
                    <div class="form-floating mb-3">
                        <select name="SelectEmpresaId_filter_fix" id="SelectEmpresaId_filter_fix" class="form-select" asp-items="Model.Empresas" data-placeholder='@localizer["Selecione uma empresa"]' disabled>
                            <option value="0">@localizer["Selecione uma empresa"]</option>
                        </select>
                        <label class="col-form-label label-select" for="SelectEmpresaId_filter_fix">@localizer["Empresa"]</label>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-md-12">
                @if (Model.CurrentRole.IsSuperAdmin || Model.CurrentRole.IsAdmin || Model.CurrentRole.IsRevisor)
                {
                    <div class="form-floating mb-3">
                        <select name="SelectGrupolojaId_filter" id="SelectGrupolojaId_filter" class="form-select" data-placeholder='@localizer["Selecione um agrupamento"]'>
                            <option value="0">@localizer["Selecione um agrupamento"]</option>
                        </select>
                        <label class="col-form-label label-select" for="SelectGrupolojaId_filter">@localizer["Agrupamento"]</label>
                    </div>
                }
                else
                {
                    <div class="form-floating mb-3">
                        <select name="SelectGrupolojaId_filter_fix" id="SelectGrupolojaId_filter_fix" class="form-select" asp-items="Model.GruposLojas" data-placeholder='@localizer["Selecione um agrupamento"]' disabled>
                            <option value="0">@localizer["Selecione um agrupamento"]</option>
                        </select>
                        <label class="col-form-label label-select" for="SelectGrupolojaId_filter_fix">@localizer["Agrupamento"]</label>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (Model.CurrentRole.IsSuperAdmin || Model.CurrentRole.IsAdmin || Model.CurrentRole.IsRevisor)
                {
                    <div class="form-floating mb-3">
                        <select name="SelectLojaId_filter" id="SelectLojaId_filter" class="form-select" data-placeholder='@localizer["Selecione uma loja"]'>
                            <option value="0">@localizer["Selecione uma loja"]</option>
                        </select>
                        <label class="col-form-label label-select" for="SelectLojaId_filter">@localizer["Loja"]</label>
                    </div>
                }
                @if (Model.CurrentRole.IsSupervisor)
                {
                    <div class="form-floating mb-3">
                        <select name="SelectLojaId_filter" id="SelectLojaId_filter" class="form-select" asp-items="Model.Lojas" data-placeholder='@localizer["Selecione uma loja"]'>
                            <option value="0">@localizer["Selecione uma loja"]</option>
                        </select>
                        <label class="col-form-label label-select" for="SelectLojaId_filter">@localizer["Loja"]</label>
                    </div>
                }
                @if (Model.CurrentRole.IsBasic || Model.CurrentRole.IsColaborador || Model.CurrentRole.IsGerenteLoja)
                {
                    <div class="form-floating mb-3">
                        <select name="SelectLojaId_filter_fix" id="SelectLojaId_filter_fix" class="form-select" asp-items="Model.Lojas" data-placeholder='@localizer["Selecione uma loja"]' disabled>
                            <option value="0">@localizer["Selecione uma loja"]</option>
                        </select>
                        <label class="col-form-label label-select" for="SelectLojaId_filter_fix">@localizer["Loja"]</label>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




