@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using Core.Constants
@using LVLgroupApp.Areas.Dashboard.Models.DashboardVendasGeral
@model DashboardVendasMensaisViewModel


<link href="~/css/dashboard.css" rel="stylesheet">


<style>
    .nostrech {
        width: 1%;
        white-space: nowrap;
    }
</style>


<div class="row pt-lg-5">
    <div class="col-lg-6 col-12">
        <!--card de suporte da tabele Vendas Mensais Ano anterior-->
        <div class="card card-table my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="table-title text-black ps-3"></h6>
                </div>
            </div>
            <div class="card-body p-0 pb-2">
                <div class="table-responsive p-2">
                    <table id="AA_VendasPorMesTable" class="table align-items-center dt-responsive nowrap display hover mb-0" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-start text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-3"><span class="table-year-aa"></span></th>
                                <th class="text-end text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">@localizer["Qtd."]</th>
                                <th class="text-end text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">@localizer["Valor"]</th>
                                <th class="text-end text-uppercase text-secondary text-xs font-weight-bolder opacity-7">@localizer["Obj."]</th>
                                <th class="text-end text-uppercase text-secondary text-xs font-weight-bolder opacity-7">@localizer["%"]</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-12">
        <!--card de suporte da tabele Vendas Mensais-->
        <div class="card card-table my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="table-title text-black ps-3"></h6>
                </div>
            </div>
            <div class="card-body p-0 pb-2">
                <div class="table-responsive p-2">
                    <table id="VendasPorMesTable" class="table align-items-center dt-responsive nowrap display hover mb-0" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-start text-uppercase text-secondary text-xs font-weight-bolder opacity-7"><span class="table-year"></span></th>
                                <th class="text-end text-uppercase text-secondary text-xs font-weight-bolder opacity-7">@localizer["Qtd."]</th>
                                <th class="text-end text-uppercase text-secondary text-xs font-weight-bolder opacity-7">@localizer["Valor"]</th>
                                <th class="text-end text-uppercase text-secondary text-xs font-weight-bolder opacity-7">@localizer["Obj."]</th>
                                <th class="text-end text-uppercase text-secondary text-xs font-weight-bolder opacity-7">@localizer["%"]</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ajaxStop(function () {
        $.busyLoadFull("hide");
    });


    $(document).ready(function () {

        $.busyLoadSetup({ fontawesome: "fa fa-spinner fa-spin fa-3x fa-fw" });

        var languagePath = '@Url.Content("~/lib/datatables/localizer/")';
        var languageFile = '@localizer["Portuguese.json"]';
        var _language = languagePath + languageFile;

        var tableVendasPorMes = $("#VendasPorMesTable").DataTable({
            lengthChange: false,
            searching: false,
            bInfo: false,
            paging: false,
            ordering: false,
            serverSide: true,
            stateSave: true,
            language: {
                url: _language
            },
            ajax: {
                url: "/dashboard/dashboardvendasgeral/GetVendasPorMes",
                type: "POST",
                datatype: "json",
                data: function (d) {

                    $.busyLoadFull("show");

                    let elementFp = document.querySelector("#DataDashboard");
                    d.date = elementFp._flatpickr.selectedDates[0].toLocaleDateString();


                    d.mercadofilter = GetMercadoFilterValue();
                    d.empresafilter = GetEmpresaFilterValue();
                    d.grupolojafilter = GetGrupolojaFilterValue();
                    d.lojafilter = GetLojaFilterValue();
                    //d.date = flatpockrDataDash.selectedDates[0].toLocaleDateString();

                    $(".table-year").text(elementFp._flatpickr.selectedDates[0].getFullYear());
                    let lbltxt = $('#lbl_lojaSelector').text();
                    $(".table-title").text('@localizer["Vendas de"]' + " " + lbltxt);
                }
            },
            columnDefs: [
                {
                    orderable: false, targets: [0, 1, 2, 3, 4]
                },
                {
                    className: 'dt-body-right', targets: [1, 2, 3, 4]
                }
            ],
            columns: [
                {
                    data: "monthName",
                    name: "MonthName",
                    render: function (data, type, full) {
                        return `<span class="badge badge-col-1 text-xxs text-bg-warning" style="padding-top: 5px;">${data}</span>`;
                    }
                },
                { data: "quantidade", name: "Quantidade", autoWidth: true },
                { data: "valor", name: "Valor", autoWidth: true },
                { data: "objetivo", name: "Objetivo", autoWidth: true },
                {
                    data: "variacao",
                    name: "Variacao",
                    render: function (data, type, full) {
                        if (data >= 0) return data;
                        return `<span class="badge text-xxs text-bg-danger" style="padding-top: 5px;">${data}</span>`;
                    }
                },
            ]
        }).on('draw', function() {
            let allTbody = document.getElementById('VendasPorMesTable').querySelectorAll('tbody');
            console.log('draw = ' + allTbody.length);
            let allSpan = allTbody[0].querySelectorAll(".badge-col-1");
            if (allSpan.length) {
                let lastSpan = allSpan[allSpan.length - 1];
                lastSpan.classList.remove('text-bg-warning');
                lastSpan.classList.add('text-bg-success');
                console.log("lastSpan = " + lastSpan.className);
            }
        });


        var tableVendasPorMes_AA = $("#AA_VendasPorMesTable").DataTable({
            lengthChange: false,
            searching: false,
            bInfo: false,
            paging: false,
            ordering: false,
            serverSide: true,
            stateSave: true,
            language: {
                url: _language
            },
            ajax: {
                url: "/dashboard/dashboardvendasgeral/GetVendasPorMes",
                type: "POST",
                datatype: "json",
                data: function (d) {

                    $.busyLoadFull("show");

                    let elementFp = document.querySelector("#DataDashboard");
                    let dateAA = elementFp._flatpickr.selectedDates[0];
                    let yearAA = dateAA.getFullYear();
                    let monthAA = dateAA.getMonth();
                    let dayAA = dateAA.getDate();

                    d.date = new Date(yearAA - 1, monthAA, dayAA).toLocaleDateString();

                    d.mercadofilter = GetMercadoFilterValue();
                    d.empresafilter = GetEmpresaFilterValue();
                    d.grupolojafilter = GetGrupolojaFilterValue();
                    d.lojafilter = GetLojaFilterValue();

                    $(".table-year-aa").text(yearAA - 1);
                    let lbltxt = $('#lbl_lojaSelector').text();
                    $(".table-title").text('@localizer["Vendas de"]' + " " + lbltxt);
                    
                }
            },
            columnDefs: [
                {
                    orderable: false, targets: [0, 1, 2, 3, 4]
                },
                {
                    className: 'dt-body-right', targets: [1, 2, 3, 4]
                }
            ],
            columns: [
                {
                    data: "monthName",
                    name: "MonthName",
                    render: function (data, type, full) {
                        return `<span class="badge badge-col-1 text-xxs text-bg-warning" style="padding-top: 5px;">${data}</span>`;
                    }
                },
                { data: "quantidade", name: "Quantidade", autoWidth: true },
                { data: "valor", name: "Valor", autoWidth: true },
                { data: "objetivo", name: "Objetivo", autoWidth: true },
                {
                    data: "variacao",
                    name: "Variacao",
                    render: function (data, type, full) {
                        if (data >= 0) return data;
                        return `<span class="badge text-xxs text-bg-danger" style="padding-top: 5px;">${data}</span>`;
                    }
                },
            ]
        }).on('draw', function() {
            let allTbody = document.getElementById('AA_VendasPorMesTable').querySelectorAll('tbody');
            console.log('draw = ' + allTbody.length);
            let allSpan = allTbody[0].querySelectorAll(".badge-col-1");
            if (allSpan.length) {
                let lastSpan = allSpan[allSpan.length - 1];
                lastSpan.classList.remove('text-bg-warning');
                lastSpan.classList.add('text-bg-success');
                console.log("lastSpan = " + lastSpan.className);
            }
        });

    });

</script>
