@using Core.Constants
@using LVLgroupApp.Areas.Dashboard.Models.DashboardVendasGeral
@using LVLgroupApp.Areas.Vendas.Models.VendaMensal
@using LVLgroupApp.Areas.Vendas.Models.VendaSemanal
@using LVLgroupApp.Views.Shared.Components.BoxVendaMensal
@using LVLgroupApp.Views.Shared.Components.BoxVendaSemanal
@using LVLgroupApp.Views.Shared.Components.FiltroCalendario
@using LVLgroupApp.Views.Shared.Components.FiltroCalendario.Models
@using LVLgroupApp.Views.Shared.Components.FiltroLoja
@using LVLgroupApp.Views.Shared.Components.FiltroLoja.Models

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model DashboardVendasGeralViewModel



@{
    ViewData["Title"] = localizer["Dashboard Vendas do dia"];
    ViewData["Caption"] = localizer["Métricas de Vendas"];
}

<link href="~/css/dashboard.css" rel="stylesheet">

<style>
    .wrap {
        position: relative;
    }

        .wrap #reload {
            position: absolute;
            top: -70px;
            right: 15px;
        }

    #LojaDropDown {
        min-width: 600px;
    }
</style>


<!--invokeRequests-->
@{
    var invokeRequestSemanal = new BoxSemanalViewModel()
    {
        MercadoId = Model.CurrentRole.MercadoId,
        EmpresaId = Model.CurrentRole.EmpresaId,
        GrupolojaId = Model.CurrentRole.GrupolojaId,
        LojaId = Model.CurrentRole.LojaId,
        NumeroDaSemana = Model.NumeroDaSemana,
        Ano = Model.Ano,
        ValorTotalDaVenda = Model.TotalVendasSemana,
        ObjetivoDaVendaSemanal = Model.ObjetivoVendasSemana
    };

    var invokeRequestMensal = new BoxMensalViewModel()
    {
        MercadoId = Model.CurrentRole.MercadoId,
        EmpresaId = Model.CurrentRole.EmpresaId,
        GrupolojaId = Model.CurrentRole.GrupolojaId,
        LojaId = Model.CurrentRole.LojaId,
        Mes = Model.Mes,
        MesLiteral = Model.MesLiteral,
        Ano = Model.Ano,
        ValorTotalMensalDaVenda = Model.TotalVendasMes,
        ObjetivoMensalDaVenda = Model.ObjetivoVendasMes
    };

    var invokeRequestFiltroLoja = new FiltroLojaViewModel()
    {
        CurrentRole = Model.CurrentRole,
        Empresas = Model.Empresas,
        Mercados = Model.Mercados,
        GruposLojas = Model.GruposLojas,
        Lojas = Model.Lojas,
        ApplyFiltroLoja_Function = "loadData",

    };
}

<!--reload button-->
<div class="row wrap">
    <div class="col-lg-10"></div>
    <div class="col-lg-2">
        <a id="reload" class="btn btn-primary text-white mb-3">
            <i class="fa fas fa-bolt"></i>
            @localizer["Recarregar"]
        </a>
    </div>
</div>

<!--Data Dashboard / dropdown lojafilter / box semanal + mensal-->
<div class="row">
    <!--Data Dashboard selector /  dropdown lojafilter-->
    <div class="col-lg-4">
        <!--Data Dashboard selector-->
        <div class="row">
            <div class="col-lg-8">
                <div class="form-floating mb-3">
                    <input id="DataDashboard" name="DataDashboard" type="text" class="form-control" value="@Model.DataDashboard.ToShortDateString()" placeholder="name@example.com">
                    <label class="col-form-label" for="DataDashboard">@localizer["Data"]</label>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
        <!--dropdown lojafilter-->
        <div class="row">
            <div class="col-lg-6">
                <div class="dropdown dropdown-lojafilter mb-3">
                    <button id="LojaFilter" type="button" class="btn btn-secondary w-100 dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        <i class="fas fa-house-user"></i> @localizer["Loja"]
                    </button>
                    <div id="LojaDropDown" class="dropdown-menu dropdown-menu-end p-3">
                        <div id="FiltroLoja-container" class="col-md-12">
                            @(await Component.InvokeAsync<FiltroLojaViewComponent>(invokeRequestFiltroLoja))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--box venda mensal-->
    <div class="col-lg-4">
        <div id="box-venda-mensal-container" class="status-objetivo-mensal">
            @(await Component.InvokeAsync<BoxVendaMensalViewComponent>(invokeRequestMensal))
        </div>
    </div>
    <!--box venda semanal-->
    <div class="col-lg-4">
        <div id="box-venda-semanal-container" class="status-objetivo-semanal">
            @(await Component.InvokeAsync<BoxVendaSemanalViewComponent>(invokeRequestSemanal))
        </div>
    </div>
</div>

<!--label loja selector-->
<div class="d-flex mt-3">
    <div class="badge rounded-pill text-bg-success">
        <label id="lbl_lojaSelector" class="fst-italic fw-semibold fs-6"></label>
    </div>
</div>

<!--box contadores-->
<div class="row mt-3">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="h3_aa_totalvendasdia">@Model.AA_TotalVendasDia €</h3>
                <p id="p_aa_totalvendasdia">@localizer["Vendas do dia"] @Model.AA_DataDashboard.ToShortDateString()</p>
            </div>
            <div class="icon">
                <i class="fas fa-euro-sign"></i>
            </div>
            @if (AuthorizationService.AuthorizeAsync(User, Permissions.Vendas.Delete).Result.Succeeded)
            {
                <a class="small-box-footer" asp-area="Vendas" asp-controller="VendaSemanal" asp-action="Index">
                    @localizer["Mais informações"]&nbsp;
                    <i class="fas fa-arrow-circle-right"></i>
                </a>
            }
            else
            {
                <a class="small-box-footer" href="#">
                    @localizer["Mais informações"]&nbsp;
                    <i class="fas fa-arrow-circle-right"></i>
                </a>
            }
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="h3_totalvendasdia">@Model.TotalVendasDia €</h3>
                <p id="p_totalvendasdia">@localizer["Vendas do dia"] @Model.DataDashboard.ToShortDateString()</p>
            </div>
            <div class="icon">
                <i class="fas fa-euro-sign"></i>
            </div>
            @if (AuthorizationService.AuthorizeAsync(User, Permissions.Vendas.Delete).Result.Succeeded)
            {
                <a class="small-box-footer" asp-area="Vendas" asp-controller="VendaSemanal" asp-action="Index">
                    @localizer["Mais informações"]&nbsp;
                    <i class="fas fa-arrow-circle-right"></i>
                </a>
            }
            else
            {
                <a class="small-box-footer" href="#">
                    @localizer["Mais informações"]&nbsp;
                    <i class="fas fa-arrow-circle-right"></i>
                </a>
            }
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="h3_aa_totalunidadesdia">@Model.AA_TotalUnidadesDia</h3>
                <p id="p_aa_totalunidadesdia">@localizer["Total Unid. do dia"] @Model.AA_DataDashboard.ToShortDateString()</p>
            </div>
            <div class="icon">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <a href="#" class="small-box-footer">@localizer["Mais informações"]&nbsp;<i class="fas fa-info-circle"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="h3_totalunidadesdia">@Model.TotalUnidadesDia</h3>
                <p id="p_totalunidadesdia">@localizer["Total Unid. do dia"] @Model.DataDashboard.ToShortDateString()</p>
            </div>
            <div class="icon">
                <i class="fas fa-shopping-cart"></i>
            </div>
            <a href="#" class="small-box-footer">@localizer["Mais informações"]&nbsp;<i class="fas fa-info-circle"></i></a>
        </div>
    </div>
</div>

<!--Chart Vendas Por Dia-->
<div class="card mt-3">
    <div id="ChartVendasPorDia" class="card-body"></div>
</div>

<!--Tabelas Vendas Por Dia-->
<div class="card mt-3">
    <div id="TabelasVendasPorDia" class="card-body"></div>
</div>

<!--Chart Vendas Por Semana-->
<div class="card mt-3">
    <div id="ChartVendasPorSemana" class="card-body"></div>
</div>

<!--Tabelas Vendas Por Semana-->
<div class="card mt-3">
    <div id="TabelasVendasPorSemana" class="card-body"></div>
</div>

<!--Chart Vendas Por Mes-->
<div class="card mt-3">
    <div id="ChartVendasPorMes" class="card-body"></div>
</div>

<!--Tabelas Vendas Por Mes-->
<div class="card mt-3">
    <div id="TabelasVendasPorMes" class="card-body"></div>
</div>

<!--Chart Vendas Por Trimestre-->
<div class="card mt-3">
    <div id="ChartVendasPorTrimestre" class="card-body"></div>
</div>

<!--Tabelas Vendas Por Trimestre-->
<div class="card mt-3">
    <div id="TabelasVendasPorTrimestre" class="card-body"></div>
</div>


<!--Functions dropdown lojafilter-->
<script type="text/javascript">

    function GetMercadoFilterValue() {
        let mercId = 0;
        if ($('#SelectMercadoId_filter').length) {
            mercId = parseInt($('#SelectMercadoId_filter').val());
        }
        if ($('#SelectMercadoId_filter_fix').length) {
            mercId = parseInt($('#SelectMercadoId_filter_fix').val());
        }
        if (mercId !== mercId) {
            //NaN
            return 0;
        }
        return mercId;
    };

    function GetEmpresaFilterValue() {
        let empId = 0;
        if ($('#SelectEmpresaId_filter').length) {
            empId = parseInt($('#SelectEmpresaId_filter').val());
        }
        if ($('#SelectEmpresaId_filter_fix').length) {
            empId = parseInt($('#SelectEmpresaId_filter_fix').val());
        }
        if (empId !== empId) {
            //NaN
            return 0;
        }
        return empId;
    };

    function GetGrupolojaFilterValue() {
        let grpId = 0;
        if ($('#SelectGrupolojaId_filter').length) {
            grpId = parseInt($('#SelectGrupolojaId_filter').val());
        }
        if ($('#SelectGrupolojaId_filter_fix').length) {
            grpId = parseInt($('#SelectGrupolojaId_filter_fix').val());
        }
        if (grpId !== grpId) {
            //NaN
            return 0;
        }
        return grpId;
    };

    function GetLojaFilterValue() {
        let ljId = 0;
        if ($('#SelectLojaId_filter').length) {
            ljId = parseInt($('#SelectLojaId_filter').val());
        }
        if ($('#SelectLojaId_filter_fix').length) {
            ljId = parseInt($('#SelectLojaId_filter_fix').val());
        }
        if (ljId !== ljId) {
            //NaN
            return 0;
        }
        return ljId;
    };

</script>


<!--Functions index-->
@section Scripts {
    <script type="text/javascript">

        function refreshData() {

            console.log('refreshData');

            let elementFp = document.querySelector("#DataDashboard");
            let dateCurrent = elementFp._flatpickr.selectedDates[0];

            // update contadores, boxsemanal e mensal
            console.log("sequência refreshData arrancou!! para data = " + dateCurrent.toLocaleDateString());
            
            // refresh contadores
            loadDataDia(dateCurrent);

            // refresh box semanal e mensal
            LoadBoxSemanal(dateCurrent);
            LoadBoxMensal(dateCurrent);
    



            // refresh tabelas vendas por dia
            $('#TabelasVendasPorDia').load('/dashboard/dashboardvendasgeral/LoadTablesVendasDia');

            // refresh chart vendas por dia
            LoadChartVendasPorDia(dateCurrent);

            // refresh tabelas vendas por semana
            $('#TabelasVendasPorSemana').load('/dashboard/dashboardvendasgeral/LoadTablesVendasSemana');

            // refresh chart vendas por semana
            LoadChartVendasPorSemana(dateCurrent);

            // refresh tabelas vendas por mes
            $('#TabelasVendasPorMes').load('/dashboard/dashboardvendasgeral/LoadTablesVendasMes');

            // refresh chart vendas por mes
            LoadChartVendasPorMes(dateCurrent);

            // refresh tabelas vendas por trimestre
            $('#TabelasVendasPorTrimestre').load('/dashboard/dashboardvendasgeral/LoadTablesVendasTrimestre');

            // refresh chart vendas por trimestre
            LoadChartVendasPorTrimestre(dateCurrent);
        }

        function loadDataDia(date) {

            console.log("LoadDataDia: load contadores de vendas geral");
            $.busyLoadFull("show");
            

            let _url = "/Dashboard/DashboardVendasGeral/LoadDataDia";

            let formData = new FormData();
            formData.append("mercadofilter", GetMercadoFilterValue());
            formData.append("empresafilter", GetEmpresaFilterValue());
            formData.append("grupolojafilter", GetGrupolojaFilterValue());
            formData.append("lojafilter", GetLojaFilterValue());
            formData.append("diafilter", date.toLocaleDateString());

            // alert("Load contadores = " + date.toLocaleDateString());

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        console.log("LoadDataDia: success");
                        var viewModel = JSON.parse(data);
                        str = JSON.stringify(data, null, 4); // (Optional) beautiful indented output.
                        console.log(str); // Logs output to dev tools console.

                        // atualizar contadores
                        let dDash = new Date(viewModel.data.DataDashboard);
                        let previousYear = dDash.getFullYear() - 1;
                        let AA_dDash = new Date(dDash.getTime());
                        AA_dDash.setFullYear(previousYear);
                        let dateDash = dDash.toLocaleDateString('@localizer["pt-PT"]');
                        let AA_dateDash = AA_dDash.toLocaleDateString('@localizer["pt-PT"]');


                        $('#h3_totalvendasdia').text(viewModel.data.TotalVendasDia);
                        $('#p_totalvendasdia').text('@localizer["Vendas do dia"]' + " " + dateDash);

                        $('#h3_aa_totalvendasdia').text(viewModel.data.AA_TotalVendasDia);
                        $('#p_aa_totalvendasdia').text('@localizer["Vendas do dia"]' + " " + AA_dateDash);

                        $('#h3_totalunidadesdia').text(viewModel.data.TotalUnidadesDia);
                        $('#p_totalunidadesdia').text('@localizer["Total Unid. do dia"]' + " " + dateDash);

                        $('#h3_aa_totalunidadesdia').text(viewModel.data.AA_TotalUnidadesDia);
                        $('#p_aa_totalunidadesdia').text('@localizer["Total Unid. do dia"]' + " " + AA_dateDash);

                        $.busyLoadFull("hide");
                        console.log("LoadDataDia: contadores de vendas dia foram carregados");
                        console.log("LoadDataDia: sequência   $(#DataDashboard).on(change) terminou!!");
                    },
                    error: function () {
                        $.busyLoadFull("hide");
                        alert("loadDataDia: Error occurs");
                    }
                }
            );
        }

        function UpdateFilterLabel() {
            console.log("loja = hide.bs.dropdown");

            // let str = [];
            // let merc = $('#SelectMercadoId_filter :selected').text();
            // let mercId = parseInt($('#SelectMercadoId_filter').val());
            // let emp = $('#SelectEmpresaId_filter :selected').text();
            // let empId = parseInt($('#SelectEmpresaId_filter').val());
            // let grp = $('#SelectGrupolojaId_filter :selected').text();
            // let grpId = parseInt($('#SelectGrupolojaId_filter').val());
            // let lj = $('#SelectLojaId_filter :selected').text();
            // let ljId = parseInt($('#SelectLojaId_filter').val());

            let str = [];

            let merc = "";
            let mercId = 0;
            if ($('#SelectMercadoId_filter').length) {
                merc = $('#SelectMercadoId_filter :selected').text();
                mercId = parseInt($('#SelectMercadoId_filter').val());
            }
            if ($('#SelectMercadoId_filter_fix').length) {
                merc = $('#SelectMercadoId_filter_fix :selected').text();
                mercId = parseInt($('#SelectMercadoId_filter_fix').val());
            }

            let emp = "";
            let empId = 0;
            if ($('#SelectEmpresaId_filter').length) {
                emp = $('#SelectEmpresaId_filter :selected').text();
                empId = parseInt($('#SelectEmpresaId_filter').val());
            }
            if ($('#SelectEmpresaId_filter_fix').length) {
                emp = $('#SelectEmpresaId_filter_fix :selected').text();
                empId = parseInt($('#SelectEmpresaId_filter_fix').val());
            }

            let grp = "";
            let grpId = 0;
            if ($('#SelectGrupolojaId_filter').length) {
                grp = $('#SelectGrupolojaId_filter :selected').text();
                grpId = parseInt($('#SelectGrupolojaId_filter').val());
            }
            if ($('#SelectGrupolojaId_filter_fix').length) {
                grp = $('#SelectGrupolojaId_filter_fix :selected').text();
                grpId = parseInt($('#SelectGrupolojaId_filter_fix').val());
            }

            let lj = "";
            let ljId = 0;
            if ($('#SelectLojaId_filter').length) {
                lj = $('#SelectLojaId_filter :selected').text();
                ljId = parseInt($('#SelectLojaId_filter').val());
            }
            if ($('#SelectLojaId_filter_fix').length) {
                lj = $('#SelectLojaId_filter_fix :selected').text();
                ljId = parseInt($('#SelectLojaId_filter_fix').val());
            }


            if (mercId > 0) str.push(merc);
            if (empId > 0) str.push(emp);
            if (grpId > 0) str.push(grp);
            if (ljId > 0) str.push(lj);

            let lblFilter = str.join(" / ");
            $('#lbl_lojaSelector').html("");
            console.log(lblFilter);
            if (lblFilter.length > 0) {
                $('#lbl_lojaSelector').append(lblFilter);
            }
            else {
                $('#lbl_lojaSelector').append('@localizer["Todo o LVL group"]');
            }
        };

        function LoadBoxSemanal(date) {

            console.log("LoadBoxSemanal date =" + date.toLocaleDateString());


            let _mercadoId = GetMercadoFilterValue();
            let _empresaId = GetEmpresaFilterValue();
            let _grupolojaId = GetGrupolojaFilterValue();
            let _lojaId = GetLojaFilterValue();


            let _dia = date.getDate();
            let _mes = date.getMonth() + 1;
            let _ano = date.getFullYear();
            let _url = "/Vendas/VendaSemanal/OnGetBoxVendaSemanalFromDia?mercadoId=" + _mercadoId + "&empresaId=" + _empresaId + "&grupolojaId=" + _grupolojaId + "&lojaId=" + _lojaId + "&dia=" + _dia + "&mes=" + _mes + "&ano=" + _ano;

            var formData = new FormData();
            formData.append("mercadoId", _mercadoId);
            formData.append("empresaId", _empresaId);
            formData.append("grupolojaId", _grupolojaId);
            formData.append("lojaId", _lojaId);
            formData.append("dia", _dia);
            formData.append("mes", _mes);
            formData.append("ano", _ano);

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'html',
                    success: function (html) {
                        //let _html = JSON.parse(html);
                        $('#box-venda-semanal-container').html("");
                        $('#box-venda-semanal-container').html(html);

                        // // atualizar numero da semana
                        // let nSemana = $('#NumeroDaSemana_boxSemanal').val();
                        // $('#NumeroDaSemana').val(nSemana);
                    },
                    error: function (err) {
                        alert("LoadBoxSemanal: Error occurs");
                    }
                }
            );

        }

        function LoadBoxMensal(date) {

            console.log("LoadBoxMensal date =" + date.toLocaleDateString());


            let _mercadoId = GetMercadoFilterValue();
            let _empresaId = GetEmpresaFilterValue();
            let _grupolojaId = GetGrupolojaFilterValue();
            let _lojaId = GetLojaFilterValue();


            let _mes = date.getMonth() + 1;
            let _ano = date.getFullYear();

            let _url = "/Vendas/VendaSemanal/OnGetBoxVendaMensal?mercadoId=" + _mercadoId + "&empresaId=" + _empresaId + "&grupolojaId=" + _grupolojaId + "&lojaId=" + _lojaId + "&mes=" + _mes + "&ano=" + _ano;

            var formData = new FormData();
            formData.append("mercadoId", _mercadoId);
            formData.append("empresaId", _empresaId);
            formData.append("grupolojaId", _grupolojaId);
            formData.append("lojaId", _lojaId);
            formData.append("mes", _mes);
            formData.append("ano", _ano);

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'html',
                    success: function (html) {
                        //let _html = JSON.parse(html);
                        $('#box-venda-mensal-container').html("");
                        $('#box-venda-mensal-container').html(html);
                    },
                    error: function (err) {
                        alert("LoadBoxMensal: Error occurs");
                    }
                }
            );
        }

        function LoadChartVendasPorDia(date) {

            console.log("loadChartVendasPorDia: load partialview de vendas por dia");
            $.busyLoadFull("show");


            let lbltxt = '@localizer["Vendas de"]' + " " + $('#lbl_lojaSelector').text();

            let _url = "/Dashboard/DashboardVendasGeral/LoadChartVendasDia";

            let formData = new FormData();
            formData.append("mercadofilter", GetMercadoFilterValue());
            formData.append("empresafilter", GetEmpresaFilterValue());
            formData.append("grupolojafilter", GetGrupolojaFilterValue());
            formData.append("lojafilter", GetLojaFilterValue());
            formData.append("diafilter", date.toLocaleDateString());
            formData.append("title", lbltxt);
            formData.append("subtitle", '@localizer["vs. Ano anterior"]');


            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'html',
                    success: function (html) {

                        $('#ChartVendasPorDia').html("");
                        $('#ChartVendasPorDia').html(html);

                        $.busyLoadFull("hide");
                        console.log("LoadChartVendasPorDia: charts de vendas por dia foram carregados");
                        console.log("LoadChartVendasPorDia: sequência   $(#DataDashboard).on(change) terminou!!");
                    },
                    error: function () {
                        $.busyLoadFull("hide");
                        alert("LoadChartVendasPorDia: Error occurs");
                    }
                }
            );
        }

        function LoadChartVendasPorSemana(date) {

            console.log("loadChartVendasPorSemana: load partialview de vendas por semana");
            $.busyLoadFull("show");


            let lbltxt = '@localizer["Vendas de"]' + " " + $('#lbl_lojaSelector').text();

            let _url = "/Dashboard/DashboardVendasGeral/LoadChartVendasSemana";

            let formData = new FormData();
            formData.append("mercadofilter", GetMercadoFilterValue());
            formData.append("empresafilter", GetEmpresaFilterValue());
            formData.append("grupolojafilter", GetGrupolojaFilterValue());
            formData.append("lojafilter", GetLojaFilterValue());
            formData.append("diafilter", date.toLocaleDateString());
            formData.append("title", lbltxt);
            formData.append("subtitle", '@localizer["vs. Ano anterior"]');


            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'html',
                    success: function (html) {

                        $('#ChartVendasPorSemana').html("");
                        $('#ChartVendasPorSemana').html(html);

                        $.busyLoadFull("hide");
                        console.log("loadChartVendasPorSemana: charts de vendas por mês foram carregados");
                        console.log("loadChartVendasPorSemana: sequência   $(#DataDashboard).on(change) terminou!!");
                    },
                    error: function () {
                        $.busyLoadFull("hide");
                        alert("loadChartVendasPorSemana: Error occurs");
                    }
                }
            );
        }

        function LoadChartVendasPorMes(date) {

            console.log("loadChartVendasPorMes: load partialview de vendas por mês");
            $.busyLoadFull("show");


            let lbltxt = '@localizer["Vendas de"]' + " " + $('#lbl_lojaSelector').text();

            let _url = "/Dashboard/DashboardVendasGeral/LoadChartVendasMes";

            let formData = new FormData();
            formData.append("mercadofilter", GetMercadoFilterValue());
            formData.append("empresafilter", GetEmpresaFilterValue());
            formData.append("grupolojafilter", GetGrupolojaFilterValue());
            formData.append("lojafilter", GetLojaFilterValue());
            formData.append("diafilter", date.toLocaleDateString());
            formData.append("title", lbltxt);
            formData.append("subtitle", '@localizer["vs. Ano anterior"]');


            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'html',
                    success: function (html) {

                        $('#ChartVendasPorMes').html("");
                        $('#ChartVendasPorMes').html(html);

                        $.busyLoadFull("hide");
                        console.log("loadChartVendasPorMes: charts de vendas por mês foram carregados");
                        console.log("loadChartVendasPorMes: sequência   $(#DataDashboard).on(change) terminou!!");
                    },
                    error: function () {
                        $.busyLoadFull("hide");
                        alert("loadChartVendasPorMes: Error occurs");
                    }
                }
            );
        }

        function LoadChartVendasPorTrimestre(date) {

            console.log("loadChartVendasPorTrimestre: load partialview de vendas por trimestre");
            $.busyLoadFull("show");


            let lbltxt = '@localizer["Vendas de"]' + " " + $('#lbl_lojaSelector').text();

            let _url = "/Dashboard/DashboardVendasGeral/LoadChartVendasTrimestre";

            let formData = new FormData();
            formData.append("mercadofilter", GetMercadoFilterValue());
            formData.append("empresafilter", GetEmpresaFilterValue());
            formData.append("grupolojafilter", GetGrupolojaFilterValue());
            formData.append("lojafilter", GetLojaFilterValue());
            formData.append("diafilter", date.toLocaleDateString());
            formData.append("title", lbltxt);
            formData.append("subtitle", '@localizer["vs. Ano anterior"]');


            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'html',
                    success: function (html) {

                        $('#ChartVendasPorTrimestre').html("");
                        $('#ChartVendasPorTrimestre').html(html);

                        $.busyLoadFull("hide");
                        console.log("loadChartVendasPorTrimestre: charts de vendas por trimestre foram carregados");
                        console.log("loadChartVendasPorTrimestre: sequência   $(#DataDashboard).on(change) terminou!!");
                    },
                    error: function () {
                        $.busyLoadFull("hide");
                        alert("loadChartVendasPorTrimestre: Error occurs");
                    }
                }
            );
        }

        function LoadGrupolojaSelect_filter(empId) {
            //alert("Empresa changed = " + empId);

            var _empresaId = empId;
            var _url = "/Business/Grupoloja/LoadGruposlojas?empresaId=" + _empresaId;
            var formData = new FormData();
            formData.append("empresaId", _empresaId);

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        let _list = JSON.parse(data);
                        //$("#GrupolojaId_filter").val(0);
                        $('#SelectGrupolojaId_filter').find('option').remove();
                        let option = document.createElement('option');
                        $(option).val(0).text('@localizer["Selecione um agrupamento"]');
                        $(option).appendTo("#SelectGrupolojaId_filter");
                        $(_list.gruposlojasList).each(function () {
                            let option = document.createElement('option');
                            $(option).val(this.Value).text(this.Text);
                            $(option).appendTo("#SelectGrupolojaId_filter");
                        });
                        $("#GrupolojaId_filter").val($("#SelectGrupolojaId_filter").val());
                        LoadLojaSelect_filter($("#SelectGrupolojaId_filter").val());
                    },
                    error: function () {
                        alert("LoadGrupolojaSelect_filter: Error occurs");
                    }
                }
            );
        };

        function LoadLojaSelect_filter(grupoId) {
            //alert("Grupoloja changed = " + grupoId);

            var _grupolojaId = grupoId;
            var _url = "/Business/Loja/LoadLojasInGrupoloja?grupolojaId=" + _grupolojaId;
            var formData = new FormData();
            formData.append("grupolojaId", _grupolojaId);

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        let _list = JSON.parse(data);
                        // $("#LojaId_filter").val(0);
                        $('#SelectLojaId_filter').find('option').remove();
                        let option = document.createElement('option');
                        $(option).val(0).text('@localizer["Selecione uma loja"]');
                        $(option).appendTo("#SelectLojaId_filter");
                        $(_list.lojasList).each(function () {
                            let option = document.createElement('option');
                            $(option).val(this.Value).text(this.Text);
                            $(option).appendTo("#SelectLojaId_filter");
                        });
                        $("#LojaId_filter").val($("#SelectLojaId_filter").val());
                    },
                    error: function () {
                        alert("LoadLojaSelect_filter: Error occurs");
                    }
                }
            );
        };

        function LoadLojaSelectFromMercado_filter(mercadoId) {
            //alert("Mercado changed = " + mercadoId);

            var _mercadoId = mercadoId;
            var _url = "/Business/Loja/LoadLojasInMercado?mercadoId=" + _mercadoId;
            var formData = new FormData();
            formData.append("mercadoId", _mercadoId);

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        let _list = JSON.parse(data);
                        // $("#LojaId_filter").val(0);
                        $('#SelectLojaId_filter').find('option').remove();
                        let option = document.createElement('option');
                        $(option).val(0).text('@localizer["Selecione uma loja"]');
                        $(option).appendTo("#SelectLojaId_filter");
                        $(_list.lojasList).each(function () {
                            let option = document.createElement('option');
                            $(option).val(this.Value).text(this.Text);
                            $(option).appendTo("#SelectLojaId_filter");
                        });
                        $("#LojaId_filter").val($("#SelectLojaId_filter").val());
                    },
                    error: function () {
                        alert("LoadLojaSelectFromMercado_filter: Error occurs");
                    }
                }
            );
        };

        function LoadAllEmpresas_filter() {
            //alert("Empresas inicializados");

            var _url = "/Business/Empresa/LoadAllEmpresas";
            var formData = new FormData();

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        let _list = JSON.parse(data);
                        // $("#EmpresaId_filter").val(0);
                        $('#SelectEmpresaId_filter').find('option').remove();
                        let option = document.createElement('option');
                        $(option).val(0).text('@localizer["Selecione uma empresa"]');
                        $(option).appendTo("#SelectEmpresaId_filter");
                        $(_list.empresasList).each(function () {
                            let option = document.createElement('option');
                            $(option).val(this.Value).text(this.Text);
                            $(option).appendTo("#SelectEmpresaId_filter");
                        });
                        $("#EmpresaId_filter").val($("#SelectEmpresaId_filter").val());
                    },
                    error: function () {
                        alert("LoadAllEmpresas_filter: Error occurs");
                    }
                }
            );
        };

        function LoadAllMercados_filter() {
            //alert("Mercados inicializados");

            var _url = "/Business/Mercado/LoadAllMercados";
            var formData = new FormData();

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        let _list = JSON.parse(data);
                        // $("#MercadoId_filter").val(0);
                        $('#SelectMercadoId_filter').find('option').remove();
                        let option = document.createElement('option');
                        $(option).val(0).text('@localizer["Selecione um mercado"]');
                        $(option).appendTo("#SelectMercadoId_filter");
                        $(_list.mercadosList).each(function () {
                            let option = document.createElement('option');
                            $(option).val(this.Value).text(this.Text);
                            $(option).appendTo("#SelectMercadoId_filter");
                        });
                        $("#MercadoId_filter").val($("#SelectMercadoId_filter").val());
                    },
                    error: function () {
                        alert("LoadAllMercados_filter: Error occurs");
                    }
                }
            );
        };



        $(document).ready(function () {


            console.log("loading......");
            $.busyLoadSetup({ fontawesome: "fa fa-spinner fa-spin fa-3x fa-fw" });


            //------------------------- Inicializar plugin select2 FiltroLoja ----------------------------

            $('#SelectMercadoId_filter').select2({
                theme: 'bootstrap-5',
                width: '100%',
                escapeMarkup: function (m) {
                    return m;
                }
            });

            $('#SelectEmpresaId_filter').select2({
                theme: 'bootstrap-5',
                width: '100%',
                escapeMarkup: function (m) {
                    return m;
                }
            });

            $('#SelectGrupolojaId_filter').select2({
                theme: 'bootstrap-5',
                width: '100%',
                escapeMarkup: function (m) {
                    return m;
                }
            });

            $('#SelectLojaId_filter').select2({
                theme: 'bootstrap-5',
                width: '100%',
                escapeMarkup: function (m) {
                    return m;
                }
            });



            // Data Dashboard ----------------------------------------------------

            flatpickr.l10ns.default.firstDayOfWeek = 1; // Monday

            var flatpickrDataDash = $("#DataDashboard").flatpickr({
                onChange(date, dateStr, instance) {
                    // update contadores, boxsemanal e mensal
                    console.log("sequência   $(#DataDashboard).on(change) arrancou!! para data = " + dateStr);
                    
                    // loadDataDia(date[0]);
                    // LoadBoxSemanal(date[0]);
                    // LoadBoxMensal(date[0]);
                    refreshData();
                },
                dateFormat: '@localizer["d-m-Y"]',
                maxDate: 'today',
                locale: '@localizer["pt"]'
            });

            console.log("DataDashboard flatpicker started");




            //------------------------- Event Listeners ----------------------------

            $("#SelectMercadoId_filter").on("change", function () {
                $("#MercadoId_filter").val(this.value);

                console.log("Mercado changed:");
                console.log("Mercado = " + parseInt($("#MercadoId_filter").val(), 10));
                console.log("Empresa = " + parseInt($("#EmpresaId_filter").val(), 10));
                console.log("Grupoloja = " + parseInt($("#GrupolojaId_filter").val(), 10));
                console.log("Loja = " + parseInt($("#LojaId_filter").val(), 10));

                if (this.value > 0) {
                    // selecionar loja atraves do Mercado
                    $('#SelectEmpresaId_filter').val(0);
                    $('#SelectGrupolojaId_filter').find('option').remove();
                    $('#SelectLojaId_filter').find('option').remove();
                    $('#SelectEmpresaId_filter').prop('disabled', true);
                    $('#SelectGrupolojaId_filter').prop('disabled', true);
                    LoadLojaSelectFromMercado_filter(this.value);
                }
                else {
                    // selecionar loja atraves da Empresa
                    $('#SelectEmpresaId_filter').prop('disabled', false);
                    $('#SelectGrupolojaId_filter').prop('disabled', false);
                    console.log("MercadoId=0, selecionar loja atraves da Empresa, #EmpresaId_filter=" + $('#EmpresaId_filter').val());
                    LoadGrupolojaSelect_filter($('#EmpresaId_filter').val());
                }
            });

            $("#SelectEmpresaId_filter").on("change", function () {
                $("#EmpresaId_filter").val(this.value);

                console.log("Empresa changed:");
                console.log("Mercado = " + parseInt($("#MercadoId_filter").val(), 10));
                console.log("Empresa = " + parseInt($("#EmpresaId_filter").val(), 10));
                console.log("Grupoloja = " + parseInt($("#GrupolojaId_filter").val(), 10));
                console.log("Loja = " + parseInt($("#LojaId_filter").val(), 10));

                if (this.value > 0) {
                    // selecionar loja atraves da Empresa
                    $('#SelectMercadoId_filter').prop('disabled', true);
                    LoadGrupolojaSelect_filter(this.value);
                }
                else {
                    // selecionar loja atraves do Mercado
                    $('#SelectEmpresaId_filter').val(0);
                    $('#SelectGrupolojaId_filter').find('option').remove();
                    $('#SelectLojaId_filter').find('option').remove();
                    $('#SelectMercadoId_filter').prop('disabled', false);
                    //LoadLojaSelect_filter(this.value);
                }
            });

            $("#SelectGrupolojaId_filter").on("change", function () {
                $("#GrupolojaId_filter").val(this.value);

                console.log("Grupoloja changed:");
                console.log("Mercado = " + parseInt($("#MercadoId_filter").val(), 10));
                console.log("Empresa = " + parseInt($("#EmpresaId_filter").val(), 10));
                console.log("Grupoloja = " + parseInt($("#GrupolojaId_filter").val(), 10));
                console.log("Loja = " + parseInt($("#LojaId_filter").val(), 10));

                LoadLojaSelect_filter(this.value);
            });

            $("#SelectLojaId_filter").on("change", function () {
                $("#LojaId_filter").val(this.value);

                console.log("Loja changed:");
                console.log("Mercado = " + parseInt($("#MercadoId_filter").val(), 10));
                console.log("Empresa = " + parseInt($("#EmpresaId_filter").val(), 10));
                console.log("Grupoloja = " + parseInt($("#GrupolojaId_filter").val(), 10));
                console.log("Loja = " + parseInt($("#LojaId_filter").val(), 10));
            });

            $(".dropdown-lojafilter").on("hide.bs.dropdown", function () {

                console.log("dropdown-lojafilter changed.");

                UpdateFilterLabel();
                refreshData(); 
            });

            $('#reload').on('click', function () {

                console.log("reload.onclick");
                refreshData();
            });




            //------------------------- Inicializar filtros ----------------------------

            LoadAllEmpresas_filter();
            LoadAllMercados_filter();

            if ($("#SelectMercadoId_filter_fix").length) $("#MercadoId_filter").val($("#SelectMercadoId_filter_fix").val());
            if ($("#SelectEmpresaId_filter_fix").length) $("#EmpresaId_filter").val($("#SelectEmpresaId_filter_fix").val());
            if ($("#SelectGrupolojaId_filter_fix").length) $("#GrupolojaId_filter").val($("#SelectGrupolojaId_filter_fix").val());
            if ($("#SelectLojaId_filter_fix").length) $("#LojaId_filter").val($("#SelectLojaId_filter_fix").val());
            // if ($("#SelectLojaId_filter_fix_super").length) $("#LojaId_filter").val($("#SelectLojaId_filter_fix_super").val());

            console.log("Mercado = " + parseInt($("#MercadoId_filter").val(), 10));
            console.log("Empresa = " + parseInt($("#EmpresaId_filter").val(), 10));
            console.log("Grupoloja = " + parseInt($("#GrupolojaId_filter").val(), 10));
            console.log("Loja = " + parseInt($("#LojaId_filter").val(), 10));

            UpdateFilterLabel();
            
            let elementFp = document.querySelector("#DataDashboard");
            let dateCurrent = elementFp._flatpickr.selectedDates[0];


            // load tabelas vendas por dia
            $('#TabelasVendasPorDia').load('/dashboard/dashboardvendasgeral/LoadTablesVendasDia');

            // load chart vendas por dia
            LoadChartVendasPorDia(dateCurrent);

            // load tabelas vendas por semana
            $('#TabelasVendasPorSemana').load('/dashboard/dashboardvendasgeral/LoadTablesVendasSemana');

            // load chart vendas por semana
            LoadChartVendasPorSemana(dateCurrent);

            // load tabelas vendas por mes
            $('#TabelasVendasPorMes').load('/dashboard/dashboardvendasgeral/LoadTablesVendasMes');

            // load chart vendas por mes
            LoadChartVendasPorMes(dateCurrent);

            // load tabelas vendas por trimestre
            $('#TabelasVendasPorTrimestre').load('/dashboard/dashboardvendasgeral/LoadTablesVendasTrimestre');

            // load chart vendas por trimestre
            LoadChartVendasPorTrimestre(dateCurrent);

        });

    </script>
}
