@using Core.Constants
@using LVLgroupApp.Areas.Dashboard.Models.DashboardVendasRankingLojas
@using LVLgroupApp.Areas.Vendas.Models.VendaMensal
@using LVLgroupApp.Areas.Vendas.Models.VendaSemanal
@using LVLgroupApp.Views.Shared.Components.FiltroCalendario
@using LVLgroupApp.Views.Shared.Components.FiltroCalendario.Models
@using LVLgroupApp.Views.Shared.Components.FiltroLoja
@using LVLgroupApp.Views.Shared.Components.FiltroLoja.Models
@using System.Globalization

@model DashboardVendasRankingLojasViewModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer



@{
    ViewData["Title"] = localizer["Dashboard Top Vendas Loja"];
    ViewData["Caption"] = localizer["Ranking de Lojas"];
}




<!--data selector / reload-->
<div class="row mt-2">
    <!--Data Dashboard selector-->
    <div class="col-sm-3">
        <div class="form-floating mb-3">
            <input id="DataDashboard" name="DataDashboard" type="text" class="form-control" value="@Model.DataDashboard.ToShortDateString()" placeholder="name@example.com">
            <label class="col-form-label" for="DataDashboard">@localizer["Data"]</label>
        </div>
    </div>
    <!--reload button-->
    <div class="col-sm-3">
        <a id="reload" class="btn btn-primary text-white w-100 mb-3">
            <i class="fa fas fa-bolt"></i>
            @localizer["Recarregar"]
        </a>
    </div>
    <div class="col-sm-6"></div>
</div>




<!--Chart Top Vendas Do Dia-->
<div id="Chart_TopVendasDia_Container" class="mt-3">
    <div class="row pt-lg-6">
        <div class="col-lg-5 col-12">
            <div id="ChartTopVendasDia"></div>
        </div>
        <div class="col-lg-7 col-12">
            <div id="TabelaTopVendasDia"></div>
        </div>
    </div>
</div>




<!--Chart Top Vendas Da Semana-->
<div id="Chart_TopVendasSemana_Container" class="mt-3">
    <div class="row pt-lg-5">
        <div class="col-lg-5 col-12">
            <div id="ChartTopVendasSemana"></div>
        </div>
        <div class="col-lg-7 col-12">
            <div id="TabelaTopVendasSemana"></div>
        </div>
    </div>
</div>




<!--Chart Top Objetico Cumprido Da Semana-->
<div id="Chart_TopObjetivoSemana_Container" class="mt-3">
    <div class="row pt-lg-5">
        <div class="col-lg-5 col-12">
            <div id="ChartTopObjetivoSemana"></div>
        </div>
        <div class="col-lg-7 col-12">
            <div id="TabelaTopObjetivoSemana"></div>
        </div>
    </div>
</div>




<!--Chart Top Objetivos Cumpridos-->
<div id="Chart_TopObjetivos_Container" class="mt-3">
    <div class="row pt-lg-5">
        <div class="col-lg-5 col-12">
            <div id="ChartTopObjetivos"></div>
        </div>
        <div class="col-lg-7 col-12">
            <div id="TabelaTopObjetivos"></div>
        </div>
    </div>
</div>





@section Scripts
    {
    <script>

        function refreshData() {

            console.log('refreshData');

            let elementFp = document.querySelector("#DataDashboard");
            let dateCurrent = elementFp._flatpickr.selectedDates[0];
            let _dia = dateCurrent.getDate();
            let _mes = dateCurrent.getMonth() + 1;
            let _ano = dateCurrent.getFullYear();


            // Load Chart TopVendas Dia
            LoadChartTopVendasDia(_dia, _mes, _ano, 'ChartTopVendasDia');
            // Load Tabela TopVendas Dia
            $('#TabelaTopVendasDia').load('/dashboard/dashboardvendasrankinglojas/LoadTabelaTopVendasDia?dia=' + _dia + '&mes=' + _mes + '&ano=' + _ano);




            // Load Chart TopVendas Semana
            LoadChartTopVendasSemana(_dia, _mes, _ano, 'ChartTopVendasSemana');
            // Load Tabela TopVendas Semana
            $('#TabelaTopVendasSemana').load('/dashboard/dashboardvendasrankinglojas/LoadTabelaTopVendasSemana?dia=' + _dia + '&mes=' + _mes + '&ano=' + _ano);




            // Load Chart TopObjetivo Semana
            LoadChartTopObjetivoSemana(_dia, _mes, _ano, 'ChartTopObjetivoSemana');
            // Load Tabela TopObjetivo Semana
            $('#TabelaTopObjetivoSemana').load('/dashboard/dashboardvendasrankinglojas/LoadTabelaTopObjetivoSemanal?dia=' + _dia + '&mes=' + _mes + '&ano=' + _ano);




            // Load Chart TopObjetivos
            LoadChartTopObjetivos(_dia, _mes, _ano, 'ChartTopObjetivos');
            // Load Tabela TopObjetivos
            $('#TabelaTopObjetivos').load('/dashboard/dashboardvendasrankinglojas/LoadTabelaTopObjetivos?dia=' + _dia + '&mes=' + _mes + '&ano=' + _ano);
        }

        function LoadChartTopVendasDia(dia, mes, ano, divId) {

            console.log("LoadChartTopVendasDia: load partialview do chart TopVendasDia");
            $.busyLoadFull("show");

            let _url = "/Dashboard/dashboardvendasrankinglojas/LoadChartTopVendasDia";

            // criar formData
            let formData = new FormData();
            formData.append("dia", dia);
            formData.append("mes", mes);
            formData.append("ano", ano);
            formData.append("divfilter", divId);


            $.ajax({
                type: "POST",
                url: _url,
                data: formData,
                contentType: false,
                processData: false,
                dataType: 'html',
                success: function (html) {
                    $('#' + divId).html("");
                    $('#' + divId).html(html);
                    $.busyLoadFull("hide");
                    console.log("LoadChartTopVendasDia: partialview carregada com sucesso");
                },
                error: function (err) {
                    alert("LoadChartTopVendasDia: Error occurs");
                    $.busyLoadFull("hide");
                }
            });
        }

        function LoadChartTopVendasSemana(dia, mes, ano, divId) {

            console.log("LoadChartTopVendasSemana: load partialview do chart TopVendasSemana");
            $.busyLoadFull("show");

            let _url = "/Dashboard/dashboardvendasrankinglojas/LoadChartTopVendasSemana";

            // criar formData
            let formData = new FormData();
            formData.append("dia", dia);
            formData.append("mes", mes);
            formData.append("ano", ano);
            formData.append("divfilter", divId);


            $.ajax({
                type: "POST",
                url: _url,
                data: formData,
                contentType: false,
                processData: false,
                dataType: 'html',
                success: function (html) {
                    $('#' + divId).html("");
                    $('#' + divId).html(html);
                    $.busyLoadFull("hide");
                    console.log("LoadChartTopVendasSemana: partialview carregada com sucesso");
                },
                error: function (err) {
                    alert("LoadChartTopVendasSemana: Error occurs");
                    $.busyLoadFull("hide");
                }
            });
        }

        function LoadChartTopObjetivoSemana(dia, mes, ano, divId) {

            console.log("LoadChartTopObjetivoSemana: load partialview do chart TopObjetivoSemana");
            $.busyLoadFull("show");

            let _url = "/Dashboard/dashboardvendasrankinglojas/LoadChartTopObjetivoSemanal";

            // criar formData
            let formData = new FormData();
            formData.append("dia", dia);
            formData.append("mes", mes);
            formData.append("ano", ano);
            formData.append("divfilter", divId);


            $.ajax({
                type: "POST",
                url: _url,
                data: formData,
                contentType: false,
                processData: false,
                dataType: 'html',
                success: function (html) {
                    $('#' + divId).html("");
                    $('#' + divId).html(html);
                    $.busyLoadFull("hide");
                    console.log("LoadChartTopObjetivoSemana: partialview carregada com sucesso");
                },
                error: function (err) {
                    alert("LoadChartTopObjetivoSemana: Error occurs");
                    $.busyLoadFull("hide");
                }
            });
        }

        function LoadChartTopObjetivos(dia, mes, ano, divId) {

            console.log("LoadChartTopObjetivos: load partialview do chart TopObjetivos");
            $.busyLoadFull("show");

            let _url = "/Dashboard/dashboardvendasrankinglojas/LoadChartTopObjetivos";

            // criar formData
            let formData = new FormData();
            formData.append("dia", dia);
            formData.append("mes", mes);
            formData.append("ano", ano);
            formData.append("divfilter", divId);


            $.ajax({
                type: "POST",
                url: _url,
                data: formData,
                contentType: false,
                processData: false,
                dataType: 'html',
                success: function (html) {
                    $('#' + divId).html("");
                    $('#' + divId).html(html);
                    $.busyLoadFull("hide");
                    console.log("LoadChartTopObjetivos: partialview carregada com sucesso");
                },
                error: function (err) {
                    alert("LoadChartTopObjetivos: Error occurs");
                    $.busyLoadFull("hide");
                }
            });
        }




        $(document).ready(function () {

            $('#reload').on('click', function () {
                console.log("reload.onclick");
                refreshData();
            });




            // Data Dashboard ----------------------------------------------------

            flatpickr.l10ns.default.firstDayOfWeek = 1; // Monday

            var flatpickrDataDash = $("#DataDashboard").flatpickr({
                onChange(date, dateStr, instance) {
                    refreshData();
                },
                dateFormat: '@localizer["d-m-Y"]',
                maxDate: 'today',
                locale: '@localizer["pt"]'
            });

            console.log("DataDashboard flatpicker started");



            // load initial data
            refreshData();
        });


    </script>
}