@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using LVLgroupApp.Areas.Home.Models.Error
@model ErrorViewModel
@{
}

<div class="d-flex justify-content-center py-4">
    <div class="card pt-4">
        <div class="card-header">
            <h1 class="text-danger">@localizer["Erro"] @Model.ErrorCode</h1>
        </div>
        <div class="card-body">
            <h3><strong>@localizer["Ocorreu um erro durante o processamento do seu pedido"].</strong></h3>
            <h4 class="text-danger">@Model.ErrorMessage</h4>

            <p>
                <strong>Original path:</strong> <code>@Model.OriginalPath</code>
            </p>

            <p>
                <strong>Redirect url:</strong> <code>@Model.RedirectUrl</code>
            </p>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }
        </div>
    </div>
</div>



