@inject IHtmlLocalizer<SharedResource> localizer

<div class="container-fluid">
    <div>
        <img src="~/images/logo-transparent.png" id="home-logo" style="display: block; margin-left: auto; margin-right: auto; width: 200px;" />
    </div>
    <br />
    @*<h2 class="text-center display-4">LVL GROUP</h2>*@
    <div class="row" style="justify-content:center; font-size:medium">
        <div class="text-center">
            @*<small>*@
                @localizer["str3"]
            @*</small>*@
        </div>
    </div>
        <br />
     <div class="row" style="justify-content:center; font-size:medium">
        <div class="text-center">
            @*<small>*@
                @localizer["str4"]
            @*</small>*@
        </div>
    </div>
    <br /> <br /> <br /> <br />
    <div class="container z-depth-1" style=" margin-top: 30px;">
        <section class="p-md-3 mx-md-5">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-12">
                    <h2 class="mb-3"> @localizer["O que fazemos"]</h2>
                    <p class="text-muted pt-3">
                         @localizer["str2"]
                    </p>
                </div>
            </div>

            <br /> <br /> <br /> <br />

            <div class="row pt-3">
                <div class="col-lg-6 col-md-12 mb-10">
                    <h5 class="mb-3">
                        <i class="far fa-paper-plane indigo-text pr-2"></i> @localizer["O que nos motiva"]
                    </h5>
                    <p class="text-muted mb-lg-0">
                         @localizer["str1"]
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 mb-10">
                    <h5 class="mb-3">
                        <i class="fas fa-heart amber-text pr-2"></i> @localizer["O que nos destingue"]
                    </h5>
                    <p class="text-muted mb-md-0">
                         @localizer["str5"]
                    </p>
                </div>
            </div>

        </section>
    </div>
</div>