@page

@using Core.Enums
@using Core.Entities.Identity;
@using LVLgroupApp.Areas.Business.Controllers.Empresa
@using MediatR
@using AutoMapper

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject UserManager<ApplicationUser> UserManager
@inject IMediator mediator
@inject IMapper mapper

@model LVLgroupApp.Areas.Identity.Pages.ProfileModel

<div class="d-sm-flex align-items-center justify-content-between">
    <h1 class="h3 mb-0 text-gray-800">@localizer["Definições de"] @Model.FirstName @Model.LastName</h1>
</div>

<div id="userRoles" style="padding: 20px 20px 20px 0px">
    @foreach (var role in Model.RolesList)
    {
        <span class="badge bg-success">@role</span>
    }
</div>

@*@{
    //var userId = UserManager.GetUserId(User);
    var profileUser = await UserManager.FindByIdAsync(Model.UserId);
    var isSuperAdmin = await UserManager.IsInRoleAsync(profileUser, Roles.SuperAdmin.ToString());
    var isAdmin = await UserManager.IsInRoleAsync(profileUser, Roles.Admin.ToString());
    var isRevisor = await UserManager.IsInRoleAsync(profileUser, Roles.Revisor.ToString());
    var isSupervisor = await UserManager.IsInRoleAsync(profileUser, Roles.Supervisor.ToString());
    var isGerenteLoja = await UserManager.IsInRoleAsync(profileUser, Roles.GerenteLoja.ToString());
    var isColaborador = await UserManager.IsInRoleAsync(profileUser, Roles.Colaborador.ToString());
    var isBasic = await UserManager.IsInRoleAsync(profileUser, Roles.Basic.ToString());
}*@

<div>
    @if (User.IsInRole("SuperAdmin"))
    {

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-header py-3">
                        <h6 class="m-0 text-secondary">@localizer["Área de administração"]</h6>
                    </div>
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col">
                                @if (!@Model.IsActive)
                                {
                                    <form method="post" style="display: inline-flex;">
                                        <button style='margin-right:16px' type="submit" id="activate-profile" asp-route-userId="@Model.UserId" asp-page-handler="ActivateUser" class="btn btn-success btn-sm">
                                            @localizer["Ativar utilizador"]
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <form method="post" style="display: inline-flex;">
                                        <button style='margin-right:16px' type="submit" class="btn btn-danger btn-sm" asp-route-userId="@Model.UserId" asp-page-handler="DeActivateUser">
                                            @localizer["Desativar utilizador"]
                                        </button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    }

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header py-3">
                    <h6 class="m-0 text-secondary">@localizer["Foto de perfil"]</h6>
                </div>
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            @if (Model.ProfilePicture != null)
                            {
                                <img id="viewableImage" alt="@localizer["Foto de perfil de"] @Model.FirstName @Model.LastName" class="img-fluid mb-2" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture))">
                            }
                            else
                            {
                                <img id="viewableImage" alt="@localizer["Foto de perfil de"] @Model.FirstName @Model.LastName" class="img-fluid mb-2" src="~/images/default-user.png">
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <form id="profile-form" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header py-3">
                        <h6 class="m-0 text-secondary">@localizer["Funcionário"]</h6>
                    </div>
                    <div class="card-body">

                        <input type="text" id="EmpresaId" name="EmpresaId" asp-for="@Model.EmpresaId" class="form-control" hidden>
                        <input type="text" id="GrupolojaId" name="GrupolojaId" asp-for="@Model.GrupolojaId" class="form-control" hidden>
                        <input type="text" id="LojaId" name="LojaId" asp-for="@Model.LojaId" class="form-control" hidden>

                        <div class="row">
                            <div class="col-md-4">
                                @if ( Model.IsBasic || Model.IsColaborador || Model.IsGerenteLoja || Model.IsSupervisor )
                                {
                                    <div class="form-floating mb-3">
                                        @if ( User.IsInRole("SuperAdmin") )
                                        {
                                            <select name="SelectEmpresaId" id="SelectEmpresaId" class="form-select" asp-items="@Model.Empresas" data-placeholder='@localizer["Selecione uma empresa"]'>
                                                <option></option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select name="SelectEmpresaId" id="SelectEmpresaId" class="form-select" asp-items="@Model.Empresas" data-placeholder='@localizer["Selecione uma empresa"]' disabled>
                                                <option></option>
                                            </select>
                                        }
                                        <label class="col-form-label label-select" for="EmpresaId">@localizer["Empresa"]</label>
                                    </div>
                                }
                            </div>
                            <div class="col-md-4">
                                @if ( Model.IsBasic || Model.IsColaborador || Model.IsGerenteLoja || Model.IsSupervisor)
                                {
                                    <div class="form-floating mb-3">
                                        @if ( User.IsInRole("SuperAdmin") )
                                        {
                                            <select name="SelectGrupolojaId" id="SelectGrupolojaId" class="form-select" asp-items="@Model.Gruposlojas" data-placeholder='@localizer["Selecione um agrupamento"]'>
                                                <option></option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select name="SelectGrupolojaId" id="SelectGrupolojaId" class="form-select" asp-items="@Model.Gruposlojas" data-placeholder='@localizer["Selecione um agrupamento"]' disabled>
                                                <option></option>
                                            </select>
                                        }
                                        <label class="col-form-label label-select" for="GrupolojaId">@localizer["Agrupamento"]</label>
                                    </div>
                                }
                            </div>
                            <div class="col-md-4">
                                @if ( Model.IsBasic || Model.IsColaborador || Model.IsGerenteLoja )
                                {
                                    <div class="form-floating mb-3">
                                        @if ( User.IsInRole("SuperAdmin") )
                                        {
                                            <select name="SelectLojaId" id="SelectLojaId" class="form-select" asp-items="@Model.Lojas" data-placeholder='@localizer["Selecione uma loja"]'>
                                                <option></option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select name="SelectLojaId" id="SelectLojaId" class="form-select" asp-items="@Model.Lojas" data-placeholder='@localizer["Selecione uma loja"]' disabled>
                                                <option></option>
                                            </select>
                                        }
                                        <label class="col-form-label label-select" for="LojaId">@localizer["Loja"]</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        @if (User.IsInRole("SuperAdmin") && (Model.IsBasic || Model.IsColaborador || Model.IsGerenteLoja || Model.IsSupervisor))
                        {
                            <button style='margin-right:16px' type="submit" id="update-loja-profile" asp-route-userId="@Model.UserId" asp-route-empresaId="@Model.EmpresaId" asp-route-grupolojaId="@Model.GrupolojaId" asp-route-lojaId="@Model.LojaId" asp-page-handler="UpdateLoja" class="btn btn-success btn-sm">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span class="text">@localizer["Atualizar"]</span>
                            </button>
                        }
                        else
                        {
                            <button style='margin-right:16px' type="submit" id="update-profile-button" class="btn btn-success btn-icon-split" disabled>
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                                <span class="text">@localizer["Atualizar"]</span>
                            </button>
                        }
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

@section Scripts
{

    <script>
        


        //------------------------- Inicializar plugin select2 ----------------------------



        $('#SelectEmpresaId').select2({
            theme: 'bootstrap-5',
            escapeMarkup: function (m) {
                return m;
            }
        });

        $('#SelectGrupolojaId').select2({
            theme: 'bootstrap-5',
            escapeMarkup: function (m) {
                return m;
            }
        });

        $('#SelectLojaId').select2({
            theme: 'bootstrap-5',
            escapeMarkup: function (m) {
                return m;
            }
        });



        //------------------------- Event Listeners ----------------------------



        $("#SelectEmpresaId").on("change", function () {
            $("#EmpresaId").val(this.value);
            LoadGrupolojaSelect(this.value);
        });

        $("#SelectGrupolojaId").on("change", function () {
            $("#GrupolojaId").val(this.value);
            LoadLojaSelect(this.value);
        });

        $("#SelectLojaId").on("change", function () {
            $("#LojaId").val(this.value);
        });



        //------------------------- functions ----------------------------



        function LoadGrupolojaSelect(empId) {
            //alert("Empresa changed = " + this.value);

            var _empresaId = empId;
            var _url = "/Business/Grupoloja/LoadGruposlojas?empresaId=_empresaId";
            var formData = new FormData();
            formData.append("empresaId", _empresaId);

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        var _list = JSON.parse(data);
                        //$("#GrupolojaId").val(0);
                        $('#SelectGrupolojaId').find('option').remove();
                        $(_list.gruposlojasList).each(function () {
                            let option = document.createElement('option');
                            $(option).val(this.Value).text(this.Text);
                            $(option).appendTo("#SelectGrupolojaId");
                        });
                        $("#GrupolojaId").val($("#SelectGrupolojaId").val());
                        LoadLojaSelect($("#SelectGrupolojaId").val());
                    },
                    error: function () {
                        alert("Error occurs");
                    }
                }
            );
        };

        function LoadLojaSelect(grupoId) {
            //alert("Grupoloja changed = " + this.value);

            var _grupolojaId = grupoId;
            var _url = "/Business/Loja/LoadLojasInGrupoloja?grupolojaId=_grupolojaId";
            var formData = new FormData();
            formData.append("grupolojaId", _grupolojaId);

            $.ajax(
                {
                    type: "POST",
                    url: _url,
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        var _list = JSON.parse(data);
                        // $("#LojaId").val(0);
                        $('#SelectLojaId').find('option').remove();
                        $(_list.lojasList).each(function () {
                            let option = document.createElement('option');
                            $(option).val(this.Value).text(this.Text);
                            $(option).appendTo("#SelectLojaId");
                        });
                        $("#LojaId").val($("#SelectLojaId").val());
                    },
                    error: function () {
                        alert("Error occurs");
                    }
                }
            );

        };


    </script>
}