@using Core.Constants
@using Core.Enums
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model LVLgroupApp.Views.Shared.Components.FiltroCalendario.Models.FiltroCalendarioViewModel


<style>
    .card .btn-group label{
        width: 60px;
    }
</style>



<input type="text" id="ApplyFiltroCalendario_Function" name="ApplyFiltroCalendario_Function" class="form-control" value="@Model.ApplyFiltroCalendario_Function" hidden>



<div class="row">
    <div class="col-md-12">
        <div class="form-floating mb-3">
            <select name="CalendarOption" id="CalendarOption" class="form-select" data-placeholder='@localizer["Selecione uma opção"]'>
                <option value="0">@localizer["Utilizar filtro"]</option>
                <option value="1">@localizer["Hoje"]</option>
                <option value="2">@localizer["Ontem"]</option>
                <option value="3">@localizer["Esta semana"]</option>
                <option value="4">@localizer["Semana anterior"]</option>
                <option value="5">@localizer["Este mês"]</option>
                <option value="6">@localizer["Mês anterior"]</option>
                <option value="7">@localizer["Este trimestre"]</option>
                <option value="8">@localizer["Trimestre anterior"]</option>
                <option value="9">@localizer["Este ano"]</option>
                <option value="10">@localizer["Ano anterior"]</option>
            </select>
            <label class="col-form-label label-select" for="CalendarOption">@localizer["Opções"]</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card" style="padding: 10px;">
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                @foreach (var year in Model.Years)
                {
                    <input type="checkbox" class="btn-check" id="btncheckY_@year" autocomplete="off" onchange="dateFilterYearChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckY_@year">@year</label>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        @* filtro trimestre *@
        <div class="card mt-3 mb-4" style="padding: 10px;">
            <div class="row">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" id="btncheckQ_Q1" autocomplete="off" onchange="dateFilterQuarterChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckQ_Q1">Q1</label>

                    <input type="checkbox" class="btn-check" id="btncheckQ_Q2" autocomplete="off" onchange="dateFilterQuarterChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckQ_Q2">Q2</label>

                    <input type="checkbox" class="btn-check" id="btncheckQ_Q3" autocomplete="off" onchange="dateFilterQuarterChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckQ_Q3">Q3</label>

                    <input type="checkbox" class="btn-check" id="btncheckQ_Q4" autocomplete="off" onchange="dateFilterQuarterChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckQ_Q4">Q4</label>
                </div>
            </div>
        </div>
        @* filtro semana *@
        <div class="row row mt-1 px-4">
            <div class="input-group">
                <div class="form-floating">
                    <input id="FromSemana" name="FromSemana" type="number" step="1" min="1" max="53" value="1" class="form-control">
                    <label class="col-form-label" for="FromSemana">@localizer["Sem. inicial"]</label>
                </div>
                <div class="form-floating">
                    <input id="ToSemana" name="ToSemana" type="number" step="1" min="1" max="53" value="53" class="form-control">
                    <label class="col-form-label" for="ToSemana">@localizer["Sem. final"]</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card mt-3" style="padding: 10px;">
            <div class="row">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" id="btncheckM_Jan" autocomplete="off" onchange="dateFilterMonthChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckM_Jan">@localizer["Jan"]</label>

                    <input type="checkbox" class="btn-check" id="btncheckM_Fev" autocomplete="off" onchange="dateFilterMonthChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckM_Fev">@localizer["Fev"]</label>

                    <input type="checkbox" class="btn-check" id="btncheckM_Mar" autocomplete="off" onchange="dateFilterMonthChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckM_Mar">@localizer["Mar"]</label>
                </div>
            </div>
            <div class="row">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" id="btncheckM_Abr" autocomplete="off" onchange="dateFilterMonthChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckM_Abr">@localizer["Abr"]</label>

                    <input type="checkbox" class="btn-check" id="btncheckM_Mai" autocomplete="off" onchange="dateFilterMonthChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckM_Mai">@localizer["Mai"]</label>

                    <input type="checkbox" class="btn-check" id="btncheckM_Jun" autocomplete="off" onchange="dateFilterMonthChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckM_Jun">@localizer["Jun"]</label>
                </div>
            </div>
            <div class="row">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" id="btncheckM_Jul" autocomplete="off" onchange="dateFilterMonthChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckM_Jul">@localizer["Jul"]</label>

                    <input type="checkbox" class="btn-check" id="btncheckM_Ago" autocomplete="off" onchange="dateFilterMonthChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckM_Ago">@localizer["Ago"]</label>

                    <input type="checkbox" class="btn-check" id="btncheckM_Set" autocomplete="off" onchange="dateFilterMonthChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckM_Set">@localizer["Set"]</label>
                </div>
            </div>
            <div class="row">
                <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check" id="btncheckM_Out" autocomplete="off" onchange="dateFilterMonthChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckM_Out">@localizer["Out"]</label>

                    <input type="checkbox" class="btn-check" id="btncheckM_Nov" autocomplete="off" onchange="dateFilterMonthChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckM_Nov">@localizer["Nov"]</label>

                    <input type="checkbox" class="btn-check" id="btncheckM_Dez" autocomplete="off" onchange="dateFilterMonthChanged()">
                    <label class="btn btn-sm btn-outline" for="btncheckM_Dez">@localizer["Dez"]</label>
                </div>
            </div>
        </div>
    </div>
</div>


